openapi: 3.2.0
info:
  title: Griffin API keys API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: API Keys
  description: 'The `api-key-secret` field is only shown once when you create an API key.

    We cannot recover the value, so you should store it securely.


    Pass an `Authorization` header with `GriffinAPIKey api-key-secret` to authenticate.


    Each API key is only valid for one organization.

    If you are a member of multiple organizations, you will need to create a new API key for each one.

    There is currently no limit on the number of API keys you can create.'
paths:
  /v0/api-keys/{api-key-id}:
    get:
      tags:
      - API Keys
      description: Returns the API key without `api-key-secret`.
      parameters:
      - required: true
        name: api-key-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  api-key-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        api-key-id:
                          type: string
                          format: ''
                          title: api-key-id
                          required: true
                          name: api-key-id
                      required:
                      - api-key-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          api-key-id:
                            type: string
                            format: ''
                            title: api-key-id
                            required: true
                            name: api-key-id
                        required:
                        - api-key-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          api-key-id:
                            type: string
                            format: ''
                            title: api-key-id
                            required: true
                            name: api-key-id
                        required:
                        - api-key-id
                    title: api-key-url
                    description: The resource path for the API key
                    example: /v0/api-keys/ak.ICAgICAgYXBpLWtleS1pZA
                  api-key-name:
                    title: api-key-name
                    pattern: ^[a-zA-z0-9-_]+
                    description: The immutable display name for the API key
                    maxLength: 64
                    example: buildserver
                    minLength: 1
                  api-key-live?:
                    type: boolean
                  organization-url:
                    type: string
                    title: organization-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                    description: Link to the [organization](#tag/Organizations).
                  user-url:
                    type: string
                    title: user-url
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the user.
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                required:
                - api-key-url
                - api-key-name
                - api-key-live?
                - organization-url
                - user-url
                - created-at
                title: api-key
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get API key
      operationId: getV0ApiKeysByApiKeyId
      x-operation-id-source: derived
    delete:
      tags:
      - API Keys
      description: Deletes the API Key. This operation cannot be undone.
      parameters:
      - required: true
        name: api-key-id
        in: path
        schema:
          type: string
      responses:
        '204':
          description: ''
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
        '422':
          description: ''
      summary: Delete API key
      operationId: deleteV0ApiKeysByApiKeyId
      x-operation-id-source: derived
  /v0/organizations/{organization-id}/api-keys:
    get:
      tags:
      - API Keys
      description: List all active API keys in your organization.
      parameters:
      - in: query
        name: sort
        description: ''
        required: false
        schema:
          type: string
          enum:
          - -created-at
          - created-at
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - required: true
        name: organization-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  api-keys:
                    type: array
                    items:
                      type: object
                      properties:
                        api-key-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              api-key-id:
                                type: string
                                format: ''
                                title: api-key-id
                                required: true
                                name: api-key-id
                            required:
                            - api-key-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                api-key-id:
                                  type: string
                                  format: ''
                                  title: api-key-id
                                  required: true
                                  name: api-key-id
                              required:
                              - api-key-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                api-key-id:
                                  type: string
                                  format: ''
                                  title: api-key-id
                                  required: true
                                  name: api-key-id
                              required:
                              - api-key-id
                          title: api-key-url
                          description: The resource path for the API key
                          example: /v0/api-keys/ak.ICAgICAgYXBpLWtleS1pZA
                        api-key-name:
                          title: api-key-name
                          pattern: ^[a-zA-z0-9-_]+
                          description: The immutable display name for the API key
                          maxLength: 64
                          example: buildserver
                          minLength: 1
                        api-key-live?:
                          type: boolean
                        organization-url:
                          type: string
                          title: organization-url
                          example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                          description: Link to the [organization](#tag/Organizations).
                        user-url:
                          type: string
                          title: user-url
                          example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                          description: Link to the user.
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                      required:
                      - api-key-url
                      - api-key-name
                      - api-key-live?
                      - organization-url
                      - user-url
                      - created-at
                      title: api-key
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                  included:
                    title: ''
                    description: Present only when the request uses the `include` parameter.
                required:
                - api-keys
                - links
                title: organization-api-keys-response
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
      summary: List API keys
      operationId: getV0OrganizationsByOrganizationIdApiKeys
      x-operation-id-source: derived
    post:
      tags:
      - API Keys
      description: Create a new API key. This is the only time `api-key-secret` is shown.
      parameters:
      - required: true
        name: organization-id
        in: path
        schema:
          type: string
      responses:
        '201':
          headers:
            Location:
              description: The URL of the created API key
              schema:
                type: string
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  api-key-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        api-key-id:
                          type: string
                          format: ''
                          title: api-key-id
                          required: true
                          name: api-key-id
                      required:
                      - api-key-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          api-key-id:
                            type: string
                            format: ''
                            title: api-key-id
                            required: true
                            name: api-key-id
                        required:
                        - api-key-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          api-key-id:
                            type: string
                            format: ''
                            title: api-key-id
                            required: true
                            name: api-key-id
                        required:
                        - api-key-id
                    title: api-key-url
                    description: The resource path for the API key
                    example: /v0/api-keys/ak.ICAgICAgYXBpLWtleS1pZA
                  api-key-name:
                    title: api-key-name
                    pattern: ^[a-zA-z0-9-_]+
                    description: The immutable display name for the API key
                    maxLength: 64
                    example: buildserver
                    minLength: 1
                  api-key-live?:
                    type: boolean
                  organization-url:
                    type: string
                    title: organization-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                    description: Link to the [organization](#tag/Organizations).
                  user-url:
                    type: string
                    title: user-url
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the user.
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  api-key-secret:
                    type: string
                    title: api-key-secret
                    description: The API secret
                    example: g-test-buildserver-RrUZ5fUG4pSKwYVVG1C3Ft1xrMRxy1T7KUIyTva5bTk
                required:
                - api-key-live?
                - api-key-name
                - api-key-secret
                - api-key-url
                - created-at
                - organization-url
                - user-url
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
        '409':
          description: ''
      summary: Create API Key
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                api-key-name:
                  title: api-key-name
                  description: The name of the API Key. Cannot contain whitespace.
                  minLength: 1
              required:
              - api-key-name
              title: request-create-api-key
        required: true
      operationId: postV0OrganizationsByOrganizationIdApiKeys
      x-operation-id-source: derived
  /v0/users/{user-id}/api-keys:
    get:
      tags:
      - API Keys
      description: List all your active API keys.
      parameters:
      - in: query
        name: sort
        description: ''
        required: false
        schema:
          type: string
          enum:
          - -created-at
          - created-at
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - required: true
        name: user-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  api-keys:
                    type: array
                    items:
                      type: object
                      properties:
                        api-key-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              api-key-id:
                                type: string
                                format: ''
                                title: api-key-id
                                required: true
                                name: api-key-id
                            required:
                            - api-key-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                api-key-id:
                                  type: string
                                  format: ''
                                  title: api-key-id
                                  required: true
                                  name: api-key-id
                              required:
                              - api-key-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                api-key-id:
                                  type: string
                                  format: ''
                                  title: api-key-id
                                  required: true
                                  name: api-key-id
                              required:
                              - api-key-id
                          title: api-key-url
                          description: The resource path for the API key
                          example: /v0/api-keys/ak.ICAgICAgYXBpLWtleS1pZA
                        api-key-name:
                          title: api-key-name
                          pattern: ^[a-zA-z0-9-_]+
                          description: The immutable display name for the API key
                          maxLength: 64
                          example: buildserver
                          minLength: 1
                        api-key-live?:
                          type: boolean
                        organization-url:
                          type: string
                          title: organization-url
                          example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                          description: Link to the [organization](#tag/Organizations).
                        user-url:
                          type: string
                          title: user-url
                          example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                          description: Link to the user.
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                      required:
                      - api-key-url
                      - api-key-name
                      - api-key-live?
                      - organization-url
                      - user-url
                      - created-at
                      title: api-key
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                required:
                - api-keys
                - links
                title: api-keys-response
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
      summary: List API keys
      operationId: getV0UsersByUserIdApiKeys
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
