swagger: '2.0'
info:
  title: The Griffin API keys Legal persons API
  version: "1.0"
  description: "## Introduction\n\nThe Griffin API is based on [REST](https://en.wikipedia.org/wiki/Representational_state_transfer).\nIt has resource-oriented URLs, accepts [JSON](https://www.json.org/json-en.html)-encoded request bodies, returns [JSON](https://www.json.org/json-en.html)-encoded responses, and uses standard HTTP response verbs and response codes.\n\nOur API deviates from strict RESTful principles if it makes sense to do so, such as when we enforce tighter access controls around certain operations.\nFor example, when closing a bank account: rather than send a PATCH request to the [bank account](#tag/Bank-accounts) resource to update it's status to `\"closed\"`, we provide a dedicated account closure resource.\n\nAnyone can [create an account](https://app.griffin.com/register) with Griffin and try out our API in [sandbox mode](/docs/guides/sandbox-vs-live-mode).\n\nNew to Griffin? Check out our [getting started guide](/docs/guides/get-started-with-the-api).\n\n## Navigation\n\nOur API is designed to be navigated programmatically. When you request any resource, you will find the URLs for related resources in the response body.\n\nThe API is structured as a tree with your [organization](#tag/Organizations) at the top. Everything that you own will be a sub-resource of your organization.\n\nTo bootstrap the navigation process, request the [index](#tag/Navigation/paths/~1v0~1index/get) endpoint: the response will contain your `organization-url`.\n\nFor a walkthrough, see our [getting started guide](/docs/guides/get-started-with-the-api).\n\n## Pagination\n\nOur list APIs support pagination (e.g. [list bank accounts](#tag/Bank-accounts/paths/~1v0~1organizations~1%7Borganization-id%7D~1bank~1accounts/get) and [list payments](#tag/Payments/paths/~1v0~1bank~1accounts~1%7Bbank-account-id%7D~1payments/get)).\nBy default, a list API returns up to 25 results. If there are more results available, the response payload will include links to the previous/next pages.\n\n### Change page size\n\nYou can request a different number of results (between 1 and 200, inclusive) by using the `page[size]` query parameter:\n\n```\nGET /v0/organizations/:id/bank/accounts?page[size]=100\n```\n\n### Navigating between pages\n\nList responses will include a `links` object with `prev` and `next` attributes, as shown below.\nPerform a GET request to the value of the attribute to fetch the previous/next page of results.\n\n```\n{\n  \"accounts\": [\n    // ...\n  ],\n  \"links\": {\n    \"prev\": \"/v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts?page[before]=djE6WxSPxfYUTnCU9XtWzj9gGA\",\n    \"next\": \"/v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts?page[after]=djE6aw79PXZySUOL16LD8HRJ3A\"\n  }\n}\n\n```\nIf there is no previous or next page available, the value of the attribute will be  null.\n\nAny other query parameters included in the initial request will also be included in the response payload's links.\nIf you want to change parameters (see [filtering and sorting](#section/Filtering-and-sorting)), request the first page and follow the links from there.\n\n## Filtering and sorting\n\n### Sort results\n\nBy default, resources will be listed in descending order, usually based on the `created-at` attribute.\nYou can change the sorting behaviour of a list of results by using the `sort` query parameter.\n\nFor example, to list bank accounts in ascending order (oldest first):\n\n```\nGET /v0/organizations/:id/bank/accounts?sort=created-at\n```\n\nTo _explicitly_ sort in descending order (newest first), prefix the sort attribute with `-`:\n\n```\nGET /v0/organizations/:id/bank/accounts?sort=-created-at\n```\n\n### Filter results\n\nSome list APIs allow you to filter the results.\nFilters are expressed as nested data structures encoded into query parameters.\nFor example, you can list bank accounts that are in either the `opening` or `open` state with:\n\n```\nGET /v0/organizations/:id/bank/accounts?filter[account-status][in][]=opening&filter[account-status][in][]=open\n```\n\nSimilarly, you can list legal persons with a specific `application-status`:\n\n```\nGET /v0/organizations/:id/legal-persons?filter[application-status][eq]=accepted\n```\n\n### Include resources\n\nSome list APIs allow you to include associated resources in the response, reducing the number of requests needed to fetch related data.\nFor instance, when listing bank accounts, you can include each bank account's beneficiary legal person by using the `include` query parameter:\n\n```\nGET /v0/organizations/:id/bank/accounts?include=beneficiary\n```\n\nThe response returns the usual list of bank accounts, but it will also have an `included` object with a `legal-persons` attribute:\n\n```\n{\n  \"accounts\": [\n    // ...\n  ],\n  \"links\": {\n    // ...\n  }\n  \"included\": {\n    \"legal-persons\": [\n      // ...\n    ]\n  }\n}\n```\n\nCheck the documentation for each list API to see all options for sorting and filtering\n\n## Request limits\n\nEach organization is allowed up to 50 concurrent (in-flight) API requests. Exceeding this threshold results in a 429 - Too Many Requests response. Upon receiving a 429 response, you should implement a backoff strategy, pausing to allow your outstanding requests to complete before attempting new requests. To manage your request rate effectively and avoid surpassing this limit, consider using a controlled approach such as a finite pool of threads or workers.\n\n## Versioning\n\nThe Griffin API is versioned via a prefix in the URL.\nThe current version is v0.\nAn example endpoint is: https://api.griffin.com/v0/index.\n\nWe will not break your integration with a particular version for as long as we support that version.\nIf we release a new version, you will have 12 months to upgrade to it."
host: api.griffin.com
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- api-key-auth: []
tags:
- name: Legal persons
  description: 'In the Griffin API, your organization and your customers are all represented by [legal persons](/docs/terms/legal-person). When you sign up with Griffin, your organization will be automatically assigned a unique legal person ID. When onboarding your customers, you will create legal persons to represent them.


    Every legal person has a `legal-person-type` with the value: `individual` or `corporation`.


    An `individual` represents an individual human.


    A `corporation` represents any non-human entity (not just companies). A corporation should have at least one [director](/docs/terms/director) or [person with significant control](/docs/terms/person-with-significant-control) attached to it, who must also be represented as a distinct `individual` legal person.'
paths:
  /v0/legal-persons/{legal-person-id}:
    get:
      tags:
      - Legal persons
      description: Yields the legal-person.
      parameters:
      - type: string
        required: true
        name: legal-person-id
        in: path
      responses:
        '200':
          schema:
            type: object
            properties:
              latest-decision:
                type: object
                properties:
                  decision-outcome:
                    title: decision-outcome
                    type: string
                    enum:
                    - accepted
                    - declined
                  decision-notes:
                    type: string
                    title: decision-notes
                    description: Free-text field to explain the reasons behind the decision.
                  verification-url:
                    type: string
                    title: verification-url
                    example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA
                    description: A link to the [verification](#tag/Verifications).
                  legal-person-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    title: legal-person-url
                    description: A contextual link to the [legal person](#tag/Legal-persons).
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  decision-maker:
                    title: decision-maker
                    enum:
                    - system
                    - ops-user
                    - user
                    type: string
                    description: Indicates if the decision was automated or made by a human.
                  decision-user-url:
                    type: string
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the [user](#tag/Users) that made the decision (if applicable).
                    title: decision-user-url
                  decision-ops-user:
                    title: decision-ops-user
                    enum:
                    - griffin-ops-user
                    type: string
                    description: Indicates that an Ops user has created the decision.
                  decision-user-username:
                    type: string
                    example: user@example.com
                    description: Username of the [user](#tag/Users) that made the decision (if applicable).
                    title: decision-user-username
                required:
                - legal-person-url
                - verification-url
                - decision-outcome
                - decision-maker
                - decision-notes
                - created-at
                title: latest-decision
                description: The most recent [decision](#tag/Decisions)
              legal-person-type:
                title: legal-person-type
                enum:
                - individual
                - corporation
                type: string
                description: Specifies if the legal person is an `individual` or a `corporation`.
              latest-risk-rating-url:
                type: string
                title: latest-risk-rating-url
                example: /v0/risk-ratings/rr.ICByaXNrLXJhdGluZy1pZA
                description: A contextual link to the risk rating.
              display-name:
                type: string
                minLength: 1
                title: display-name
                description: The mutable display name for the Legal-Person
                maxLength: 64
                example: Company name
              application-status:
                title: application-status
                enum:
                - referred
                - errored
                - declined
                - submitted
                - accepted
                type: string
                description: Status of the current [application](/docs/terms/application)
              legal-person-status:
                title: legal-person-status
                enum:
                - restricted
                - onboarding-declined
                - onboarded
                - verified
                - onboarding
                type: string
                description: Status of the [legal person](#tag/Legal-persons)
              legal-person-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                title: legal-person-url
                description: A contextual link to the [legal person](#tag/Legal-persons).
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
              legal-person-decisions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                title: legal-person-decisions-url
                description: Link to [decisions](#tag/Decisions) for this [legal person](/docs/terms/legal-person).
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/decisions
              status-changed-at:
                title: status-changed-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              created-at:
                title: created-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              legal-person-claims-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                title: legal-person-claims-url
                description: Link to the [claims](#tag/Claims) for this [legal person](/docs/terms/legal-person).
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/claims
              legal-person-bank-payees-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                title: legal-person-bank-payees-url
                description: Link to the [payees](#tag/Payees) for this [legal person](/docs/terms/legal-person).
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/bank/payees
              legal-person-verifications-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                title: legal-person-verifications-url
                description: Link to all [verifications](#tag/Verifications) run against this [legal person](/docs/terms/legal-person).
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/verifications
              legal-name:
                type: string
                title: legal-name
                description: A read-only, human readable label derived from claims
              legal-person-documents-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                title: legal-person-documents-url
                description: Link to all evidence documents associated with this [legal person](/docs/terms/legal-person).
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/documents
            required:
            - created-at
            - display-name
            - legal-person-decisions-url
            - legal-person-documents-url
            - legal-person-type
            - legal-person-url
            - legal-person-verifications-url
            title: legal-person
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              type: string
              description: Returns `GriffinSession` if no valid authentication is found.
        '404':
          description: ''
      summary: Get legal person
    put:
      tags:
      - Legal persons
      description: Updates the legal-person.
      parameters:
      - in: body
        name: request-update-legal-person
        description: ''
        required: true
        schema:
          type: object
          properties:
            display-name:
              type: string
              minLength: 1
              title: display-name
              description: A human readable label for an entity
          required:
          - display-name
          title: request-update-legal-person
      - type: string
        required: true
        name: legal-person-id
        in: path
      responses:
        '200':
          schema:
            type: object
            properties:
              latest-decision:
                type: object
                properties:
                  decision-outcome:
                    title: decision-outcome
                    type: string
                    enum:
                    - accepted
                    - declined
                  decision-notes:
                    type: string
                    title: decision-notes
                    description: Free-text field to explain the reasons behind the decision.
                  verification-url:
                    type: string
                    title: verification-url
                    example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA
                    description: A link to the [verification](#tag/Verifications).
                  legal-person-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    title: legal-person-url
                    description: A contextual link to the [legal person](#tag/Legal-persons).
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  decision-maker:
                    title: decision-maker
                    enum:
                    - system
                    - ops-user
                    - user
                    type: string
                    description: Indicates if the decision was automated or made by a human.
                  decision-user-url:
                    type: string
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the [user](#tag/Users) that made the decision (if applicable).
                    title: decision-user-url
                  decision-ops-user:
                    title: decision-ops-user
                    enum:
                    - griffin-ops-user
                    type: string
                    description: Indicates that an Ops user has created the decision.
                  decision-user-username:
                    type: string
                    example: user@example.com
                    description: Username of the [user](#tag/Users) that made the decision (if applicable).
                    title: decision-user-username
                required:
                - legal-person-url
                - verification-url
                - decision-outcome
                - decision-maker
                - decision-notes
                - created-at
                title: latest-decision
                description: The most recent [decision](#tag/Decisions)
              legal-person-type:
                title: legal-person-type
                enum:
                - individual
                - corporation
                type: string
                description: Specifies if the legal person is an `individual` or a `corporation`.
              latest-risk-rating-url:
                type: string
                title: latest-risk-rating-url
                example: /v0/risk-ratings/rr.ICByaXNrLXJhdGluZy1pZA
                description: A contextual link to the risk rating.
              display-name:
                type: string
                minLength: 1
                title: display-name
                description: The mutable display name for the Legal-Person
                maxLength: 64
                example: Company name
              application-status:
                title: application-status
                enum:
                - referred
                - errored
                - declined
                - submitted
                - accepted
                type: string
                description: Status of the current [application](/docs/terms/application)
              legal-person-status:
                title: legal-person-status
                enum:
                - restricted
                - onboarding-declined
                - onboarded
                - verified
                - onboarding
                type: string
                description: Status of the [legal person](#tag/Legal-persons)
              legal-person-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                title: legal-person-url
                description: A contextual link to the [legal person](#tag/Legal-persons).
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
              legal-person-decisions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                title: legal-person-decisions-url
                description: Link to [decisions](#tag/Decisions) for this [legal person](/docs/terms/legal-person).
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/decisions
              status-changed-at:
                title: status-changed-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              created-at:
                title: created-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              legal-person-claims-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                title: legal-person-claims-url
                description: Link to the [claims](#tag/Claims) for this [legal person](/docs/terms/legal-person).
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/claims
              legal-person-bank-payees-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                title: legal-person-bank-payees-url
                description: Link to the [payees](#tag/Payees) for this [legal person](/docs/terms/legal-person).
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/bank/payees
              legal-person-verifications-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                title: legal-person-verifications-url
                description: Link to all [verifications](#tag/Verifications) run against this [legal person](/docs/terms/legal-person).
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/verifications
              legal-name:
                type: string
                title: legal-name
                description: A read-only, human readable label derived from claims
              legal-person-documents-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                title: legal-person-documents-url
                description: Link to all evidence documents associated with this [legal person](/docs/terms/legal-person).
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/documents
            required:
            - created-at
            - display-name
            - legal-person-decisions-url
            - legal-person-documents-url
            - legal-person-type
            - legal-person-url
            - legal-person-verifications-url
            title: legal-person
          headers:
            Location:
              type: string
              description: The location of the updated legal-person of type individual
          description: ''
        '400':
          description: Responds with bad-request if the body does not conform to the schema.
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              type: string
              description: Returns `GriffinSession` if no valid authentication is found.
        '404':
          description: ''
        '422':
          description: ''
      summary: Update legal person
  /v0/organizations/{organization-id}/legal-persons:
    get:
      tags:
      - Legal persons
      description: 'Returns a paginated list of all legal persons for the given organization.


        By default, results are sorted descending by `created-at` (newest first). To sort ascending by `created-at`, provide a `?sort=created-at` query parameter. '
      parameters:
      - in: query
        name: sort
        description: ''
        type: string
        required: false
        enum:
        - -status-changed-at
        - status-changed-at
        - -created-at
        - created-at
      - in: query
        name: include
        description: For each legal person returned, include its latest verification (if one exists), any roles in companies (significant control or directorship), and/or its latest risk rating (if one exists) in the response under the `included` attribute.
        type: array
        required: false
        x-allOf:
        - {}
        - {}
        items:
          enum:
          - company-roles
          - latest-risk-rating
          - latest-verification
          type: string
      - in: query
        name: filter[legal-person-status][in][]
        description: Return only legal persons with the given legal-person-status.
        type: array
        required: false
        x-allOf:
        - {}
        - {}
        items:
          enum:
          - restricted
          - onboarding-declined
          - onboarded
          - verified
          - onboarding
          type: string
      - in: query
        name: filter[application-status][eq]
        description: Return only legal persons with the given application-status.
        type: string
        required: false
        enum:
        - referred
        - errored
        - declined
        - submitted
        - accepted
      - in: query
        name: filter[has][]
        description: Return only legal persons with the given attributes.
        type: array
        required: false
        x-allOf:
        - {}
        - {}
        items:
          enum:
          - application-status
          type: string
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        maximum: 200
        minimum: 1
        name: page[size]
        required: false
        type: integer
        description: ''
        format: int64
        in: query
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        type: string
        required: false
        format: byte
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        type: string
        required: false
        format: byte
      - type: string
        required: true
        name: organization-id
        in: path
      responses:
        '200':
          schema:
            type: object
            properties:
              legal-persons:
                type: array
                items:
                  type: object
                  properties:
                    latest-decision:
                      type: object
                      properties:
                        decision-outcome:
                          title: decision-outcome
                          type: string
                          enum:
                          - accepted
                          - declined
                        decision-notes:
                          type: string
                          title: decision-notes
                          description: Free-text field to explain the reasons behind the decision.
                        verification-url:
                          type: string
                          title: verification-url
                          example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA
                          description: A link to the [verification](#tag/Verifications).
                        legal-person-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              legal-person-id:
                                type: string
                                format: ''
                                title: legal-person-id
                                required: true
                                name: legal-person-id
                            required:
                            - legal-person-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                legal-person-id:
                                  type: string
                                  format: ''
                                  title: legal-person-id
                                  required: true
                                  name: legal-person-id
                              required:
                              - legal-person-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                legal-person-id:
                                  type: string
                                  format: ''
                                  title: legal-person-id
                                  required: true
                                  name: legal-person-id
                              required:
                              - legal-person-id
                          title: legal-person-url
                          description: A contextual link to the [legal person](#tag/Legal-persons).
                          example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        decision-maker:
                          title: decision-maker
                          enum:
                          - system
                          - ops-user
                          - user
                          type: string
                          description: Indicates if the decision was automated or made by a human.
                        decision-user-url:
                          type: string
                          example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                          description: Link to the [user](#tag/Users) that made the decision (if applicable).
                          title: decision-user-url
                        decision-ops-user:
                          title: decision-ops-user
                          enum:
                          - griffin-ops-user
                          type: string
                          description: Indicates that an Ops user has created the decision.
                        decision-user-username:
                          type: string
                          example: user@example.com
                          description: Username of the [user](#tag/Users) that made the decision (if applicable).
                          title: decision-user-username
                      required:
                      - legal-person-url
                      - verification-url
                      - decision-outcome
                      - decision-maker
                      - decision-notes
                      - created-at
                      title: latest-decision
                      description: The most recent [decision](#tag/Decisions)
                    legal-person-type:
                      title: legal-person-type
                      enum:
                      - individual
                      - corporation
                      type: string
                      description: Specifies if the legal person is an `individual` or a `corporation`.
                    latest-risk-rating-url:
                      type: string
                      title: latest-risk-rating-url
                      example: /v0/risk-ratings/rr.ICByaXNrLXJhdGluZy1pZA
                      description: A contextual link to the risk rating.
                    display-name:
                      type: string
                      minLength: 1
                      title: display-name
                      description: The mutable display name for the Legal-Person
                      maxLength: 64
                      example: Company name
                    application-status:
                      title: application-status
                      enum:
                      - referred
                      - errored
                      - declined
                      - submitted
                      - accepted
                      type: string
                      description: Status of the current [application](/docs/terms/application)
                    legal-person-status:
                      title: legal-person-status
                      enum:
                      - restricted
                      - onboarding-declined
                      - onboarded
                      - verified
                      - onboarding
                      type: string
                      description: Status of the [legal person](#tag/Legal-persons)
                    legal-person-url:
                      type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                      x-anyOf:
                      - type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                      - type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                      title: legal-person-url
                      description: A contextual link to the [legal person](#tag/Legal-persons).
                      example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    legal-person-decisions-url:
                      type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                      x-anyOf:
                      - type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                      - type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                      title: legal-person-decisions-url
                      description: Link to [decisions](#tag/Decisions) for this [legal person](/docs/terms/legal-person).
                      example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/decisions
                    status-changed-at:
                      title: status-changed-at
                      format: date-time
                      type: string
                      description: ISO 8601 formatted date-time.
                    created-at:
                      title: created-at
                      format: date-time
                      type: string
                      description: ISO 8601 formatted date-time.
                    legal-person-claims-url:
                      type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                      x-anyOf:
                      - type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                      - type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                      title: legal-person-claims-url
                      description: Link to the [claims](#tag/Claims) for this [legal person](/docs/terms/legal-person).
                      example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/claims
                    legal-person-bank-payees-url:
                      type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                      x-anyOf:
                      - type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                      - type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                      title: legal-person-bank-payees-url
                      description: Link to the [payees](#tag/Payees) for this [legal person](/docs/terms/legal-person).
                      example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/bank/payees
                    legal-person-verifications-url:
                      type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                      x-anyOf:
                      - type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                      - type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                      title: legal-person-verifications-url
                      description: Link to all [verifications](#tag/Verifications) run against this [legal person](/docs/terms/legal-person).
                      example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/verifications
                    legal-name:
                      type: string
                      title: legal-name
                      description: A read-only, human readable label derived from claims
                    legal-person-documents-url:
                      type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                      x-anyOf:
                      - type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                      - type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                      title: legal-person-documents-url
                      description: Link to all evidence documents associated with this [legal person](/docs/terms/legal-person).
                      example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/documents
                  required:
                  - created-at
                  - display-name
                  - legal-person-decisions-url
                  - legal-person-documents-url
                  - legal-person-type
                  - legal-person-url
                  - legal-person-verifications-url
                  title: legal-person
              links:
                type: object
                properties:
                  prev:
                    type: string
                    x-nullable: true
                  next:
                    type: string
                    x-nullable: true
                required:
                - prev
                - next
                title: links
              meta:
                type: object
                properties:
                  page:
                    type: object
                    properties:
                      total:
                        type: integer
                        format: int64
                        minimum: 0
                        title: total
                        description: Total number of items. Present when the total number of items in the full result set is less than 10,000.
                      estimated-total:
                        type: object
                        properties:
                          at-least:
                            enum:
                            - 10000
                            type: integer
                            title: at-least
                            description: Present when the total number of items in the full result set exceeds 10,000. This indicates that the actual number of items is at least 10,000, but the exact total is not provided due to performance considerations.
                        title: estimated-total
                    title: page
                title: meta
            required:
            - legal-persons
            - links
            title: ''
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              type: string
              description: Returns `GriffinSession` if no valid authentication is found.
        '404':
          description: ''
      summary: List legal persons
    post:
      tags:
      - Legal persons
      description: Creates a new Legal Person. A collection of [Claims](#tag/Claims) may be provided.
      parameters:
      - in: body
        name: request-create-legal-person
        description: ''
        required: true
        schema:
          type: object
          properties:
            display-name:
              type: string
              minLength: 1
              title: display-name
              description: A human readable label for an entity
            legal-person-type:
              title: legal-person-type
              enum:
              - individual
              - corporation
              type: string
              description: Specifies if the legal person is an `individual` or a `corporation`.
            claims:
              type: array
              items:
                type: object
                properties: {}
                required:
                - claim-type
                title: claim
                x-anyOf:
                - type: object
                  properties:
                    aeoi-entity-classification:
                      title: aeoi-entity-classification
                      enum:
                      - passive-nfe
                      - active-nfe
                      - financial-institution
                      type: string
                      description: "AEOI/CRS entity classification. Submit `financial-institution`\n         if the entity is a financial institution (e.g. a bank, investment fund, or insurance company).\n         Submit `active-nfe` if more than 50% of the entity's gross income is active\n         (e.g. trading, manufacturing, or providing services) and more than 50% of its assets are used\n         to generate that active income. Submit `passive-nfe` if the entity's income is predominantly passive\n         (e.g dividends, interest, rent, royalties, or capital gains) or if it is dormant."
                    claim-type:
                      enum:
                      - aeoi-entity-classification
                      type: string
                  required:
                  - aeoi-entity-classification
                  - claim-type
                  title: aeoi-entity-classification
                - type: object
                  properties:
                    telephone-number:
                      title: telephone-number
                      pattern: (\+[1-9])?\d{1,14}
                      example: '+442012345678'
                    claim-type:
                      enum:
                      - alternative-number
                      type: string
                  required:
                  - telephone-number
                  - claim-type
                  title: alternative-number
                - type: object
                  properties:
                    annual-turnover:
                      title: annual-turnover
                      required:
                      - currency
                      - value
                      properties:
                        currency:
                          enum:
                          - GBP
                          type: string
                          title: currency code
                          example: GBP
                          default: GBP
                        value:
                          type: string
                          title: value
                          description: The unsigned value as a decimal-formatted string
                          example: '1000.00'
                          default: '1.00'
                      type: object
                      additionalProperties: false
                    claim-type:
                      enum:
                      - annual-turnover
                      type: string
                  required:
                  - annual-turnover
                  - claim-type
                  title: annual-turnover
                - type: object
                  properties:
                    balance-sheet-size:
                      title: balance-sheet-size
                      required:
                      - currency
                      - value
                      properties:
                        currency:
                          enum:
                          - GBP
                          type: string
                          title: currency code
                          example: GBP
                          default: GBP
                        value:
                          type: string
                          title: value
                          description: The unsigned value as a decimal-formatted string
                          example: '1000.00'
                          default: '1.00'
                      type: object
                      additionalProperties: false
                    claim-type:
                      enum:
                      - balance-sheet-size
                      type: string
                  required:
                  - balance-sheet-size
                  - claim-type
                  title: balance-sheet-size
                - type: object
                  properties:
                    business-address:
                      type: object
                      properties: {}
                      required:
                      - country-code
                      title: business-address
                      x-anyOf:
                      - type: object
                        properties:
                          street-name:
                            title: street-name
                            minLength: 1
                            maxLength: 50
                          city:
                            title: city
                            minLength: 1
                            maxLength: 50
                          postal-code:
                            title: postal-code
                            type: string
                            maxLength: 10
                            example: NW16XE
                            minLength: 1
                          country-code:
                            enum:
                            - IM
                            type: string
                        required:
                        - street-name
                        - city
                        - postal-code
                        - country-code
                        - country-code
                        title: IM
                        x-anyOf:
                        - type: object
                          properties:
                            building-name:
                              title: building-name
                              maxLength: 50
                            building-number:
                              title: building-number
                              maxLength: 50
                          required:
                          - building-name
                          - building-number
                          title: both building-name and building-number
                        - type: object
                          properties:
                            building-name:
                              title: building-name
                              maxLength: 50
                          required:
                          - building-name
                          title: only building-name
                        - type: object
                          properties:
                            building-number:
                              title: building-number
                              maxLength: 50
                          required:
                          - building-number
                          title: only building-number
                      - type: object
                        properties:
                          street-name:
                            title: street-name
                            minLength: 1
                            maxLength: 50
                          city:
                            title: city
                            minLength: 1
                            maxLength: 50
                          postal-code:
                            title: postal-code
                            type: string
                            maxLength: 10
                            example: NW16XE
                            minLength: 1
                          country-code:
                            enum:
                            - GB
                            type: string
                        required:
                        - street-name
                        - city
                        - postal-code
                        - country-code
                        - country-code
                        title: GB
                        x-anyOf:
                        - type: object
                          properties:
                            building-name:
                              title: building-name
                              maxLength: 50
                            building-number:
                              title: building-number
                              maxLength: 50
                          required:
                          - building-name
                          - building-number
                          title: both building-name and building-number
                        - type: object
                          properties:
                            building-name:
                              title: building-name
                              maxLength: 50
                          required:
                          - building-name
                          title: only building-name
                        - type: object
                          properties:
                            building-number:
                              title: building-number
                              maxLength: 50
                          required:
                          - building-number
                          title: only building-number
                      - type: object
                        properties:
                          street-name:
                            title: street-name
                            minLength: 1
                            maxLength: 50
                          city:
                            title: city
                            minLength: 1
                            maxLength: 50
                          postal-code:
                            title: postal-code
                            type: string
                            maxLength: 10
                            example: NW16XE
                            minLength: 1
                          country-code:
                            enum:
                            - GG
                            type: string
                        required:
                        - street-name
                        - city
                        - postal-code
                        - country-code
                        - country-code
                        title: GG
                        x-anyOf:
                        - type: object
                          properties:
                            building-name:
                              title: building-name
                              maxLength: 50
                            building-number:
                              title: building-number
                              maxLength: 50
                          required:
                          - building-name
                          - building-number
                          title: both building-name and building-number
                        - type: object
                          properties:
                            building-name:
                              title: building-name
                              maxLength: 50
                          required:
                          - building-name
                          title: only building-name
                        - type: object
                          properties:
                            building-number:
                              title: building-number
                              maxLength: 50
                          required:
                          - building-number
                          title: only building-number
                      - type: object
                        properties:
                          street-name:
                            title: street-name
                            minLength: 1
                            maxLength: 50
                          city:
                            title: city
                            minLength: 1
                            maxLength: 50
                          postal-code:
                            title: postal-code
                            type: string
                            maxLength: 10
                            example: NW16XE
                            minLength: 1
                          country-code:
                            enum:
                            - JE
                            type: string
                        required:
                        - street-name
                        - city
                        - postal-code
                        - country-code
                        - country-code
                        title: JE
                        x-anyOf:
                        - type: object
                          properties:
                            building-name:
                              title: building-name
                              maxLength: 50
                            building-number:
                              title: building-number
                              maxLength: 50
                          required:
                          - building-name
                          - building-number
                          title: both building-name and building-number
                        - type: object
                          properties:
                            building-name:
                              title: building-name
                              maxLength: 50
                          required:
                          - building-name
                          title: only building-name
                        - type: object
                          properties:
                            building-number:
                              title: building-number
                              maxLength: 50
                          required:
                          - building-number
                          title: only building-number
                    claim-type:
                      enum:
                      - business-address
                      type: string
                  required:
                  - business-address
                  - claim-type
                  title: business-address
                - type: object
                  properties:
                    business-description:
                      title: business-description
                      type: string
                      minLength: 1
                    claim-type:
                      enum:
                      - business-description
                      type: string
                  required:
                  - business-description
                  - claim-type
                  title: business-description
                - type: object
                  properties:
                    email-address:
                      title: email-address
                      type: string
                      pattern: .+\@.+\..+
                      example: user@example.com
                    claim-type:
                      enum:
                      - business-email-address
                      type: string
                  required:
                  - email-address
                  - claim-type
                  title: business-email-address
                - type: object
                  properties:
                    business-industry:
                      title: business-industry
                      enum:
                      - health-and-wellness
                      - entertainment-and-events
                      - pharmaceuticals
                      - automotive
                      - creative-industries
                      - construction-and-trades
                      - retail
                      - engineering
                      - legal-services
                      - agriculture-and-farming
                      - finance-and-accounting
                      - real-estate
                      - manufacturing
                      - other
                      - hospitality
                      - service-based-businesses
                      - information-technology
                      - transportation-and-logistics
                      type: string
                      example: information-technology
                    line-of-business:
                      title: line-of-business
                      x-oneOf:
                      - enum: null
                        type: string
                        example: software-development
                        title: Predefined line of business
                        description: 'Must be selected according to business industry:


                          | Business industry | Line of business |

                          | ----------------- | ---------------- |

                          | `agriculture-and-farming` | `small-scale-farming` |

                          |  | `gardening-services` |

                          | `manufacturing` | `metal-casting` |

                          |  | `manufacturing-of-tobacco-products` |

                          |  | `handmade-crafts` |

                          |  | `manufacturing-of-jewelry` |

                          |  | `manufacturing-of-weapons-and-ammunition` |

                          |  | `small-scale-production` |

                          | `real-estate` | `property-management` |

                          |  | `real-estate-agent` |

                          | `service-based-businesses` | `consulting` |

                          |  | `cleaning` |

                          |  | `tutoring` |

                          | `finance-and-accounting` | `financial-consulting` |

                          |  | `bookkeeping` |

                          | `hospitality` | `cafes` |

                          |  | `restaurants` |

                          |  | `hotel-or-accommodation` |

                          | `information-technology` | `it-consulting` |

                          |  | `web-design` |

                          |  | `software-development` |

                          | `transportation-and-logistics` | `pilot` |

                          |  | `courier-services` |

                          |  | `taxi-or-private-hire` |

                          |  | `hgv-or-bus-driver` |

                          |  | `train-driver` |

                          | `entertainment-and-events` | `performing-arts` |

                          |  | `party-entertainment` |

                          |  | `dj-services` |

                          |  | `event-planning` |

                          | `health-and-wellness` | `massage-therapy` |

                          |  | `nutrition-coaching` |

                          |  | `beautician` |

                          |  | `hairdressing` |

                          |  | `personal-training` |

                          | `pharmaceuticals` | `manufacturing-of-pharmaceuticals` |

                          |  | `sale-and-distribution-of-pharmaceuticals` |

                          | `creative-industries` | `marketing-or-advertising` |

                          |  | `writing` |

                          |  | `photography` |

                          |  | `graphic-design` |

                          | `construction-and-trades` | `plumbing` |

                          |  | `carpentry` |

                          |  | `electrical-work` |

                          | `engineering` | `mechanical-engineering` |

                          |  | `civil-engineering` |

                          |  | `electrical-engineering` |

                          |  | `industrial-engineering` |

                          | `retail` | `watches-and-jewelry` |

                          |  | `art` |

                          |  | `clothing` |

                          |  | `groceries` |

                          |  | `electronics` |

                          |  | `antiques` |

                          | `automotive` | `sale-of-used-cars` |

                          |  | `sale-of-automotive-parts` |

                          |  | `car-repairs-and-detailing` |

                          | `legal-services` | `legal-consulting` |

                          |  | `paralegal-services` |

                          '
                      - type: string
                        minLength: 1
                        title: Custom line of business
                        description: "User provided line of business that is only given when\n                                                        `business-industry` is `other`."
                    claim-type:
                      enum:
                      - business-industry
                      type: string
                  required:
                  - business-industry
                  - line-of-business
                  - claim-type
                  x-allOf:
                  - type: object
                    properties:
                      business-industry:
                        title: business-industry
                        enum:
                        - health-and-wellness
                        - entertainment-and-events
                        - pharmaceuticals
                        - automotive
                        - creative-industries
                        - construction-and-trades
                        - retail
                        - engineering
                        - legal-services
                        - agriculture-and-farming
                        - finance-and-accounting
                        - real-estate
                        - manufacturing
                        - other
                        - hospitality
                        - service-based-businesses
                        - information-technology
                        - transportation-and-logistics
                        type: string
                        example: information-technology
                      line-of-business:
                        title: line-of-business
                        x-oneOf:
                        - enum: null
                          type: string
                          example: software-development
                          title: Predefined line of business
                          description: 'Must be selected according to business industry:


                            | Business industry | Line of business |

                            | ----------------- | ---------------- |

                            | `agriculture-and-farming` | `small-scale-farming` |

                            |  | `gardening-services` |

                            | `manufacturing` | `metal-casting` |

                            |  | `manufacturing-of-tobacco-products` |

                            |  | `handmade-crafts` |

                            |  | `manufacturing-of-jewelry` |

                            |  | `manufacturing-of-weapons-and-ammunition` |

                            |  | `small-scale-production` |

                            | `real-estate` | `property-management` |

                            |  | `real-estate-agent` |

                            | `service-based-businesses` | `consulting` |

                            |  | `cleaning` |

                            |  | `tutoring` |

                            | `finance-and-accounting` | `financial-consulting` |

                            |  | `bookkeeping` |

                            | `hospitality` | `cafes` |

                            |  | `restaurants` |

                            |  | `hotel-or-accommodation` |

                            | `information-technology` | `it-consulting` |

                            |  | `web-design` |

                            |  | `software-development` |

                            | `transportation-and-logistics` | `pilot` |

                            |  | `courier-services` |

                            |  | `taxi-or-private-hire` |

                            |  | `hgv-or-bus-driver` |

                            |  | `train-driver` |

                            | `entertainment-and-events` | `performing-arts` |

                            |  | `party-entertainment` |

                            |  | `dj-services` |

                            |  | `event-planning` |

                            | `health-and-wellness` | `massage-therapy` |

                            |  | `nutrition-coaching` |

                            |  | `beautician` |

                            |  | `hairdressing` |

                            |  | `personal-training` |

                            | `pharmaceuticals` | `manufacturing-of-pharmaceuticals` |

                            |  | `sale-and-distribution-of-pharmaceuticals` |

                            | `creative-industries` | `marketing-or-advertising` |

                            |  | `writing` |

                            |  | `photography` |

                            |  | `graphic-design` |

                            | `construction-and-trades` | `plumbing` |

                            |  | `carpentry` |

                            |  | `electrical-work` |

                            | `engineering` | `mechanical-engineering` |

                            |  | `civil-engineering` |

                            |  | `electrical-engineering` |

                            |  | `industrial-engineering` |

                            | `retail` | `watches-and-jewelry` |

                            |  | `art` |

                            |  | `clothing` |

                            |  | `groceries` |

                            |  | `electronics` |

                            |  | `antiques` |

                            | `automotive` | `sale-of-used-cars` |

                            |  | `sale-of-automotive-parts` |

                            |  | `car-repairs-and-detailing` |

                            | `legal-services` | `legal-consulting` |

                            |  | `paralegal-services` |

                            '
                        - type: string
                          minLength: 1
                          title: Custom line of business
                          description: "User provided line of business that is only given when\n                                                        `business-industry` is `other`."
                    required:
                    - business-industry
                    - line-of-business
                  - {}
                  title: business-industry
                - type: object
                  properties:
                    business-name:
                      title: business-name
                      type: string
                      minLength: 1
                    claim-type:
                      enum:
                      - business-name
                      type: string
                  required:
                  - business-name
                  - claim-type
                  title: business-name
                - type: object
                  properties:
                    business-owner?:
                      type: boolean
                    claim-type:
                      enum:
                      - business-owner
                      type: string
                  required:
                  - business-owner?
                  - claim-type
                  title: business-owner
                - type: object
                  properties:
                    business-size:
                      title: business-size
                      type: string
                      enum:
                      - small
                      - micro
                      - large
                      - medium
                    claim-type:
                      enum:
                      - business-size
                      type: string
                  required:
                  - business-size
                  - claim-type
                  title: business-size
                - type: object
                  properties:
                    business-start-date:
                      title: business-start-date
                      format: date
                      type: string
                      description: ISO 8601 formatted date.
                    claim-type:
                      enum:
                      - business-start-date
                      type: string
                  required:
                  - business-start-date
                  - claim-type
                  title: business-start-date
                - type: object
                  properties:
                    telephone-number:
                      title: telephone-number
                      pattern: (\+[1-9])?\d{1,14}
                      example: '+442012345678'
                    claim-type:
                      enum:
                      - business-telephone-number
                      type: string
                  required:
                  - telephone-number
                  - claim-type
                  title: business-telephone-number
                - type: object
                  properties:
                    business-type:
                      title: business-type
                      type: string
                      enum:
                      - sole-trader
                    claim-type:
                      enum:
                      - business-type
                      type: string
                  required:
                  - business-type
                  - claim-type
                  title: business-type
                - type: object
                  properties:
                    website-url:
                      type: string
                      x-allOf:
                      - type: string
                      - {}
                    claim-type:
                      enum:
                      - business-website
                      type: string
                  required:
                  - website-url
                  - claim-type
                  title: business-website
                - type: object
                  properties:
                    cash-payments?:
                      type: boolean
                      title: cash-payments?
                      description: "Attestation that funds generated from cash are (true) or are not (false)\n                                                       accepted."
                    claim-type:
                      enum:
                      - cash-payments
                      type: string
                  required:
                  - cash-payments?
                  - claim-type
                  title: cash-payments
                - type: object
                  properties:
                    client-money-protection-scheme:
[...]
