swagger: '2.0'
info:
  title: The Griffin API keys Bank accounts API
  version: ''
  description: "## Introduction\n\nThe Griffin API is based on [REST](https://en.wikipedia.org/wiki/Representational_state_transfer).\nIt has resource-oriented URLs, accepts [JSON](https://www.json.org/json-en.html)-encoded request bodies, returns [JSON](https://www.json.org/json-en.html)-encoded responses, and uses standard HTTP response verbs and response codes.\n\nOur API deviates from strict RESTful principles if it makes sense to do so, such as when we enforce tighter access controls around certain operations.\nFor example, when closing a bank account: rather than send a PATCH request to the [bank account](#tag/Bank-accounts) resource to update it's status to `\"closed\"`, we provide a dedicated account closure resource.\n\nAnyone can [create an account](https://app.griffin.com/register) with Griffin and try out our API in [sandbox mode](/docs/guides/sandbox-vs-live-mode).\n\nNew to Griffin? Check out our [getting started guide](/docs/guides/get-started-with-the-api).\n\n## Navigation\n\nOur API is designed to be navigated programmatically. When you request any resource, you will find the URLs for related resources in the response body.\n\nThe API is structured as a tree with your [organization](#tag/Organizations) at the top. Everything that you own will be a sub-resource of your organization.\n\nTo bootstrap the navigation process, request the [index](#tag/Navigation/paths/~1v0~1index/get) endpoint: the response will contain your `organization-url`.\n\nFor a walkthrough, see our [getting started guide](/docs/guides/get-started-with-the-api).\n\n## Pagination\n\nOur list APIs support pagination (e.g. [list bank accounts](#tag/Bank-accounts/paths/~1v0~1organizations~1%7Borganization-id%7D~1bank~1accounts/get) and [list payments](#tag/Payments/paths/~1v0~1bank~1accounts~1%7Bbank-account-id%7D~1payments/get)).\nBy default, a list API returns up to 25 results. If there are more results available, the response payload will include links to the previous/next pages.\n\n### Change page size\n\nYou can request a different number of results (between 1 and 200, inclusive) by using the `page[size]` query parameter:\n\n```\nGET /v0/organizations/:id/bank/accounts?page[size]=100\n```\n\n### Navigating between pages\n\nList responses will include a `links` object with `prev` and `next` attributes, as shown below.\nPerform a GET request to the value of the attribute to fetch the previous/next page of results.\n\n```\n{\n  \"accounts\": [\n    // ...\n  ],\n  \"links\": {\n    \"prev\": \"/v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts?page[before]=djE6WxSPxfYUTnCU9XtWzj9gGA\",\n    \"next\": \"/v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts?page[after]=djE6aw79PXZySUOL16LD8HRJ3A\"\n  }\n}\n\n```\nIf there is no previous or next page available, the value of the attribute will be  null.\n\nAny other query parameters included in the initial request will also be included in the response payload's links.\nIf you want to change parameters (see [filtering and sorting](#section/Filtering-and-sorting)), request the first page and follow the links from there.\n\n## Filtering and sorting\n\n### Sort results\n\nBy default, resources will be listed in descending order, usually based on the `created-at` attribute.\nYou can change the sorting behaviour of a list of results by using the `sort` query parameter.\n\nFor example, to list bank accounts in ascending order (oldest first):\n\n```\nGET /v0/organizations/:id/bank/accounts?sort=created-at\n```\n\nTo _explicitly_ sort in descending order (newest first), prefix the sort attribute with `-`:\n\n```\nGET /v0/organizations/:id/bank/accounts?sort=-created-at\n```\n\n### Filter results\n\nSome list APIs allow you to filter the results.\nFilters are expressed as nested data structures encoded into query parameters.\nFor example, you can list bank accounts that are in either the `opening` or `open` state with:\n\n```\nGET /v0/organizations/:id/bank/accounts?filter[account-status][in][]=opening&filter[account-status][in][]=open\n```\n\nSimilarly, you can list legal persons with a specific `application-status`:\n\n```\nGET /v0/organizations/:id/legal-persons?filter[application-status][eq]=accepted\n```\n\n### Include resources\n\nSome list APIs allow you to include associated resources in the response, reducing the number of requests needed to fetch related data.\nFor instance, when listing bank accounts, you can include each bank account's beneficiary legal person by using the `include` query parameter:\n\n```\nGET /v0/organizations/:id/bank/accounts?include=beneficiary\n```\n\nThe response returns the usual list of bank accounts, but it will also have an `included` object with a `legal-persons` attribute:\n\n```\n{\n  \"accounts\": [\n    // ...\n  ],\n  \"links\": {\n    // ...\n  }\n  \"included\": {\n    \"legal-persons\": [\n      // ...\n    ]\n  }\n}\n```\n\nCheck the documentation for each list API to see all options for sorting and filtering\n\n## Request limits\n\nEach organization is allowed up to 50 concurrent (in-flight) API requests. Exceeding this threshold results in a 429 - Too Many Requests response. Upon receiving a 429 response, you should implement a backoff strategy, pausing to allow your outstanding requests to complete before attempting new requests. To manage your request rate effectively and avoid surpassing this limit, consider using a controlled approach such as a finite pool of threads or workers.\n\n## Versioning\n\nThe Griffin API is versioned via a prefix in the URL.\nThe current version is v0.\nAn example endpoint is: https://api.griffin.com/v0/index.\n\nWe will not break your integration with a particular version for as long as we support that version.\nIf we release a new version, you will have 12 months to upgrade to it."
host: api.griffin.com
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- api-key-auth: []
tags:
- name: Bank accounts
  description: "Bank accounts are used for managing funds. Every bank account is opened against a [bank product](/docs/guides/bank-products), which determines the account's behaviour (type, pooled vs dedicated, interest, notice period, etc.). Some account types are for managing your own funds and some are for managing your customers' funds. For information, check out our guides:\n  - [Opening a bank account](/docs/guides/opening-a-bank-account).\n  - [Bank products](/docs/guides/bank-products).\n  - [Types of bank account](/docs/guides/types-of-bank-accounts).\n"
paths:
  /v0/bank/accounts/{bank-account-id}:
    get:
      tags:
      - Bank accounts
      description: Fetch a bank account
      parameters:
      - type: string
        required: true
        name: bank-account-id
        in: path
      responses:
        '200':
          schema:
            type: object
            properties:
              account-submissions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-submissions-url
                description: Link to the [payment submissions](#tag/Payments) debiting from this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/submissions
              bank-account-product-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-product-id:
                      type: string
                      format: ''
                      title: bank-product-id
                      required: true
                      name: bank-product-id
                  required:
                  - bank-product-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-product-id:
                        type: string
                        format: ''
                        title: bank-product-id
                        required: true
                        name: bank-product-id
                    required:
                    - bank-product-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-product-id:
                        type: string
                        format: ''
                        title: bank-product-id
                        required: true
                        name: bank-product-id
                    required:
                    - bank-product-id
                title: bank-account-product-url
                description: Link to the [bank account](#tag/Bank-accounts) product.
                example: /v0/bank/products/bp.IGJhbmstcHJvZHVjdC1pZA
              account-restricted:
                type: boolean
                title: account-restricted
                description: Specifies whether the bank account has restrictions applied by Griffin.
              account-payments-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-payments-url
                description: Link to the [payments](#tag/Payments) associated with this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/payments
              pooled-account-memberships-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: pooled-account-memberships-url
                description: Link to the list of [pool members](#tag/Pooled-account-membership) associated with this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership
              account-admissions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-admissions-url
                description: Link to the [payment admissions](#tag/Payments) crediting to this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/admissions
              bank-product-type:
                title: bank-product-type
                enum:
                - savings-account
                - client-money-account
                - safeguarding-account
                - embedded-account
                - operational-account
                type: string
                description: Specifies the type of bank account. (For more detail on bank account types, see our guide for [types of bank accounts](/docs/guides/types-of-bank-accounts).
              display-name:
                type: string
                minLength: 1
                title: display-name
                description: The mutable display name for the bank account
                maxLength: 64
                example: Reserve a/c
              controller-url:
                type: string
                title: controller-url
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                description: Link to the [legal person](#tag/Legal-persons) that represents the [controller](/docs/terms/controller) of the account.
              pooled-funds:
                type: boolean
                title: pooled-funds
                description: Specifies whether the bank account holds funds belonging to multiple beneficiaries.
              accrued-interest:
                required:
                - currency
                - value
                properties:
                  currency:
                    enum:
                    - GBP
                    type: string
                    title: currency code
                    example: GBP
                  value:
                    type: string
                    title: value
                    description: The value as a decimal-formatted string
                    example: '1000.00'
                type: object
                additionalProperties: false
                title: accrued-interest
                description: Shows the [accrued interest](/docs/terms/accrued-interest).
              account-status:
                title: account-status
                enum:
                - closing
                - open
                - closed
                - opening
                type: string
                description: Shows the status of the account. An account can be moved between statuses during its lifecycle. The status value affects the operations that you can perform. An account must be `"open"` to be fully operational.
              client-money-type:
                title: client-money-type
                enum:
                - designated-client-fund
                - designated-client-money
                - general-client-money
                type: string
                description: Specifies the type of client money account.
              owner-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                description: Link to the [legal person](#tag/Legal-persons) that represents the [owner](/docs/terms/owner) of the account.
                title: owner-url
              closed-at:
                title: closed-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              created-at:
                title: created-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              opened-at:
                title: opened-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              close-account-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: close-account-url
                description: Link to the endpoint that enables account closure for this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/actions/close
              available-balance:
                required:
                - currency
                - value
                properties:
                  currency:
                    enum:
                    - GBP
                    type: string
                    title: currency code
                    example: GBP
                  value:
                    type: string
                    title: value
                    description: The value as a decimal-formatted string
                    example: '1000.00'
                type: object
                additionalProperties: false
                title: available-balance
                description: Shows the [available balance](/docs/terms/available-balance).
              pooled-account-membership-updates-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: pooled-account-membership-updates-url
                description: Link to manage [pooled account membership](#tag/Pooled-account-membership)
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership-updates
              bank-account-restrictions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: bank-account-restrictions-url
                description: Link to the [restrictions](#tag/Bank-account-restrictions) on this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/restrictions
              bank-addresses:
                type: array
                items:
                  type: object
                  properties:
                    account-holder:
                      type: string
                      minLength: 1
                      title: account-holder
                      description: The name of the [account holder](/docs/terms/account-holder).
                    bank-id-code:
                      title: bank-id-code
                      type: string
                      enum:
                      - gbdsc
                    bank-id:
                      title: bank-id
                      pattern: ^[0-9]{6}$
                      type: string
                      description: A UK sort code.
                      maxLength: 6
                      example: '123456'
                      minLength: 6
                    account-number:
                      type: string
                      x-allOf:
                      - type: string
                      - {}
                      title: account-number
                      pattern: ^[0-9]{8}$
                      description: A UK account number.
                      maxLength: 8
                      example: '12345678'
                      minLength: 8
                    account-number-code:
                      title: account-number-code
                      type: string
                      enum:
                      - bban
                  required:
                  - account-holder
                  - bank-id-code
                  - bank-id
                  - account-number
                  - account-number-code
                  title: bank-address
                title: bank-addresses
                description: Shows a collection of public addresses which uniquely identify the account. Any one of these can be used to pay into the account.
              account-transactions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-transactions-url
                description: Link to the [transactions](#tag/Transactions) associated with this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/transactions
              account-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-url
                description: Link to the bank account resource.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
              bank-account-events-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: bank-account-events-url
                description: Link to the events for this bank account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/events
              beneficiary-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                description: Link to the [legal person](#tag/Legal-persons) that represents the [beneficiary](/docs/terms/beneficiary) of the account.
                title: beneficiary-url
              primary-account:
                type: boolean
                title: primary-account
                description: Specifies whether the bank account is the organization's [primary account](/docs/guides/primary-account).
                example: false
              account-balance:
                required:
                - currency
                - value
                properties:
                  currency:
                    enum:
                    - GBP
                    type: string
                    title: currency code
                    example: GBP
                  value:
                    type: string
                    title: value
                    description: The value as a decimal-formatted string
                    example: '1000.00'
                type: object
                additionalProperties: false
                title: account-balance
                description: Shows the [account balance](/docs/terms/account-balance).
              savings-type:
                title: savings-type
                enum:
                - easy-access
                - bare-trust
                type: string
                description: Specifies the type of savings account.
            required:
            - account-balance
            - accrued-interest
            - available-balance
            - account-payments-url
            - account-admissions-url
            - account-submissions-url
            - account-transactions-url
            - account-url
            - owner-url
            - controller-url
            - display-name
            - account-restricted
            - account-status
            - bank-product-type
            - pooled-funds
            - created-at
            - primary-account
            title: bank-account
          headers:
            Location:
              type: string
              description: The URL of the bank account
          description: ''
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              type: string
              description: Returns `GriffinSession` if no valid authentication is found.
        '404':
          description: ''
      summary: Get bank account
    patch:
      tags:
      - Bank accounts
      description: Update a bank account
      parameters:
      - in: body
        name: request-update-bank-account
        description: ''
        required: true
        schema:
          type: object
          properties:
            display-name:
              type: string
              minLength: 1
              title: display-name
              description: A human readable label for an entity
          required:
          - display-name
          title: request-update-bank-account
      - type: string
        required: true
        name: bank-account-id
        in: path
      responses:
        '200':
          schema:
            type: object
            properties:
              account-submissions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-submissions-url
                description: Link to the [payment submissions](#tag/Payments) debiting from this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/submissions
              bank-account-product-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-product-id:
                      type: string
                      format: ''
                      title: bank-product-id
                      required: true
                      name: bank-product-id
                  required:
                  - bank-product-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-product-id:
                        type: string
                        format: ''
                        title: bank-product-id
                        required: true
                        name: bank-product-id
                    required:
                    - bank-product-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-product-id:
                        type: string
                        format: ''
                        title: bank-product-id
                        required: true
                        name: bank-product-id
                    required:
                    - bank-product-id
                title: bank-account-product-url
                description: Link to the [bank account](#tag/Bank-accounts) product.
                example: /v0/bank/products/bp.IGJhbmstcHJvZHVjdC1pZA
              account-restricted:
                type: boolean
                title: account-restricted
                description: Specifies whether the bank account has restrictions applied by Griffin.
              account-payments-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-payments-url
                description: Link to the [payments](#tag/Payments) associated with this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/payments
              pooled-account-memberships-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: pooled-account-memberships-url
                description: Link to the list of [pool members](#tag/Pooled-account-membership) associated with this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership
              account-admissions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-admissions-url
                description: Link to the [payment admissions](#tag/Payments) crediting to this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/admissions
              bank-product-type:
                title: bank-product-type
                enum:
                - savings-account
                - client-money-account
                - safeguarding-account
                - embedded-account
                - operational-account
                type: string
                description: Specifies the type of bank account. (For more detail on bank account types, see our guide for [types of bank accounts](/docs/guides/types-of-bank-accounts).
              display-name:
                type: string
                minLength: 1
                title: display-name
                description: The mutable display name for the bank account
                maxLength: 64
                example: Reserve a/c
              controller-url:
                type: string
                title: controller-url
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                description: Link to the [legal person](#tag/Legal-persons) that represents the [controller](/docs/terms/controller) of the account.
              pooled-funds:
                type: boolean
                title: pooled-funds
                description: Specifies whether the bank account holds funds belonging to multiple beneficiaries.
              accrued-interest:
                required:
                - currency
                - value
                properties:
                  currency:
                    enum:
                    - GBP
                    type: string
                    title: currency code
                    example: GBP
                  value:
                    type: string
                    title: value
                    description: The value as a decimal-formatted string
                    example: '1000.00'
                type: object
                additionalProperties: false
                title: accrued-interest
                description: Shows the [accrued interest](/docs/terms/accrued-interest).
              account-status:
                title: account-status
                enum:
                - closing
                - open
                - closed
                - opening
                type: string
                description: Shows the status of the account. An account can be moved between statuses during its lifecycle. The status value affects the operations that you can perform. An account must be `"open"` to be fully operational.
              client-money-type:
                title: client-money-type
                enum:
                - designated-client-fund
                - designated-client-money
                - general-client-money
                type: string
                description: Specifies the type of client money account.
              owner-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                description: Link to the [legal person](#tag/Legal-persons) that represents the [owner](/docs/terms/owner) of the account.
                title: owner-url
              closed-at:
                title: closed-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              created-at:
                title: created-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              opened-at:
                title: opened-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              close-account-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: close-account-url
                description: Link to the endpoint that enables account closure for this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/actions/close
              available-balance:
                required:
                - currency
                - value
                properties:
                  currency:
                    enum:
                    - GBP
                    type: string
                    title: currency code
                    example: GBP
                  value:
                    type: string
                    title: value
                    description: The value as a decimal-formatted string
                    example: '1000.00'
                type: object
                additionalProperties: false
                title: available-balance
                description: Shows the [available balance](/docs/terms/available-balance).
              pooled-account-membership-updates-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: pooled-account-membership-updates-url
                description: Link to manage [pooled account membership](#tag/Pooled-account-membership)
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership-updates
              bank-account-restrictions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: bank-account-restrictions-url
                description: Link to the [restrictions](#tag/Bank-account-restrictions) on this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/restrictions
              bank-addresses:
                type: array
                items:
                  type: object
                  properties:
                    account-holder:
                      type: string
                      minLength: 1
                      title: account-holder
                      description: The name of the [account holder](/docs/terms/account-holder).
                    bank-id-code:
                      title: bank-id-code
                      type: string
                      enum:
                      - gbdsc
                    bank-id:
                      title: bank-id
                      pattern: ^[0-9]{6}$
                      type: string
                      description: A UK sort code.
                      maxLength: 6
                      example: '123456'
                      minLength: 6
                    account-number:
                      type: string
                      x-allOf:
                      - type: string
                      - {}
                      title: account-number
                      pattern: ^[0-9]{8}$
                      description: A UK account number.
                      maxLength: 8
                      example: '12345678'
                      minLength: 8
                    account-number-code:
                      title: account-number-code
                      type: string
                      enum:
                      - bban
                  required:
                  - account-holder
                  - bank-id-code
                  - bank-id
                  - account-number
                  - account-number-code
                  title: bank-address
                title: bank-addresses
                description: Shows a collection of public addresses which uniquely identify the account. Any one of these can be used to pay into the account.
              account-transactions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-transactions-url
                description: Link to the [transactions](#tag/Transactions) associated with this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/transactions
              account-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-url
                description: Link to the bank account resource.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
              bank-account-events-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: bank-account-events-url
                description: Link to the events for this bank account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/events
              beneficiary-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                description: Link to the [legal person](#tag/Legal-persons) that represents the [beneficiary](/docs/terms/beneficiary) of the account.
                title: beneficiary-url
              primary-account:
                type: boolean
                title: primary-account
                description: Specifies whether the bank account is the organization's [primary account](/docs/guides/primary-account).
                example: false
              account-balance:
                required:
                - currency
                - value
                properties:
                  currency:
                    enum:
                    - GBP
                    type: string
                    title: currency code
                    example: GBP
                  value:
                    type: string
                    title: value
                    description: The value as a decimal-formatted string
                    example: '1000.00'
                type: object
                additionalProperties: false
                title: account-balance
                description: Shows the [account balance](/docs/terms/account-balance).
              savings-type:
                title: savings-type
                enum:
                - easy-access
                - bare-trust
                type: string
                description: Specifies the type of savings account.
            required:
            - account-balance
            - accrued-interest
            - available-balance
            - account-payments-url
            - account-admissions-url
            - account-submissions-url
            - account-transactions-url
            - account-url
            - owner-url
            - controller-url
            - display-name
            - account-restricted
            - account-status
            - bank-product-type
            - pooled-funds
            - created-at
            - primary-account
            title: bank-account
          headers:
            Location:
              type: string
              description: The URL of the bank account
          description: ''
        '400':
          description: Responds with bad-request if the body does not conform to the schema.
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              type: string
              description: Returns `GriffinSession` if no valid authentication is found.
        '404':
          description: ''
  /v0/bank/accounts/{bank-account-id}/actions/close:
    post:
      tags:
      - Bank accounts
      description: Close a bank account
      parameters:
      - type: string
        required: true
        name: bank-account-id
        in: path
      responses:
        '200':
          schema:
            type: object
            properties:
              account-submissions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-submissions-url
                description: Link to the [payment submissions](#tag/Payments) debiting from this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/submissions
              bank-account-product-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-product-id:
                      type: string
                      format: ''
                      title: bank-product-id
                      required: true
                      name: bank-product-id
                  required:
                  - bank-product-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-product-id:
                        type: string
                        format: ''
                        title: bank-product-id
                        required: true
                        name: bank-product-id
                    required:
                    - bank-product-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-product-id:
                        type: string
                        format: ''
                        title: bank-product-id
                        required: true
                        name: bank-product-id
                    required:
                    - bank-product-id
                title: bank-account-product-url
                description: Link to the [bank account](#tag/Bank-accounts) product.
                example: /v0/bank/products/bp.IGJhbmstcHJvZHVjdC1pZA
              account-restricted:
                type: boolean
                title: account-restricted
                description: Specifies whether the bank account has restrictions applied by Griffin.
              account-payments-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-payments-url
                description: Link to the [payments](#tag/Payments) associated with this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/payments
              pooled-account-memberships-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: pooled-account-memberships-url
                description: Link to the list of [pool members](#tag/Pooled-account-membership) associated with this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership
              account-admissions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-admissions-url
                description: Link to the [payment admissions](#tag/Payments) crediting to this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/admissions
              bank-product-type:
                title: bank-product-type
                enum:
                - savings-account
                - client-money-account
                - safeguarding-account
                - embedded-account
                - operational-account
                type: string
                description: Specifies the type of bank account. (For more detail on bank account types, see our guide for [types of bank accounts](/docs/guides/types-of-bank-accounts).
              display-name:
                type: string
                minLength: 1
                title: display-name
                description: The mutable display name for the bank account
                maxLength: 64
                example: Reserve a/c
              controller-url:
                type: string
                title: controller-url
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                description: Link to the [legal person](#tag/Legal-persons) that represents the [controller](/docs/terms/controller) of the account.
              pooled-funds:
                type: boolean
                title: pooled-funds
                description: Specifies whether the bank account holds funds belonging to multiple beneficiaries.
              accrued-interest:
                required:
                - currency
                - value
                properties:
                  currency:
                    enum:
                    - GBP
                    type: string
                    title: currency code
                    example: GBP
                  value:
                    type: string
                    title: value
                    description: The value as a decimal-formatted string
                    example: '1000.00'
                type: object
                additionalProperties: false
                title: accrued-interest
                description: Shows the [accrued interest](/docs/terms/accrued-interest).
              account-status:
                title: account-status
                enum:
                - closing
                - open
                - closed
                - opening
                type: string
                description: Shows the status of the account. An account can be moved between statuses during its lifecycle. The status value affects the operations that you can perform. An account must be `"open"` to be fully operational.
              client-money-type:
                title: client-money-type
                enum:
                - designated-client-fund
                - designated-client-money
                - general-client-money
                type: string
                description: Specifies the type of client money account.
              owner-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                description: Link to the [legal person](#tag/Legal-persons) that represents the [owner](/docs/terms/owner) of the account.
                title: owner-url
              closed-at:
                title: closed-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              created-at:
                title: created-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              opened-at:
                title: opened-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
              close-account-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: close-account-url
                description: Link to the endpoint that enables account closure for this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/actions/close
              available-balance:
                required:
                - currency
                - value
                properties:
                  currency:
                    enum:
                    - GBP
                    type: string
                    title: currency code
                    example: GBP
                  value:
                    type: string
                    title: value
                    description: The value as a decimal-formatted string
                    example: '1000.00'
                type: object
                additionalProperties: false
                title: available-balance
                description: Shows the [available balance](/docs/terms/available-balance).
              pooled-account-membership-updates-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: pooled-account-membership-updates-url
                description: Link to manage [pooled account membership](#tag/Pooled-account-membership)
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership-updates
              bank-account-restrictions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: bank-account-restrictions-url
                description: Link to the [restrictions](#tag/Bank-account-restrictions) on this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/restrictions
              bank-addresses:
                type: array
                items:
                  type: object
                  properties:
                    account-holder:
                      type: string
                      minLength: 1
                      title: account-holder
                      description: The name of the [account holder](/docs/terms/account-holder).
                    bank-id-code:
                      title: bank-id-code
                      type: string
                      enum:
                      - gbdsc
                    bank-id:
                      title: bank-id
                      pattern: ^[0-9]{6}$
                      type: string
                      description: A UK sort code.
                      maxLength: 6
                      example: '123456'
                      minLength: 6
                    account-number:
                      type: string
                      x-allOf:
                      - type: string
                      - {}
                      title: account-number
                      pattern: ^[0-9]{8}$
                      description: A UK account number.
                      maxLength: 8
                      example: '12345678'
                      minLength: 8
                    account-number-code:
                      title: account-number-code
                      type: string
                      enum:
                      - bban
                  required:
                  - account-holder
                  - bank-id-code
                  - bank-id
                  - account-number
                  - account-number-code
                  title: bank-address
                title: bank-addresses
                description: Shows a collection of public addresses which uniquely identify the account. Any one of these can be used to pay into the account.
              account-transactions-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-transactions-url
                description: Link to the [transactions](#tag/Transactions) associated with this account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/transactions
              account-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: account-url
                description: Link to the bank account resource.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
              bank-account-events-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    bank-account-id:
                      type: string
                      format: ''
                      title: bank-account-id
                      required: true
                      name: bank-account-id
                  required:
                  - bank-account-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      bank-account-id:
                        type: string
                        format: ''
                        title: bank-account-id
                        required: true
                        name: bank-account-id
                    required:
                    - bank-account-id
                title: bank-account-events-url
                description: Link to the events for this bank account.
                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/events
              beneficiary-url:
                type: string
                x-allOf:
                - type: string
                - {}
                - type: object
                  properties:
                    legal-person-id:
                      type: string
                      format: ''
                      title: legal-person-id
                      required: true
                      name: legal-person-id
                  required:
                  - legal-person-id
                x-anyOf:
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                - type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      legal-person-id:
                        type: string
                        format: ''
                        title: legal-person-id
                        required: true
                        name: legal-person-id
                    required:
                    - legal-person-id
                example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                description: Link to the [legal person](#tag/Legal-persons) that represents the [beneficiary](/docs/terms/beneficiary) of the account.
                title: beneficiary-url
              primary-account:
                type: boolean
                title: primary-account
                description: Specifies whether the bank account is the organization's [primary account](/docs/guides/primary-account).
                example: false
              account-balance:
                required:
                - currency
                - value
                properties:
                  currency:
                    enum:
                    - GBP
                    type: string
                    title: currency code
                    example: GBP
                  value:
                    type: string
                    title: value
                    description: The value as a decimal-formatted string
                    example: '1000.00'
                type: object
                additionalProperties: false
                title: account-balance
                description: Shows the [account balance](/docs/terms/account-balance).
              savings-type:
                title: savings-type
                enum:
                - easy-access
                - bare-trust
                type: string
                description: Specifies the type of savings account.
[...]
