openapi: 3.2.0
info:
  title: Griffin Navigation API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Navigation
paths:
  /v0/index:
    get:
      tags:
      - Navigation
      description: Contains various global URL paths. Follow `api-key-url` to discover your `organization-url`.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizations-url:
                    type: string
                    title: organizations-url
                    example: /v0/organizations
                    description: Link to the [organization](#tag/Organizations).
                  users-url:
                    type: string
                    title: users-url
                    example: /v0/users
                  roles-url:
                    type: string
                    title: roles-url
                    example: /v0/roles
                  session-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties: {}
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties: {}
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties: {}
                    title: session-url
                    example: /v0/session
                  api-key-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        api-key-id:
                          type: string
                          format: ''
                          title: api-key-id
                          required: true
                          name: api-key-id
                      required:
                      - api-key-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          api-key-id:
                            type: string
                            format: ''
                            title: api-key-id
                            required: true
                            name: api-key-id
                        required:
                        - api-key-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          api-key-id:
                            type: string
                            format: ''
                            title: api-key-id
                            required: true
                            name: api-key-id
                        required:
                        - api-key-id
                    title: api-key-url
                    description: The resource path for the API key
                    example: /v0/api-keys/ak.ICAgICAgYXBpLWtleS1pZA
                  organization-url:
                    type: string
                    title: organization-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                    description: Link to the [organization](#tag/Organizations).
                required:
                - organizations-url
                - users-url
                - roles-url
                title: index
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
      summary: Index
      operationId: getV0Index
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
