openapi: 3.2.0
info:
  title: Griffin Webhooks API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Webhooks
paths:
  /v0/organizations/{organization-id}/webhooks:
    get:
      tags:
      - Webhooks
      description: Get all webhooks for the organization
      parameters:
      - required: true
        name: organization-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization-webhooks:
                    type: array
                    items:
                      type: object
                      properties:
                        webhook-description:
                          title: webhook-description
                          type: string
                          minLength: 1
                          x-allOf:
                          - title: non-empty-string
                            type: string
                            minLength: 1
                          - {}
                          description: A description of the webhook
                          example: Griffin API webhook
                        updated-at:
                          title: updated-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        activate-webhook-url:
                          type: string
                          title: activate-webhook-url
                          description: Activate a webhook
                          example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/activate
                        deactivate-webhook-url:
                          type: string
                          title: deactivate-webhook-url
                          description: Deactivate a webhook
                          example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/deactivate
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        webhook-state:
                          title: webhook-state
                          enum:
                          - inactive
                          - active
                          type: string
                          description: The state of the webhook.
                        created-by:
                          type: string
                          title: created-by
                          example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                          description: Link to the user.
                        organization-url:
                          type: string
                          title: organization-url
                          example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                          description: Link to the [organization](#tag/Organizations).
                        test-webhook-url:
                          type: string
                          title: test-webhook-url
                          description: Test a webhook
                          example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/test
                        webhook-url:
                          type: string
                          title: webhook-url
                          example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA
                          description: Link to the [webhook](#tag/Webhooks).
                        webhook-destination-url:
                          title: webhook-destination-url
                          description: The callback URL of the webhook (HTTPS on port 443, public IP only)
                          type: string
                          example: https://example.com/griffin/webhook/
                      required:
                      - organization-url
                      - webhook-url
                      - webhook-destination-url
                      - test-webhook-url
                      - created-at
                      - webhook-state
                      - activate-webhook-url
                      - deactivate-webhook-url
                      title: webhook
                required:
                - organization-webhooks
                title: organization-webhooks-response
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
      summary: Get organizations by organization id webhooks
      x-summary-source: derived
      operationId: getV0OrganizationsByOrganizationIdWebhooks
      x-operation-id-source: derived
    post:
      tags:
      - Webhooks
      description: Create a webhook
      parameters:
      - required: true
        name: organization-id
        in: path
        schema:
          type: string
      responses:
        '201':
          headers:
            Location:
              description: The URL of the webhook
              schema:
                type: string
          description: The newly-created webhook
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook-description:
                    title: webhook-description
                    type: string
                    minLength: 1
                    x-allOf:
                    - title: non-empty-string
                      type: string
                      minLength: 1
                    - {}
                    description: A description of the webhook
                    example: Griffin API webhook
                  updated-at:
                    title: updated-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  activate-webhook-url:
                    type: string
                    title: activate-webhook-url
                    description: Activate a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/activate
                  deactivate-webhook-url:
                    type: string
                    title: deactivate-webhook-url
                    description: Deactivate a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/deactivate
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  webhook-state:
                    title: webhook-state
                    enum:
                    - inactive
                    - active
                    type: string
                    description: The state of the webhook.
                  created-by:
                    type: string
                    title: created-by
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the user.
                  organization-url:
                    type: string
                    title: organization-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                    description: Link to the [organization](#tag/Organizations).
                  test-webhook-url:
                    type: string
                    title: test-webhook-url
                    description: Test a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/test
                  webhook-url:
                    type: string
                    title: webhook-url
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA
                    description: Link to the [webhook](#tag/Webhooks).
                  webhook-destination-url:
                    title: webhook-destination-url
                    description: The callback URL of the webhook (HTTPS on port 443, public IP only)
                    type: string
                    example: https://example.com/griffin/webhook/
                required:
                - organization-url
                - webhook-url
                - webhook-destination-url
                - test-webhook-url
                - created-at
                - webhook-state
                - activate-webhook-url
                - deactivate-webhook-url
                title: webhook
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '422':
          description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook-destination-url:
                  title: webhook-destination-url
                  description: The callback URL of the webhook (HTTPS on port 443, public IP only)
                  type: string
                  example: https://example.com/griffin/webhook/
                webhook-description:
                  title: webhook-description
                  type: string
                  minLength: 1
                  x-allOf:
                  - title: non-empty-string
                    type: string
                    minLength: 1
                  - {}
                  description: A description of the webhook
                  example: Griffin API webhook
              required:
              - webhook-destination-url
              title: request-create-webhook
        required: true
      summary: Create organizations by organization id webhooks
      x-summary-source: derived
      operationId: postV0OrganizationsByOrganizationIdWebhooks
      x-operation-id-source: derived
  /v0/webhooks/{webhook-id}:
    get:
      tags:
      - Webhooks
      description: Fetch a webhook
      parameters:
      - required: true
        name: webhook-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook-description:
                    title: webhook-description
                    type: string
                    minLength: 1
                    x-allOf:
                    - title: non-empty-string
                      type: string
                      minLength: 1
                    - {}
                    description: A description of the webhook
                    example: Griffin API webhook
                  updated-at:
                    title: updated-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  activate-webhook-url:
                    type: string
                    title: activate-webhook-url
                    description: Activate a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/activate
                  deactivate-webhook-url:
                    type: string
                    title: deactivate-webhook-url
                    description: Deactivate a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/deactivate
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  webhook-state:
                    title: webhook-state
                    enum:
                    - inactive
                    - active
                    type: string
                    description: The state of the webhook.
                  created-by:
                    type: string
                    title: created-by
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the user.
                  organization-url:
                    type: string
                    title: organization-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                    description: Link to the [organization](#tag/Organizations).
                  test-webhook-url:
                    type: string
                    title: test-webhook-url
                    description: Test a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/test
                  webhook-url:
                    type: string
                    title: webhook-url
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA
                    description: Link to the [webhook](#tag/Webhooks).
                  webhook-destination-url:
                    title: webhook-destination-url
                    description: The callback URL of the webhook (HTTPS on port 443, public IP only)
                    type: string
                    example: https://example.com/griffin/webhook/
                required:
                - organization-url
                - webhook-url
                - webhook-destination-url
                - test-webhook-url
                - created-at
                - webhook-state
                - activate-webhook-url
                - deactivate-webhook-url
                title: webhook
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get webhooks by webhook id
      x-summary-source: derived
      operationId: getV0WebhooksByWebhookId
      x-operation-id-source: derived
    delete:
      tags:
      - Webhooks
      description: Delete a webhook
      parameters:
      - required: true
        name: webhook-id
        in: path
        schema:
          type: string
      responses:
        '204':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Delete webhooks by webhook id
      x-summary-source: derived
      operationId: deleteV0WebhooksByWebhookId
      x-operation-id-source: derived
    patch:
      tags:
      - Webhooks
      description: Update a webhook
      parameters:
      - required: true
        name: webhook-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook-description:
                    title: webhook-description
                    type: string
                    minLength: 1
                    x-allOf:
                    - title: non-empty-string
                      type: string
                      minLength: 1
                    - {}
                    description: A description of the webhook
                    example: Griffin API webhook
                  updated-at:
                    title: updated-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  activate-webhook-url:
                    type: string
                    title: activate-webhook-url
                    description: Activate a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/activate
                  deactivate-webhook-url:
                    type: string
                    title: deactivate-webhook-url
                    description: Deactivate a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/deactivate
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  webhook-state:
                    title: webhook-state
                    enum:
                    - inactive
                    - active
                    type: string
                    description: The state of the webhook.
                  created-by:
                    type: string
                    title: created-by
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the user.
                  organization-url:
                    type: string
                    title: organization-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                    description: Link to the [organization](#tag/Organizations).
                  test-webhook-url:
                    type: string
                    title: test-webhook-url
                    description: Test a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/test
                  webhook-url:
                    type: string
                    title: webhook-url
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA
                    description: Link to the [webhook](#tag/Webhooks).
                  webhook-destination-url:
                    title: webhook-destination-url
                    description: The callback URL of the webhook (HTTPS on port 443, public IP only)
                    type: string
                    example: https://example.com/griffin/webhook/
                required:
                - organization-url
                - webhook-url
                - webhook-destination-url
                - test-webhook-url
                - created-at
                - webhook-state
                - activate-webhook-url
                - deactivate-webhook-url
                title: webhook
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook-description:
                  title: webhook-description
                  type: string
                  minLength: 1
                  x-allOf:
                  - title: non-empty-string
                    type: string
                    minLength: 1
                  - {}
                  description: A description of the webhook
                  example: Griffin API webhook
              title: request-update-webhook
        required: true
      summary: Update webhooks by webhook id
      x-summary-source: derived
      operationId: patchV0WebhooksByWebhookId
      x-operation-id-source: derived
  /v0/webhooks/{webhook-id}/actions/activate:
    post:
      tags:
      - Webhooks
      description: Activate a webhook
      parameters:
      - required: true
        name: webhook-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook-description:
                    title: webhook-description
                    type: string
                    minLength: 1
                    x-allOf:
                    - title: non-empty-string
                      type: string
                      minLength: 1
                    - {}
                    description: A description of the webhook
                    example: Griffin API webhook
                  updated-at:
                    title: updated-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  activate-webhook-url:
                    type: string
                    title: activate-webhook-url
                    description: Activate a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/activate
                  deactivate-webhook-url:
                    type: string
                    title: deactivate-webhook-url
                    description: Deactivate a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/deactivate
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  webhook-state:
                    title: webhook-state
                    enum:
                    - inactive
                    - active
                    type: string
                    description: The state of the webhook.
                  created-by:
                    type: string
                    title: created-by
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the user.
                  organization-url:
                    type: string
                    title: organization-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                    description: Link to the [organization](#tag/Organizations).
                  test-webhook-url:
                    type: string
                    title: test-webhook-url
                    description: Test a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/test
                  webhook-url:
                    type: string
                    title: webhook-url
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA
                    description: Link to the [webhook](#tag/Webhooks).
                  webhook-destination-url:
                    title: webhook-destination-url
                    description: The callback URL of the webhook (HTTPS on port 443, public IP only)
                    type: string
                    example: https://example.com/griffin/webhook/
                required:
                - organization-url
                - webhook-url
                - webhook-destination-url
                - test-webhook-url
                - created-at
                - webhook-state
                - activate-webhook-url
                - deactivate-webhook-url
                title: webhook
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Create webhooks by webhook id actions activate
      x-summary-source: derived
      operationId: postV0WebhooksByWebhookIdActionsActivate
      x-operation-id-source: derived
  /v0/webhooks/{webhook-id}/actions/deactivate:
    post:
      tags:
      - Webhooks
      description: Deactivate a webhook
      parameters:
      - required: true
        name: webhook-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhook-description:
                    title: webhook-description
                    type: string
                    minLength: 1
                    x-allOf:
                    - title: non-empty-string
                      type: string
                      minLength: 1
                    - {}
                    description: A description of the webhook
                    example: Griffin API webhook
                  updated-at:
                    title: updated-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  activate-webhook-url:
                    type: string
                    title: activate-webhook-url
                    description: Activate a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/activate
                  deactivate-webhook-url:
                    type: string
                    title: deactivate-webhook-url
                    description: Deactivate a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/deactivate
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  webhook-state:
                    title: webhook-state
                    enum:
                    - inactive
                    - active
                    type: string
                    description: The state of the webhook.
                  created-by:
                    type: string
                    title: created-by
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the user.
                  organization-url:
                    type: string
                    title: organization-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                    description: Link to the [organization](#tag/Organizations).
                  test-webhook-url:
                    type: string
                    title: test-webhook-url
                    description: Test a webhook
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA/actions/test
                  webhook-url:
                    type: string
                    title: webhook-url
                    example: /v0/webhooks/wh.ICAgICAgd2ViaG9vay1pZA
                    description: Link to the [webhook](#tag/Webhooks).
                  webhook-destination-url:
                    title: webhook-destination-url
                    description: The callback URL of the webhook (HTTPS on port 443, public IP only)
                    type: string
                    example: https://example.com/griffin/webhook/
                required:
                - organization-url
                - webhook-url
                - webhook-destination-url
                - test-webhook-url
                - created-at
                - webhook-state
                - activate-webhook-url
                - deactivate-webhook-url
                title: webhook
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Create webhooks by webhook id actions deactivate
      x-summary-source: derived
      operationId: postV0WebhooksByWebhookIdActionsDeactivate
      x-operation-id-source: derived
  /v0/webhooks/{webhook-id}/actions/test:
    get:
      tags:
      - Webhooks
      description: Get the status of the latest test event
      parameters:
      - required: true
        name: webhook-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
                required:
                - webhook-request-status
                x-anyOf:
                - type: object
                  properties:
                    webhook-request-status:
                      enum:
                      - default
                      type: string
                    updated-at:
                      title: updated-at
                      format: date-time
                      type: string
                      description: ISO 8601 formatted date-time.
                  required:
                  - webhook-request-status
                  - updated-at
                  - webhook-request-status
                  title: default
                - type: object
                  properties:
                    webhook-request-status:
                      enum:
                      - complete
                      type: string
                    updated-at:
                      title: updated-at
                      format: date-time
                      type: string
                      description: ISO 8601 formatted date-time.
                    webhook-http-status:
                      type: integer
                      format: int64
                      x-allOf:
                      - type: integer
                        format: int64
                      - minimum: 100
                        maximum: 800
                    webhook-error-code:
                      title: webhook-error-code
                      type: string
                      enum:
                      - webhook-timeout
                      - webhook-unknown-host
                      - webhook-unknown-error
                      - webhook-internal-error
                      - webhook-invalid-response
                  required:
                  - webhook-request-status
                  - updated-at
                  - webhook-http-status
                  - webhook-error-code
                  - webhook-request-status
                  title: complete
                title: webhook-test-response
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get webhooks by webhook id actions test
      x-summary-source: derived
      operationId: getV0WebhooksByWebhookIdActionsTest
      x-operation-id-source: derived
    post:
      tags:
      - Webhooks
      description: Send a test event to the webhook
      parameters:
      - required: true
        name: webhook-id
        in: path
        schema:
          type: string
      responses:
        '201':
          headers:
            Location:
              description: The URL to check the progress of the test
              schema:
                type: string
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
                required:
                - webhook-request-status
                x-anyOf:
                - type: object
                  properties:
                    webhook-request-status:
                      enum:
                      - default
                      type: string
                    updated-at:
                      title: updated-at
                      format: date-time
                      type: string
                      description: ISO 8601 formatted date-time.
                  required:
                  - webhook-request-status
                  - updated-at
                  - webhook-request-status
                  title: default
                - type: object
                  properties:
                    webhook-request-status:
                      enum:
                      - complete
                      type: string
                    updated-at:
                      title: updated-at
                      format: date-time
                      type: string
                      description: ISO 8601 formatted date-time.
                    webhook-http-status:
                      type: integer
                      format: int64
                      x-allOf:
                      - type: integer
                        format: int64
                      - minimum: 100
                        maximum: 800
                    webhook-error-code:
                      title: webhook-error-code
                      type: string
                      enum:
                      - webhook-timeout
                      - webhook-unknown-host
                      - webhook-unknown-error
                      - webhook-internal-error
                      - webhook-invalid-response
                  required:
                  - webhook-request-status
                  - updated-at
                  - webhook-http-status
                  - webhook-error-code
                  - webhook-request-status
                  title: complete
                title: webhook-test-response
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '409':
          description: An existing test is in-flight
        '422':
          description: The webhook is not active
      summary: Create webhooks by webhook id actions test
      x-summary-source: derived
      operationId: postV0WebhooksByWebhookIdActionsTest
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
