openapi: 3.2.0
info:
  title: Griffin Message Signatures API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Message Signatures
  description: 'Message Signatures confirm the identity of the sender and integrity of request messages.


    Key points:

    - Uses Ed25519 algorithm

    - Requires registering a public key with Griffin

    - Signatures cover specific message components

    - Includes `Signature-Input` and `Signature` headers


    How to create message signatures provides a detailed guide.'
paths:
  /v0/security/message-signature/verify:
    get:
      tags:
      - Message Signatures
      description: Yields the status of the http signature validation
      security: []
      parameters:
      - in: header
        name: header-signature
        description: 'Message Signatures: signature header containing a signature label with the components used to generate the signature'
        schema:
          type: string
      - in: header
        name: header-signature-input
        description: 'Message Signatures: signature-input header containing a signature label with the components used to generate the signature'
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  busy:
                    type: boolean
                required:
                - message
                - busy
                title: httpsig-debug-response
      summary: HTTP Signature Debug
      operationId: getV0SecurityMessageSignatureVerify
      x-operation-id-source: derived
    post:
      tags:
      - Message Signatures
      description: Yields the status of the http signature validation
      security: []
      parameters:
      - in: header
        name: header-signature
        description: 'Message Signatures: signature header containing a signature label with the components used to generate the signature'
        schema:
          type: string
      - in: header
        name: header-signature-input
        description: 'Message Signatures: signature-input header containing a signature label with the components used to generate the signature'
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  busy:
                    type: boolean
                required:
                - message
                - busy
                title: httpsig-debug-response
      summary: Create security message signature verify
      x-summary-source: derived
      operationId: postV0SecurityMessageSignatureVerify
      x-operation-id-source: derived
    put:
      tags:
      - Message Signatures
      description: Yields the status of the http signature validation
      security: []
      parameters:
      - in: header
        name: header-signature
        description: 'Message Signatures: signature header containing a signature label with the components used to generate the signature'
        schema:
          type: string
      - in: header
        name: header-signature-input
        description: 'Message Signatures: signature-input header containing a signature label with the components used to generate the signature'
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  busy:
                    type: boolean
                required:
                - message
                - busy
                title: httpsig-debug-response
      summary: Replace security message signature verify
      x-summary-source: derived
      operationId: putV0SecurityMessageSignatureVerify
      x-operation-id-source: derived
    delete:
      tags:
      - Message Signatures
      description: Yields the status of the http signature validation
      security: []
      parameters:
      - in: header
        name: header-signature
        description: 'Message Signatures: signature header containing a signature label with the components used to generate the signature'
        schema:
          type: string
      - in: header
        name: header-signature-input
        description: 'Message Signatures: signature-input header containing a signature label with the components used to generate the signature'
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  busy:
                    type: boolean
                required:
                - message
                - busy
                title: httpsig-debug-response
      summary: Delete security message signature verify
      x-summary-source: derived
      operationId: deleteV0SecurityMessageSignatureVerify
      x-operation-id-source: derived
    patch:
      tags:
      - Message Signatures
      description: Yields the status of the http signature validation
      security: []
      parameters:
      - in: header
        name: header-signature
        description: 'Message Signatures: signature header containing a signature label with the components used to generate the signature'
        schema:
          type: string
      - in: header
        name: header-signature-input
        description: 'Message Signatures: signature-input header containing a signature label with the components used to generate the signature'
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  busy:
                    type: boolean
                required:
                - message
                - busy
                title: httpsig-debug-response
      summary: Update security message signature verify
      x-summary-source: derived
      operationId: patchV0SecurityMessageSignatureVerify
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
