openapi: 3.2.0
info:
  title: Griffin Users API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Users
  description: Users represent individuals who use the Griffin platform. A user must have a membership in at least one organization, and may have memberships in multiple organizations.
paths:
  /v0/users/{user-id}:
    get:
      tags:
      - Users
      description: Get the User resource for the current user.
      parameters:
      - required: true
        name: user-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  user-email:
                    type: string
                    title: user-email
                    example: user@example.com
                    description: The user's email address.
                  user-url:
                    type: string
                    title: user-url
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the user.
                  user-username:
                    type: string
                    title: user-username
                    example: user@example.com
                    description: The username.
                  api-keys-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        user-id:
                          type: string
                          format: ''
                          title: user-id
                          required: true
                          name: user-id
                      required:
                      - user-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          user-id:
                            type: string
                            format: ''
                            title: user-id
                            required: true
                            name: user-id
                        required:
                        - user-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          user-id:
                            type: string
                            format: ''
                            title: user-id
                            required: true
                            name: user-id
                        required:
                        - user-id
                    title: api-keys-url
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA/api-keys
                    description: Link to the user's [api keys](#tag/API-keys).
                  user-memberships-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        user-id:
                          type: string
                          format: ''
                          title: user-id
                          required: true
                          name: user-id
                      required:
                      - user-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          user-id:
                            type: string
                            format: ''
                            title: user-id
                            required: true
                            name: user-id
                        required:
                        - user-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          user-id:
                            type: string
                            format: ''
                            title: user-id
                            required: true
                            name: user-id
                        required:
                        - user-id
                    title: user-memberships-url
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA/memberships
                    description: Link to the user's [memberships](#tag/Memberships).
                  given-name:
                    title: given-name
                    type: string
                    minLength: 1
                  surname:
                    title: surname
                    type: string
                    minLength: 1
                required:
                - user-email
                - user-url
                - user-username
                - api-keys-url
                - user-memberships-url
                title: user
                description: Shows the associated [user](#tag/Users).
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get user
      operationId: getV0UsersByUserId
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
