openapi: 3.2.0
info:
  title: Griffin Memberships API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Memberships
  description: 'Memberships represents the relationship between a user and an organization.

    A membership must have at least one role assigned to it.'
paths:
  /v0/memberships/{membership-id}:
    get:
      tags:
      - Memberships
      description: Returns the user's membership information.
      parameters:
      - required: true
        name: membership-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  membership-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        membership-id:
                          type: string
                          format: ''
                          title: membership-id
                          required: true
                          name: membership-id
                      required:
                      - membership-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          membership-id:
                            type: string
                            format: ''
                            title: membership-id
                            required: true
                            name: membership-id
                        required:
                        - membership-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          membership-id:
                            type: string
                            format: ''
                            title: membership-id
                            required: true
                            name: membership-id
                        required:
                        - membership-id
                    title: membership-url
                    example: /v0/memberships/mp.ICAgbWVtYmVyc2hpcC1pZA
                    description: Link to the [membership](#tag/Memberships).
                  membership-roles-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        membership-id:
                          type: string
                          format: ''
                          title: membership-id
                          required: true
                          name: membership-id
                      required:
                      - membership-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          membership-id:
                            type: string
                            format: ''
                            title: membership-id
                            required: true
                            name: membership-id
                        required:
                        - membership-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          membership-id:
                            type: string
                            format: ''
                            title: membership-id
                            required: true
                            name: membership-id
                        required:
                        - membership-id
                    title: membership-roles-url
                    example: /v0/memberships/mp.ICAgbWVtYmVyc2hpcC1pZA/roles
                    description: Link to the assigned [roles](#tag/Roles) for this [membership](#tag/Memberships).
                  organization:
                    type: object
                    properties:
                      own-legal-person-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            legal-person-id:
                              type: string
                              format: ''
                              title: legal-person-id
                              required: true
                              name: legal-person-id
                          required:
                          - legal-person-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              legal-person-id:
                                type: string
                                format: ''
                                title: legal-person-id
                                required: true
                                name: legal-person-id
                            required:
                            - legal-person-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              legal-person-id:
                                type: string
                                format: ''
                                title: legal-person-id
                                required: true
                                name: legal-person-id
                            required:
                            - legal-person-id
                        title: own-legal-person-url
                        example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                        description: Link to the [legal person](#tag/Legal-persons) that represents the [organization](#tag/Organizations); this can be an individual or a company.
                      organization-mode:
                        title: organization-mode
                        enum:
                        - test-mode
                        - live-mode
                        type: string
                        description: The organization can either be a sandbox organization or a live one; Check out our guide for [sandbox mode vs live mode](/docs/guides/sandbox-vs-live-mode).
                      organization-memberships-url:
                        type: string
                        title: organization-memberships-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/memberships
                        description: Link to the [memberships](#tag/Memberships) for this [organization](#tag/Organizations).
                      organization-invitations-url:
                        type: string
                        title: organization-invitations-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/invitations
                        description: Link to the resource that enables you to [invite](#tag/Invites) new [users](#tag/Users) to this [organization](#tag/Organizations).
                      organization-payments-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            organization-id:
                              type: string
                              format: ''
                              title: organization-id
                              required: true
                              name: organization-id
                          required:
                          - organization-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              organization-id:
                                type: string
                                format: ''
                                title: organization-id
                                required: true
                                name: organization-id
                            required:
                            - organization-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              organization-id:
                                type: string
                                format: ''
                                title: organization-id
                                required: true
                                name: organization-id
                            required:
                            - organization-id
                        title: organization-payments-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/payments
                        description: Link to the [payments](#tag/Payments) associated with this organization.
                      organization-bank-account-products-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            organization-id:
                              type: string
                              format: ''
                              title: organization-id
                              required: true
                              name: organization-id
                          required:
                          - organization-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              organization-id:
                                type: string
                                format: ''
                                title: organization-id
                                required: true
                                name: organization-id
                            required:
                            - organization-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              organization-id:
                                type: string
                                format: ''
                                title: organization-id
                                required: true
                                name: organization-id
                            required:
                            - organization-id
                        title: organization-bank-account-products-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/products
                        description: Link to the [bank account](#tag/Bank-accounts) products owned by this [organization](#tag/Organization).
                      organization-onboarding-applications-url:
                        type: string
                        title: organization-onboarding-applications-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/onboarding/applications
                        description: Link to the [Reliance onboarding](#tag/Reliance-onboarding).
                      display-name:
                        type: string
                        minLength: 1
                        title: display-name
                        description: A human readable label for an entity
                      organization-bank-accounts-search-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            organization-id:
                              type: string
                              format: ''
                              title: organization-id
                              required: true
                              name: organization-id
                          required:
                          - organization-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              organization-id:
                                type: string
                                format: ''
                                title: organization-id
                                required: true
                                name: organization-id
                            required:
                            - organization-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              organization-id:
                                type: string
                                format: ''
                                title: organization-id
                                required: true
                                name: organization-id
                            required:
                            - organization-id
                        title: organization-bank-accounts-search-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts/search
                        description: Link to search [bank accounts](#tag/Bank-accounts) associated with this [organization](#tag/Organizations).
                      organization-api-keys-url:
                        type: string
                        title: organization-api-keys-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/api-keys
                      organization-live-access-url:
                        type: string
                        title: organization-live-access-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/live-access
                        description: Link to the resource that enables you to request live access.
                      organization-webhooks-url:
                        type: string
                        title: organization-webhooks-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/webhooks
                        description: Link to the endpoint which enables webhook creation.
                      organization-workflows-url:
                        type: string
                        title: organization-workflows-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/workflows
                        description: Link to the onboarding [workflows](#tag/Workflows) configured for this [organization](#tag/Organizations).
                      organization-bank-accounts-url:
                        type: string
                        title: organization-bank-accounts-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts
                        description: Link to the [bank accounts](#tag/Bank-accounts) managed by this [organization](#tag/Organizations).
                      available-roles:
                        type: array
                        items:
                          type: object
                          properties:
                            display-name:
                              type: string
                              minLength: 1
                              title: display-name
                              description: A human readable label for an entity
                            description:
                              type: string
                              title: description
                            role-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  role-id:
                                    type: string
                                    format: ''
                                    title: role-id
                                    required: true
                                    name: role-id
                                required:
                                - role-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    role-id:
                                      type: string
                                      format: ''
                                      title: role-id
                                      required: true
                                      name: role-id
                                  required:
                                  - role-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    role-id:
                                      type: string
                                      format: ''
                                      title: role-id
                                      required: true
                                      name: role-id
                                  required:
                                  - role-id
                              title: role-url
                              example: /v0/roles/re.ICAgICAgICAgcm9sZS1pZA
                              description: Link to the [role](#tag/Roles).
                            role-category:
                              type: string
                          required:
                          - display-name
                          - description
                          - role-url
                          title: role
                        description: The subset of [roles](#tag/Roles) available to [members](#tag/Members) of this [organization](#tag/Organizations).
                        title: available-roles
                      can-decide-on-verifications?:
                        type: boolean
                        title: can-decide-on-verifications?
                        description: Is this organization able to make manual decisions on verifications?
                      organization-url:
                        type: string
                        title: organization-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                        description: Link to the [organization](#tag/Organizations).
                      organization-payments-search-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            organization-id:
                              type: string
                              format: ''
                              title: organization-id
                              required: true
                              name: organization-id
                          required:
                          - organization-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              organization-id:
                                type: string
                                format: ''
                                title: organization-id
                                required: true
                                name: organization-id
                            required:
                            - organization-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              organization-id:
                                type: string
                                format: ''
                                title: organization-id
                                required: true
                                name: organization-id
                            required:
                            - organization-id
                        title: organization-payments-search-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/payments/search
                        description: Link to search [payments](#tag/Payments) associated with this organization.
                      organization-individuals-url:
                        type: string
                        title: organization-individuals-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/individuals
                      organization-corporations-url:
                        type: string
                        title: organization-corporations-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/corporations
                      organization-legal-persons-url:
                        type: string
                        title: organization-legal-persons-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/legal-persons
                        description: Link to the [legal persons](#tag/Legal-persons) grouped under this [organization](#tag/Organizations).
                      organization-legal-persons-search-url:
                        type: string
                        title: organization-legal-persons-search-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/legal-persons/search
                        description: Link to search [legal persons](#tag/Legal-persons) grouped under this [organization](#tag/Organizations).
                      organization-events-url:
                        type: string
                        title: organization-events-url
                        example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/events
                        description: Link to the endpoint which lists an organization's events.
                    required:
                    - available-roles
                    - can-decide-on-verifications?
                    - display-name
                    - organization-api-keys-url
                    - organization-bank-accounts-url
                    - organization-bank-account-products-url
                    - organization-corporations-url
                    - organization-events-url
                    - organization-individuals-url
                    - organization-invitations-url
                    - organization-legal-persons-url
                    - organization-live-access-url
                    - organization-memberships-url
                    - organization-mode
                    - organization-payments-url
                    - organization-url
                    - organization-webhooks-url
                    - organization-workflows-url
                    - own-legal-person-url
                    - organization-legal-persons-search-url
                    - organization-bank-accounts-search-url
                    - organization-payments-search-url
                    title: organization
                    description: Shows the associated [organization](#tag/Organizations).
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        display-name:
                          type: string
                          minLength: 1
                          title: display-name
                          description: A human readable label for an entity
                        description:
                          type: string
                          title: description
                        role-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              role-id:
                                type: string
                                format: ''
                                title: role-id
                                required: true
                                name: role-id
                            required:
                            - role-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                role-id:
                                  type: string
                                  format: ''
                                  title: role-id
                                  required: true
                                  name: role-id
                              required:
                              - role-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                role-id:
                                  type: string
                                  format: ''
                                  title: role-id
                                  required: true
                                  name: role-id
                              required:
                              - role-id
                          title: role-url
                          example: /v0/roles/re.ICAgICAgICAgcm9sZS1pZA
                          description: Link to the [role](#tag/Roles).
                        role-category:
                          type: string
                      required:
                      - display-name
                      - description
                      - role-url
                      title: role
                    title: roles
                    description: Shows a collection of [roles](#tag/Roles).
                  user:
                    type: object
                    properties:
                      user-email:
                        type: string
                        title: user-email
                        example: user@example.com
                        description: The user's email address.
                      user-url:
                        type: string
                        title: user-url
                        example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                        description: Link to the user.
                      user-username:
                        type: string
                        title: user-username
                        example: user@example.com
                        description: The username.
                      api-keys-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            user-id:
                              type: string
                              format: ''
                              title: user-id
                              required: true
                              name: user-id
                          required:
                          - user-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              user-id:
                                type: string
                                format: ''
                                title: user-id
                                required: true
                                name: user-id
                            required:
                            - user-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              user-id:
                                type: string
                                format: ''
                                title: user-id
                                required: true
                                name: user-id
                            required:
                            - user-id
                        title: api-keys-url
                        example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA/api-keys
                        description: Link to the user's [api keys](#tag/API-keys).
                      user-memberships-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            user-id:
                              type: string
                              format: ''
                              title: user-id
                              required: true
                              name: user-id
                          required:
                          - user-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              user-id:
                                type: string
                                format: ''
                                title: user-id
                                required: true
                                name: user-id
                            required:
                            - user-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              user-id:
                                type: string
                                format: ''
                                title: user-id
                                required: true
                                name: user-id
                            required:
                            - user-id
                        title: user-memberships-url
                        example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA/memberships
                        description: Link to the user's [memberships](#tag/Memberships).
                      given-name:
                        title: given-name
                        type: string
                        minLength: 1
                      surname:
                        title: surname
                        type: string
                        minLength: 1
                    required:
                    - user-email
                    - user-url
                    - user-username
                    - api-keys-url
                    - user-memberships-url
                    title: user
                    description: Shows the associated [user](#tag/Users).
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                required:
                - membership-url
                - membership-roles-url
                - organization
                - roles
                - user
                - created-at
                title: membership
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get membership
      operationId: getV0MembershipsByMembershipId
      x-operation-id-source: derived
    delete:
      tags:
      - Memberships
      description: Removes a user from an organization.
      parameters:
      - required: true
        name: membership-id
        in: path
        schema:
          type: string
      responses:
        '204':
          description: ''
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Delete membership
      operationId: deleteV0MembershipsByMembershipId
      x-operation-id-source: derived
  /v0/organizations/{organization-id}/memberships:
    get:
      tags:
      - Memberships
      description: Returns this organization's memberships.
      parameters:
      - in: query
        name: sort
        description: ''
        required: false
        schema:
          type: string
          enum:
          - -created-at
          - created-at
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - required: true
        name: organization-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberships:
                    type: array
                    items:
                      type: object
                      properties:
                        membership-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              membership-id:
                                type: string
                                format: ''
                                title: membership-id
                                required: true
                                name: membership-id
                            required:
                            - membership-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                membership-id:
                                  type: string
                                  format: ''
                                  title: membership-id
                                  required: true
                                  name: membership-id
                              required:
                              - membership-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                membership-id:
                                  type: string
                                  format: ''
                                  title: membership-id
                                  required: true
                                  name: membership-id
                              required:
                              - membership-id
                          title: membership-url
                          description: Link to the [membership](#tag/Memberships).
                          example: /v0/memberships/mp.ICAgbWVtYmVyc2hpcC1pZA
                        membership-roles-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              membership-id:
                                type: string
                                format: ''
                                title: membership-id
                                required: true
                                name: membership-id
                            required:
                            - membership-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                membership-id:
                                  type: string
                                  format: ''
                                  title: membership-id
                                  required: true
                                  name: membership-id
                              required:
                              - membership-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                membership-id:
                                  type: string
                                  format: ''
                                  title: membership-id
                                  required: true
                                  name: membership-id
                              required:
                              - membership-id
                          title: membership-roles-url
                          description: Link to the assigned [roles](#tag/Roles) for this [membership](#tag/Memberships).
                          example: /v0/memberships/mp.ICAgbWVtYmVyc2hpcC1pZA/roles
                        organization:
                          type: object
                          properties:
                            own-legal-person-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  legal-person-id:
                                    type: string
                                    format: ''
                                    title: legal-person-id
                                    required: true
                                    name: legal-person-id
                                required:
                                - legal-person-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              title: own-legal-person-url
                              description: Link to the [legal person](#tag/Legal-persons) that represents the [organization](#tag/Organizations); this can be an individual or a company.
                              example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                            organization-mode:
                              title: organization-mode
                              enum:
                              - test-mode
                              - live-mode
                              type: string
                              description: The organization can either be a sandbox organization or a live one; Check out our guide for [sandbox mode vs live mode](/docs/guides/sandbox-vs-live-mode).
                            organization-memberships-url:
                              type: string
                              title: organization-memberships-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/memberships
                              description: Link to the [memberships](#tag/Memberships) for this [organization](#tag/Organizations).
                            organization-invitations-url:
                              type: string
                              title: organization-invitations-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/invitations
                              description: Link to the resource that enables you to [invite](#tag/Invites) new [users](#tag/Users) to this [organization](#tag/Organizations).
                            organization-payments-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  organization-id:
                                    type: string
                                    format: ''
                                    title: organization-id
                                    required: true
                                    name: organization-id
                                required:
                                - organization-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              title: organization-payments-url
                              description: Link to the [payments](#tag/Payments) associated with this organization.
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/payments
                            organization-bank-account-products-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  organization-id:
                                    type: string
                                    format: ''
                                    title: organization-id
                                    required: true
                                    name: organization-id
                                required:
                                - organization-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              title: organization-bank-account-products-url
                              description: Link to the [bank account](#tag/Bank-accounts) products owned by this [organization](#tag/Organization).
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/products
                            organization-onboarding-applications-url:
                              type: string
                              title: organization-onboarding-applications-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/onboarding/applications
                              description: Link to the [Reliance onboarding](#tag/Reliance-onboarding).
                            display-name:
                              type: string
                              minLength: 1
                              title: display-name
                              description: The mutable display name for the Organisation
                              maxLength: 64
                              example: Company Org
                            organization-bank-accounts-search-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  organization-id:
                                    type: string
                                    format: ''
                                    title: organization-id
                                    required: true
                                    name: organization-id
                                required:
                                - organization-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              title: organization-bank-accounts-search-url
                              description: Link to search [bank accounts](#tag/Bank-accounts) associated with this [organization](#tag/Organizations).
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts/search
                            organization-api-keys-url:
                              type: string
                              title: organization-api-keys-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/api-keys
                            organization-live-access-url:
                              type: string
                              title: organization-live-access-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/live-access
                              description: Link to the resource that enables you to request live access.
                            organization-webhooks-url:
                              type: string
                              title: organization-webhooks-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/webhooks
                              description: Link to the endpoint which enables webhook creation.
                            organization-workflows-url:
                              type: string
                              title: organization-workflows-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/workflows
                              description: Link to the onboarding [workflows](#tag/Workflows) configured for this [organization](#tag/Organizations).
                            organization-bank-accounts-url:
                              type: string
                              title: organization-bank-accounts-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts
                              description: Link to the [bank accounts](#tag/Bank-accounts) managed by this [organization](#tag/Organizations).
                            available-roles:
                              type: array
                              items:
                                type: object
                                properties:
                                  display-name:
                                    type: string
                                    minLength: 1
                                    title: display-name
                                    description: The mutable display name for the Organisation
                                    maxLength: 64
                                    example: Company Org
                                  description:
                                    type: string
                                    title: description
                                  role-url:
                                    type: string
                                    x-allOf:
                                    - type: string
                                    - {}
                                    - type: object
                                      properties:
                                        role-id:
                                          type: string
                                          format: ''
                                          title: role-id
                                          required: true
                                          name: role-id
                                      required:
                                      - role-id
                                    x-anyOf:
                                    - type: string
                                      x-allOf:
                                      - type: string
                                      - {}
                                      - type: object
                                        properties:
                                          role-id:
                                            type: string
                                            format: ''
                                            title: role-id
                                            required: true
                                            name: role-id
                                        required:
                                        - role-id
                                    - type: string
                                      x-allOf:
                                      - type: string
                                      - {}
                                      - type: object
                                        properties:
                                          role-id:
                                            type: string
                                            format: ''
                                            title: role-id
                                            required: true
                                            name: role-id
                                        required:
                                        - role-id
                                    title: role-url
                                    description: Link to the [role](#tag/Roles).
                                    example: /v0/roles/re.ICAgICAgICAgcm9sZS1pZA
                                  role-category:
                                    type: string
                                required:
                                - display-name
                                - description
                                - role-url
                                title: role
                              description: The subset of [roles](#tag/Roles) available to [members](#tag/Members) of this [organization](#tag/Organizations).
                              title: available-roles
                            can-decide-on-verifications?:
                              type: boolean
                              title: can-decide-on-verifications?
                              description: Is this organization able to make manual decisions on verifications?
                            organization-url:
                              type: string
                              title: organization-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                              description: Link to the [organization](#tag/Organizations).
                            organization-payments-search-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  organization-id:
                                    type: string
                                    format: ''
                                    title: organization-id
                                    required: true
                                    name: organization-id
                                required:
                                - organization-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              title: organization-payments-search-url
                              description: Link to search [payments](#tag/Payments) associated with this organization.
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/payments/search
                            organization-individuals-url:
                              type: string
                              title: organization-individuals-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/individuals
                            organization-corporations-url:
                              type: string
                              title: organization-corporations-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/corporations
                            organization-legal-persons-url:
                              type: string
                              title: organization-legal-persons-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/legal-persons
                              description: Link to the [legal persons](#tag/Legal-persons) grouped under this [organization](#tag/Organizations).
                            organization-legal-persons-search-url:
                              type: string
                              title: organization-legal-persons-search-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/legal-persons/search
                              description: Link to search [legal persons](#tag/Legal-persons) grouped under this [organization](#tag/Organizations).
                            organization-events-url:
                              type: string
                              title: organization-events-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/events
                              description: Link to the endpoint which lists an organization's events.
                          required:
                          - available-roles
                          - can-decide-on-verifications?
                          - display-name
                          - organization-api-keys-url
                          - organization-bank-accounts-url
                          - organization-bank-account-products-url
                          - organization-corporations-url
                          - organization-events-url
                          - organization-individuals-url
                          - organization-invitations-url
                          - organization-legal-persons-url
                          - organization-live-access-url
                          - organization-memberships-url
                          - organization-mode
                          - organization-payments-url
                          - organization-url
                          - organization-webhooks-url
                          - organization-workflows-url
                          - own-legal-person-url
                          - organization-legal-persons-search-url
                          - organization-bank-accounts-search-url
                          - organization-payments-search-url
                          title: organization
                          additionalProperties: false
                        roles:
                          type: array
                          items:
                            type: object
                            properties:
                              display-name:
                                type: string
                                minLength: 1
                                title: display-name
                                description: The mutable display name for the Organisation
                                maxLength: 64
                                example: Company Org
                              description:
                                type: string
                                title: description
                              role-url:
                                type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    role-id:
                                      type: string
                                      format: ''
                                      title: role-id
                                      required: true
                                      name: role-id
                                  required:
                                  - role-id
                                x-anyOf:
                                - type: string
                                  x-allOf:
                                  - type: string
                                  - {}
                                  - type: object
                                    properties:
                                      role-id:
                                        type: string
                                        format: ''
                                        title: role-id
                                        required: true
                                        name: role-id
                                    required:
                                    - role-id
                                - type: string
                                  x-allOf:
                                  - type: string
                                  - {}
                                  - type: object
                                    properties:
                                      role-id:
                                        type: string
                                        format: ''
                                        title: role-id
                                        required: true
                                        name: role-id
                                    required:
                                    - role-id
                                title: role-url
                                description: Link to the [role](#tag/Roles).
                                example: /v0/roles/re.ICAgICAgICAgcm9sZS1pZA
                              role-category:
                                type: string
                            required:
                            - display-name
                            - description
                            - role-url
                            title: role
                          title: roles
                          description: Shows a collection of [roles](#tag/Roles).
                        user:
                          type: object
                          properties:
                            user-email:
                              type: string
                              title: user-email
                              example: user@example.com
                              description: The user's email address.
                            user-url:
                              type: string
                              title: user-url
                              example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                              description: Link to the user.
                            user-username:
                              type: string
                              title: user-username
                              example: user@example.com
                              description: The username.
                            api-keys-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  user-id:
                                    type: string
                                    format: ''
                                    title: user-id
                                    required: true
                                    name: user-id
                                required:
                                - user-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    user-id:
                                      type: string
                                      format: ''
                                      title: user-id
                                      required: true
                                      name: user-id
                                  required:
                                  - user-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    user-id:
                                      type: string
                                      format: ''
                                      title: user-id
                                      required: true
                                      name: user-id
                                  required:
                                  - user-id
                              title: api-keys-url
                              description: Link to the user's [api keys](#tag/API-keys).
                              example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA/api-keys
                            user-memberships-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  user-id:
                                    type: string
                                    format: ''
                                    title: user-id
                                    required: true
                                    name: user-id
                                required:
                                - user-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    user-id:
                                      type: string
                                      format: ''
                                      title: user-id
                                      required: true
                                      name: user-id
                                  required:
                                  - user-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    user-id:
                                      type: string
                                      format: ''
                                      title: user-id
                                      required: true
                                      name: user-id
                                  required:
                                  - user-id
                              title: user-memberships-url
                              description: Link to the user's [memberships](#tag/Memberships).
                              example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA/memberships
                            given-name:
                              title: given-name
                              type: string
                              minLength: 1
                            surname:
                              title: surname
                              type: string
                              minLength: 1
                          required:
                          - user-email
                          - user-url
                          - user-username
                          - api-keys-url
                          - user-memberships-url
                          title: user
                          description: Shows the associated [user](#tag/Users).
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                      required:
                      - membership-url
                      - membership-roles-url
                      - organization
                      - roles
                      - user
                      - created-at
                      title: membership
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                required:
                - memberships
                - links
                title: memberships-response
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
      summary: List organization memberships
      operationId: getV0OrganizationsByOrganizationIdMemberships
      x-operation-id-source: derived
  /v0/users/{user-id}/memberships:
    get:
      tags:
      - Memberships
      description: Returns this user's memberships.
      parameters:
      - in: query
        name: sort
        description: ''
        required: false
        schema:
          type: string
          enum:
          - -created-at
          - created-at
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - required: true
        name: user-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberships:
                    type: array
                    items:
                      type: object
                      properties:
                        membership-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              membership-id:
                                type: string
                                format: ''
                                title: membership-id
                                required: true
                                name: membership-id
                            required:
                            - membership-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                membership-id:
                                  type: string
                                  format: ''
                                  title: membership-id
                                  required: true
                                  name: membership-id
                              required:
                              - membership-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                membership-id:
                                  type: string
                                  format: ''
                                  title: membership-id
                                  required: true
                                  name: membership-id
                              required:
                              - membership-id
                          title: membership-url
                          description: Link to the [membership](#tag/Memberships).
                          example: /v0/memberships/mp.ICAgbWVtYmVyc2hpcC1pZA
                        membership-roles-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              membership-id:
                                type: string
                                format: ''
                                title: membership-id
                                required: true
                                name: membership-id
                            required:
                            - membership-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                membership-id:
                                  type: string
                                  format: ''
                                  title: membership-id
                                  required: true
                                  name: membership-id
                              required:
                              - membership-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                membership-id:
                                  type: string
                                  format: ''
                                  title: membership-id
                                  required: true
                                  name: membership-id
                              required:
                              - membership-id
                          title: membership-roles-url
                          description: Link to the assigned [roles](#tag/Roles) for this [membership](#tag/Memberships).
                          example: /v0/memberships/mp.ICAgbWVtYmVyc2hpcC1pZA/roles
                        organization:
                          type: object
                          properties:
                            own-legal-person-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  legal-person-id:
                                    type: string
                                    format: ''
                                    title: legal-person-id
                                    required: true
                                    name: legal-person-id
                                required:
                                - legal-person-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              title: own-legal-person-url
                              description: Link to the [legal person](#tag/Legal-persons) that represents the [organization](#tag/Organizations); this can be an individual or a company.
                              example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                            organization-mode:
                              title: organization-mode
                              enum:
                              - test-mode
                              - live-mode
                              type: string
                              description: The organization can either be a sandbox organization or a live one; Check out our guide for [sandbox mode vs live mode](/docs/guides/sandbox-vs-live-mode).
                            organization-memberships-url:
                              type: string
                              title: organization-memberships-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/memberships
                              description: Link to the [memberships](#tag/Memberships) for this [organization](#tag/Organizations).
                            organization-invitations-url:
                              type: string
                              title: organization-invitations-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/invitations
                              description: Link to the resource that enables you to [invite](#tag/Invites) new [users](#tag/Users) to this [organization](#tag/Organizations).
                            organization-payments-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  organization-id:
                                    type: string
                                    format: ''
                                    title: organization-id
                                    required: true
                                    name: organization-id
                                required:
                                - organization-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              title: organization-payments-url
                              description: Link to the [payments](#tag/Payments) associated with this organization.
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/payments
                            organization-bank-account-products-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  organization-id:
                                    type: string
                                    format: ''
                                    title: organization-id
                                    required: true
                                    name: organization-id
                                required:
                                - organization-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              title: organization-bank-account-products-url
                              description: Link to the [bank account](#tag/Bank-accounts) products owned by this [organization](#tag/Organization).
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/products
                            organization-onboarding-applications-url:
                              type: string
                              title: organization-onboarding-applications-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/onboarding/applications
                              description: Link to the [Reliance onboarding](#tag/Reliance-onboarding).
                            display-name:
                              type: string
                              minLength: 1
                              title: display-name
                              description: The mutable display name for the Organisation
                              maxLength: 64
                              example: Company Org
                            organization-bank-accounts-search-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  organization-id:
                                    type: string
                                    format: ''
                                    title: organization-id
                                    required: true
                                    name: organization-id
                                required:
                                - organization-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    organization-id:
                                      type: string
                                      format: ''
                                      title: organization-id
                                      required: true
                                      name: organization-id
                                  required:
                                  - organization-id
                              title: organization-bank-accounts-search-url
                              description: Link to search [bank accounts](#tag/Bank-accounts) associated with this [organization](#tag/Organizations).
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts/search
                            organization-api-keys-url:
                              type: string
                              title: organization-api-keys-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/api-keys
                            organization-live-access-url:
                              type: string
                              title: organization-live-access-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/live-access
                              description: Link to the resource that enables you to request live access.
                            organization-webhooks-url:
                              type: string
                              title: organization-webhooks-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/webhooks
                              description: Link to the endpoint which enables webhook creation.
                            organization-workflows-url:
                              type: string
                              title: organization-workflows-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/workflows
                              description: Link to the onboarding [workflows](#tag/Workflows) configured for this [organization](#tag/Organizations).
                            organization-bank-accounts-url:
                              type: string
                              title: organization-bank-accounts-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts
                              description: Link to the [bank accounts](#tag/Bank-accounts) managed by this [organization](#tag/Organizations).
                            available-roles:
                              type: array
                              items:
                                type: object
                                properties:
                                  display-name:
                                    type: string
                                    minLength: 1
                                    title: display-name
                                    description: The mutable display name for the Organisation
                                    maxLength: 64
                                    example: Company Org
                                  description:
                                    type: string
                                    title: description
                                  role-url:
                                    type: string
                                    x-allOf:
                                    - type: string
                                    - {}
                                    - type: object
                                      properties:
                                        role-id:
                                          type: string
                                          format: ''
                                          title: role-id
                                          required: true
                                          name: role-id
                                      required:
                                      - role-id
                                    x-anyOf:
                                    - type: string
                                      x-allOf:
                                      - type: string
                                      - {}
                                      - type: object
                                        properties:
                                          role-id:
                                            type: string
                                            format: ''
                                            title: role-id
                                            required: true
                                            name: role-id
                                        required:
                                        - role-id
                                    - type: string
                                      x-allOf:
                                      - type: string
                                      - {}
                                      - type: object
                                        properties:
                                          role-id:
                                            type: string
                                            format: ''
                                            title: role-id
                                            required: true
                                            name: role-id
                                        required:
                                        - role-id
                                    title: role-url
                                    description: Link to the [role](#tag/Roles).
                                    example: /v0/roles/re.ICAgICAgICAgcm9sZS1pZA
                                  role-category:
                                    type: string
                                required:
                                - display-name
                                - description
                                - role-url
                                title: role
                              description: The subset of [roles](#tag/Roles) available to [members](#tag/Members) of this [organization](#tag/Organizations).
                              title: available-roles
                            can-decide-on-verifications?:
                              type: boolean
                              title: can-decide-on-verifications?
                              description: Is this organization able to make manual decisions on verifications?
                            organization-url:
                              type: string
                              title: organization-url
                              example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                              description: Link to the [organization](#tag/Organizations).
                            organization-payments-search-url:
                              type: string
                              x-allOf:
                              - type: string
[...]
