swagger: '2.0'
info:
  title: The Griffin API keys Events API
  version: ''
  description: "## Introduction\n\nThe Griffin API is based on [REST](https://en.wikipedia.org/wiki/Representational_state_transfer).\nIt has resource-oriented URLs, accepts [JSON](https://www.json.org/json-en.html)-encoded request bodies, returns [JSON](https://www.json.org/json-en.html)-encoded responses, and uses standard HTTP response verbs and response codes.\n\nOur API deviates from strict RESTful principles if it makes sense to do so, such as when we enforce tighter access controls around certain operations.\nFor example, when closing a bank account: rather than send a PATCH request to the [bank account](#tag/Bank-accounts) resource to update it's status to `\"closed\"`, we provide a dedicated account closure resource.\n\nAnyone can [create an account](https://app.griffin.com/register) with Griffin and try out our API in [sandbox mode](/docs/guides/sandbox-vs-live-mode).\n\nNew to Griffin? Check out our [getting started guide](/docs/guides/get-started-with-the-api).\n\n## Navigation\n\nOur API is designed to be navigated programmatically. When you request any resource, you will find the URLs for related resources in the response body.\n\nThe API is structured as a tree with your [organization](#tag/Organizations) at the top. Everything that you own will be a sub-resource of your organization.\n\nTo bootstrap the navigation process, request the [index](#tag/Navigation/paths/~1v0~1index/get) endpoint: the response will contain your `organization-url`.\n\nFor a walkthrough, see our [getting started guide](/docs/guides/get-started-with-the-api).\n\n## Pagination\n\nOur list APIs support pagination (e.g. [list bank accounts](#tag/Bank-accounts/paths/~1v0~1organizations~1%7Borganization-id%7D~1bank~1accounts/get) and [list payments](#tag/Payments/paths/~1v0~1bank~1accounts~1%7Bbank-account-id%7D~1payments/get)).\nBy default, a list API returns up to 25 results. If there are more results available, the response payload will include links to the previous/next pages.\n\n### Change page size\n\nYou can request a different number of results (between 1 and 200, inclusive) by using the `page[size]` query parameter:\n\n```\nGET /v0/organizations/:id/bank/accounts?page[size]=100\n```\n\n### Navigating between pages\n\nList responses will include a `links` object with `prev` and `next` attributes, as shown below.\nPerform a GET request to the value of the attribute to fetch the previous/next page of results.\n\n```\n{\n  \"accounts\": [\n    // ...\n  ],\n  \"links\": {\n    \"prev\": \"/v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts?page[before]=djE6WxSPxfYUTnCU9XtWzj9gGA\",\n    \"next\": \"/v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts?page[after]=djE6aw79PXZySUOL16LD8HRJ3A\"\n  }\n}\n\n```\nIf there is no previous or next page available, the value of the attribute will be  null.\n\nAny other query parameters included in the initial request will also be included in the response payload's links.\nIf you want to change parameters (see [filtering and sorting](#section/Filtering-and-sorting)), request the first page and follow the links from there.\n\n## Filtering and sorting\n\n### Sort results\n\nBy default, resources will be listed in descending order, usually based on the `created-at` attribute.\nYou can change the sorting behaviour of a list of results by using the `sort` query parameter.\n\nFor example, to list bank accounts in ascending order (oldest first):\n\n```\nGET /v0/organizations/:id/bank/accounts?sort=created-at\n```\n\nTo _explicitly_ sort in descending order (newest first), prefix the sort attribute with `-`:\n\n```\nGET /v0/organizations/:id/bank/accounts?sort=-created-at\n```\n\n### Filter results\n\nSome list APIs allow you to filter the results.\nFilters are expressed as nested data structures encoded into query parameters.\nFor example, you can list bank accounts that are in either the `opening` or `open` state with:\n\n```\nGET /v0/organizations/:id/bank/accounts?filter[account-status][in][]=opening&filter[account-status][in][]=open\n```\n\nSimilarly, you can list legal persons with a specific `application-status`:\n\n```\nGET /v0/organizations/:id/legal-persons?filter[application-status][eq]=accepted\n```\n\n### Include resources\n\nSome list APIs allow you to include associated resources in the response, reducing the number of requests needed to fetch related data.\nFor instance, when listing bank accounts, you can include each bank account's beneficiary legal person by using the `include` query parameter:\n\n```\nGET /v0/organizations/:id/bank/accounts?include=beneficiary\n```\n\nThe response returns the usual list of bank accounts, but it will also have an `included` object with a `legal-persons` attribute:\n\n```\n{\n  \"accounts\": [\n    // ...\n  ],\n  \"links\": {\n    // ...\n  }\n  \"included\": {\n    \"legal-persons\": [\n      // ...\n    ]\n  }\n}\n```\n\nCheck the documentation for each list API to see all options for sorting and filtering\n\n## Request limits\n\nEach organization is allowed up to 50 concurrent (in-flight) API requests. Exceeding this threshold results in a 429 - Too Many Requests response. Upon receiving a 429 response, you should implement a backoff strategy, pausing to allow your outstanding requests to complete before attempting new requests. To manage your request rate effectively and avoid surpassing this limit, consider using a controlled approach such as a finite pool of threads or workers.\n\n## Versioning\n\nThe Griffin API is versioned via a prefix in the URL.\nThe current version is v0.\nAn example endpoint is: https://api.griffin.com/v0/index.\n\nWe will not break your integration with a particular version for as long as we support that version.\nIf we release a new version, you will have 12 months to upgrade to it."
host: api.griffin.com
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- api-key-auth: []
tags:
- name: Events
paths:
  /v0/events/{event-id}:
    get:
      tags:
      - Events
      summary: Get an event
      description: "The event-type may be one of:\n\n**account-status-created**\n```json\n{\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"account-status-created\",\n  \"event-payload\" : {\n    \"account-url\" : \"/v0/bank/accounts/ba.JZjyiHUbXEOqy6YWyaR_Jw\",\n    \"account-status\" : \"open\"\n  },\n  \"created-at\" : \"2024-01-01T13:30:00.000Z\"\n}\n```\n\n**account-status-updated**\n```json\n{\n  \"created-at\" : \"2024-01-01T17:55:00.000Z\",\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"account-status-updated\",\n  \"event-payload\" : {\n    \"account-url\" : \"/v0/bank/accounts/ba.JZjyiHUbXEOqy6YWyaR_Jw\",\n    \"account-status\" : \"closed\"\n  }\n}\n```\n\n**admission-created**\n```json\n{\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"admission-created\",\n  \"event-payload\" : {\n    \"admission-status\" : \"processing\",\n    \"admission-scheme-information\" : {\n      \"payment-scheme\" : \"fps\",\n      \"end-to-end-identification\" : \"FQ36X73Jb44ZyQE331GYuxLuWM8N85\"\n    },\n    \"payment-url\" : \"/v0/payments/pm.x2UcETQsU4enORzXPgL9bQ\",\n    \"created-at\" : \"2024-01-01T13:20:00.123Z\",\n    \"admission-url\" : \"/v0/admissions/pa.oRFnmBymXIKoknlbwroj8g\",\n    \"unique-scheme-identifier\" : \"AB123456789123456N1020220426826159900     \",\n    \"original-unique-scheme-identifier\" : \"ZZ123456789123456N1020220426826159900     \",\n    \"account-url\" : \"/v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA\"\n  },\n  \"created-at\" : \"2024-01-01T13:30:00.000Z\"\n}\n```\n\n**admission-updated**\n```json\n{\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"admission-updated\",\n  \"event-payload\" : {\n    \"admission-status\" : \"delivered\",\n    \"admission-scheme-information\" : {\n      \"payment-scheme\" : \"fps\",\n      \"end-to-end-identification\" : \"FQ36X73Jb44ZyQE331GYuxLuWM8N85\"\n    },\n    \"payment-url\" : \"/v0/payments/pm.x2UcETQsU4enORzXPgL9bQ\",\n    \"created-at\" : \"2024-01-01T18:40:00.014Z\",\n    \"admission-url\" : \"/v0/admissions/pa.oRFnmBymXIKoknlbwroj8g\",\n    \"unique-scheme-identifier\" : \"AB123456789123456N1020220426826159900     \",\n    \"original-unique-scheme-identifier\" : \"ZZ123456789123456N1020220426826159900     \",\n    \"account-url\" : \"/v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA\"\n  },\n  \"created-at\" : \"2024-01-01T18:45:00.000Z\"\n}\n```\n\n**decision-created**\n```json\n{\n  \"created-at\" : \"2020-01-01T00:00:00.000Z\",\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"decision-created\",\n  \"event-payload\" : {\n    \"legal-person-url\" : \"/v0/legal-persons/lp.7oKVYzj1V-2Y4gXEvdowYA\",\n    \"verification-url\" : \"/v0/verifications/vn.yY5hFwg3URayMz6iqXQcpA\",\n    \"decision-outcome\" : \"accepted\",\n    \"decision-maker\" : \"system\",\n    \"decision-notes\" : \"auto-accepted\",\n    \"created-at\" : \"1900-01-01T00:00:00.130Z\"\n  }\n}\n```\n\n**onboarding-application-created**\n```json\n{\n  \"created-at\" : \"2020-01-01T00:00:00.000Z\",\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"onboarding-application-created\",\n  \"event-payload\" : {\n    \"onboarding-application-url\" : \"/v0/onboarding/applications/oa.frwOX_PxXnG6PDDp7n6jwQ\",\n    \"created-at\" : \"1900-01-01T08:55:12.120Z\",\n    \"workflow-url\" : \"/v0/workflows/wf.ESz-T8PUUfyzYDrxBIUjJg\",\n    \"legal-person-url\" : \"/v0/legal-persons/lp.7oKVYzj1V-2Y4gXEvdowYA\",\n    \"verification-url\" : \"/v0/verifications/vn.yY5hFwg3URayMz6iqXQcpA\",\n    \"onboarding-application-status\" : \"processing\"\n  }\n}\n```\n\n**onboarding-application-updated**\n```json\n{\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"onboarding-application-updated\",\n  \"event-payload\" : {\n    \"onboarding-application-url\" : \"/v0/onboarding/applications/oa.frwOX_PxXnG6PDDp7n6jwQ\",\n    \"created-at\" : \"2024-02-03T10:00:00.000Z\",\n    \"workflow-url\" : \"/v0/workflows/wf.ESz-T8PUUfyzYDrxBIUjJg\",\n    \"legal-person-url\" : \"/v0/legal-persons/lp.7oKVYzj1V-2Y4gXEvdowYA\",\n    \"verification-url\" : \"/v0/verifications/vn.yY5hFwg3URayMz6iqXQcpA\",\n    \"decision-outcome\" : \"accepted\",\n    \"onboarding-application-status\" : \"complete\"\n  },\n  \"created-at\" : \"2020-01-01T00:00:00.000Z\"\n}\n```\n\n**payment-created**\n```json\n{\n  \"created-at\" : \"2024-01-01T15:45:00.000Z\",\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"payment-created\",\n  \"event-payload\" : {\n    \"creditor\" : {\n      \"account-url\" : \"/v0/bank/accounts/ba.JZjyiHUbXEOqy6YWyaR_Jw\",\n      \"creditor-type\" : \"griffin-bank-account\"\n    },\n    \"payment-direction\" : \"inbound-payment\",\n    \"created-at\" : \"2024-01-01T15:00:20.237Z\",\n    \"payment-url\" : \"/v0/payments/pm.x2UcETQsU4enORzXPgL9bQ\",\n    \"payment-reference\" : \"Dinner\",\n    \"payment-amount\" : {\n      \"currency\" : \"GBP\",\n      \"value\" : \"16.00\"\n    },\n    \"payment-admissions-url\" : \"/v0/payments/pm.x2UcETQsU4enORzXPgL9bQ/admissions\",\n    \"payment-submissions-url\" : \"/v0/payments/pm.x2UcETQsU4enORzXPgL9bQ/submissions\",\n    \"debtor\" : {\n      \"account-url\" : \"/v0/bank/accounts/ba.JZjyiHUbXEOqy6YWyaR_Jw\",\n      \"account-holder\" : \"ZxB7REHskP2ghVt9Lh23I5\",\n      \"account-number\" : \"92526719\",\n      \"account-number-code\" : \"bban\",\n      \"bank-id\" : \"053515\",\n      \"bank-id-code\" : \"gbdsc\"\n    }\n  }\n}\n```\n\n**submission-created**\n```json\n{\n  \"created-at\" : \"2024-01-01T00:00:00.000Z\",\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"submission-created\",\n  \"event-payload\" : {\n    \"unique-scheme-identifier\" : \"AB123456789123456N1020220426826159900     \",\n    \"submission-status\" : \"processing\",\n    \"submission-scheme-information\" : {\n      \"scheme-status-code-description\" : \"The payment was accepted by the scheme\",\n      \"scheme-status-code\" : \"0000\",\n      \"end-to-end-identification\" : \"AHFIWSJFSOK\",\n      \"payment-scheme\" : \"fps\"\n    },\n    \"payment-url\" : \"/v0/payments/pm.x2UcETQsU4enORzXPgL9bQ\",\n    \"created-at\" : \"2024-01-01T13:23:01.529Z\",\n    \"submission-url\" : \"/v0/submissions/ps.oRFnmBymXIKoknlbwroj8g\",\n    \"account-url\" : \"/v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA\"\n  }\n}\n```\n\n**submission-updated**\n```json\n{\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"submission-updated\",\n  \"event-payload\" : {\n    \"unique-scheme-identifier\" : \"AB123456789123456N1020220426826159900     \",\n    \"submission-status\" : \"delivered\",\n    \"submission-scheme-information\" : {\n      \"end-to-end-identification\" : \"FQ36X73Jb44ZyQE331GYuxLuWM8N85\",\n      \"payment-scheme\" : \"fps\"\n    },\n    \"payment-url\" : \"/v0/payments/pm.x2UcETQsU4enORzXPgL9bQ\",\n    \"created-at\" : \"2024-01-01T10:38:32.973Z\",\n    \"submission-url\" : \"/v0/submissions/ps.oRFnmBymXIKoknlbwroj8g\",\n    \"account-url\" : \"/v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA\"\n  },\n  \"created-at\" : \"2024-01-01T00:00:00.000Z\"\n}\n```\n\n**test-event**\n```json\n{\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"test-event\",\n  \"event-payload\" : { },\n  \"created-at\" : \"2020-01-01T00:00:00.000Z\"\n}\n```\n\n**transaction-created**\n```json\n{\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"transaction-created\",\n  \"event-payload\" : {\n    \"account-transaction-url\" : \"/v0/bank/transactions/tr.KXXPmz1DVQS-X_HVLlTfWQ\",\n    \"processed-at\" : \"2024-01-01T00:00:00.000Z\",\n    \"post-datetime\" : \"2024-01-01T00:00:00.000Z\",\n    \"balance-change-direction\" : \"debit\",\n    \"effective-at\" : \"2024-01-01T00:00:00.000Z\",\n    \"transaction-origin-type\" : \"payment\",\n    \"payment-url\" : \"/v0/payments/pm.x2UcETQsU4enORzXPgL9bQ\",\n    \"reference\" : \"Dinner\",\n    \"account-url\" : \"/v0/bank/accounts/ba.JZjyiHUbXEOqy6YWyaR_Jw\",\n    \"balance-change\" : {\n      \"currency\" : \"GBP\",\n      \"value\" : \"200.00\"\n    },\n    \"account-balance\" : {\n      \"currency\" : \"GBP\",\n      \"value\" : \"800.00\"\n    }\n  },\n  \"created-at\" : \"2024-01-01T00:00:00.000Z\"\n}\n```\n\n**verification-created**\n```json\n{\n  \"created-at\" : \"2020-01-01T00:00:00.000Z\",\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"verification-created\",\n  \"event-payload\" : {\n    \"workflow-url\" : \"/v0/workflows/wf.ESz-T8PUUfyzYDrxBIUjJg\",\n    \"created-at\" : \"1900-01-01T00:00:01.063Z\",\n    \"legal-person-url\" : \"/v0/legal-persons/lp.7oKVYzj1V-2Y4gXEvdowYA\",\n    \"verification-status\" : \"in-progress\",\n    \"verification-url\" : \"/v0/verifications/vn.yY5hFwg3URayMz6iqXQcpA\",\n    \"verification-checks-url\" : \"/v0/verifications/vn.yY5hFwg3URayMz6iqXQcpA/checks\"\n  }\n}\n```\n\n**verification-resource-created**\n```json\n{\n  \"created-at\" : \"2025-02-13T17:15:17.865Z\",\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"verification-resource-created\",\n  \"event-payload\" : {\n    \"verification-resource-id\" : \"vr.aVi78djZTiSymFpU-zV60Q\",\n    \"idv-check-status\" : \"errored\",\n    \"idv-check-url\" : \"TEST\",\n    \"verification-url\" : \"/v0/verifications/vn.0khMbqbVSomz4YDdG2YEPQ\",\n    \"display-name\" : \"02t1y9jKLQp5CdQ4RsxiEuF7QuNDb177Q1Q9Dp0WSL28gDdia5gW7O8lhA2l9Y8w90B1eV1Q23fly6r20ENNJeR\",\n    \"legal-person-url\" : \"/v0/legal-persons/lp.eopIWRwdVVuk6WsW9GzA2w\",\n    \"idv-check-expires-at\" : \"2154-10-20\",\n    \"organization-url\" : \"/v0/organizations/og.VxGLrVDKSB2e1Ps4TtJKrg\",\n    \"verification-resource-type\" : \"idv-check\"\n  }\n}\n```\n\n**verification-resource-updated**\n```json\n{\n  \"created-at\" : \"2025-02-13T17:15:17.865Z\",\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"verification-resource-updated\",\n  \"event-payload\" : {\n    \"verification-resource-id\" : \"vr.aVi78djZTiSymFpU-zV60Q\",\n    \"idv-check-status\" : \"errored\",\n    \"idv-check-url\" : \"TEST\",\n    \"verification-url\" : \"/v0/verifications/vn.0khMbqbVSomz4YDdG2YEPQ\",\n    \"display-name\" : \"02t1y9jKLQp5CdQ4RsxiEuF7QuNDb177Q1Q9Dp0WSL28gDdia5gW7O8lhA2l9Y8w90B1eV1Q23fly6r20ENNJeR\",\n    \"legal-person-url\" : \"/v0/legal-persons/lp.eopIWRwdVVuk6WsW9GzA2w\",\n    \"idv-check-expires-at\" : \"2154-10-20\",\n    \"organization-url\" : \"/v0/organizations/og.VxGLrVDKSB2e1Ps4TtJKrg\",\n    \"verification-resource-type\" : \"idv-check\"\n  }\n}\n```\n\n**verification-updated**\n```json\n{\n  \"created-at\" : \"2020-01-01T00:00:00.000Z\",\n  \"event-url\" : \"/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw\",\n  \"event-type\" : \"verification-updated\",\n  \"event-payload\" : {\n    \"verification-url\" : \"/v0/verifications/vn.yY5hFwg3URayMz6iqXQcpA\",\n    \"updated-at\" : \"1900-01-01T00:03:10.221Z\",\n    \"legal-person-url\" : \"/v0/legal-persons/lp.7oKVYzj1V-2Y4gXEvdowYA\",\n    \"workflow-url\" : \"/v0/workflows/wf.ESz-T8PUUfyzYDrxBIUjJg\",\n    \"created-at\" : \"1900-01-01T00:00:00.408Z\",\n    \"verification-checks-url\" : \"/v0/verifications/vn.yY5hFwg3URayMz6iqXQcpA/checks\",\n    \"risk-rating\" : \"low-risk\",\n    \"verification-status\" : \"checks-complete\",\n    \"verification-risk-assessments-url\" : \"/v0/verifications/vn.yY5hFwg3URayMz6iqXQcpA/risk-assessments\"\n  }\n}\n```\n"
      parameters:
      - type: string
        required: true
        name: event-id
        in: path
      responses:
        '200':
          description: Fetch an event
          schema:
            type: object
            properties:
              event-url:
                type: string
                title: event-url
                example: /v0/events/ev.ICAgICAgICBldmVudC1pZA
                description: Link to the [event](#tag/Events).
              event-type:
                title: event-type
                enum:
                - onboarding-application-updated
                - decision-created
                - payment-created
                - transaction-created
                - verification-updated
                - admission-updated
                - verification-created
                - account-status-updated
                - onboarding-application-created
                - submission-created
                - test-event
                - admission-created
                - verification-resource-updated
                - account-status-created
                - verification-resource-created
                - submission-updated
                type: string
                description: The type of webhook event. Usually has the form {resource}-{operation}, e.g. payment-updated
              event-payload:
                type: object
              created-at:
                title: created-at
                format: date-time
                type: string
                description: ISO 8601 formatted date-time.
            required:
            - event-url
            - event-type
            - event-payload
            title: event
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              type: string
              description: Returns `GriffinSession` if no valid authentication is found.
  /v0/organizations/{organization-id}/events:
    get:
      tags:
      - Events
      description: List all events for an organization
      parameters:
      - in: query
        name: sort
        description: ''
        type: string
        required: false
        enum:
        - -created-at
        - created-at
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        maximum: 200
        minimum: 1
        name: page[size]
        required: false
        type: integer
        description: ''
        format: int64
        in: query
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        type: string
        required: false
        format: byte
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        type: string
        required: false
        format: byte
      - in: query
        name: filter[event-type][eq]
        description: The type of webhook event. Usually has the form {resource}-{operation}, e.g. payment-updated
        type: string
        required: false
        enum:
        - onboarding-application-updated
        - decision-created
        - payment-created
        - transaction-created
        - verification-updated
        - admission-updated
        - verification-created
        - account-status-updated
        - onboarding-application-created
        - submission-created
        - test-event
        - admission-created
        - verification-resource-updated
        - account-status-created
        - verification-resource-created
        - submission-updated
      - in: query
        name: filter[created-at][lte]
        description: Return only events with a created-at less than or equal to the given timestamp.
        type: string
        required: false
        format: date-time
      - in: query
        name: filter[created-at][lt]
        description: Return only events with a created-at less than the given timestamp.
        type: string
        required: false
        format: date-time
      - in: query
        name: filter[created-at][gte]
        description: Return only events with a created-at greater than or equal to the given timestamp.
        type: string
        required: false
        format: date-time
      - in: query
        name: filter[created-at][gt]
        description: Return only events with a created-at greater than the given timestamp.
        type: string
        required: false
        format: date-time
      - type: string
        required: true
        name: organization-id
        in: path
      responses:
        '200':
          description: Fetch all organization events
          schema:
            type: object
            properties:
              events:
                type: array
                items:
                  type: object
                  properties:
                    event-url:
                      type: string
                      title: event-url
                      example: /v0/events/ev.ICAgICAgICBldmVudC1pZA
                      description: Link to the [event](#tag/Events).
                    event-type:
                      title: event-type
                      enum:
                      - onboarding-application-updated
                      - decision-created
                      - payment-created
                      - transaction-created
                      - verification-updated
                      - admission-updated
                      - verification-created
                      - account-status-updated
                      - onboarding-application-created
                      - submission-created
                      - test-event
                      - admission-created
                      - verification-resource-updated
                      - account-status-created
                      - verification-resource-created
                      - submission-updated
                      type: string
                      description: The type of webhook event. Usually has the form {resource}-{operation}, e.g. payment-updated
                    event-payload:
                      type: object
                    created-at:
                      title: created-at
                      format: date-time
                      type: string
                      description: ISO 8601 formatted date-time.
                  required:
                  - event-url
                  - event-type
                  - event-payload
                  title: event
              links:
                type: object
                properties:
                  prev:
                    type: string
                    x-nullable: true
                  next:
                    type: string
                    x-nullable: true
                required:
                - prev
                - next
                title: links
            required:
            - events
            - links
            title: organization-events-response
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              type: string
              description: Returns `GriffinSession` if no valid authentication is found.
securityDefinitions:
  api-key-auth:
    type: apiKey
    in: header
    name: Authorization
    description: 'API token authentication.

      It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
