openapi: 3.2.0
info:
  title: Griffin Workflows API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Workflows
  description: A workflow determines which checks will be run against a legal person as part of a verification
paths:
  /v0/organizations/{organization-id}/workflows:
    get:
      tags:
      - Workflows
      description: Lists workflows for use when creating a verification.
      parameters:
      - in: query
        name: sort
        description: ''
        required: false
        schema:
          type: string
          enum:
          - -created-at
          - created-at
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - required: true
        name: organization-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflows:
                    type: array
                    items:
                      type: object
                      properties:
                        workflow-url:
                          type: string
                          title: workflow-url
                          example: /v0/workflows/wf.ICAgICB3b3JrZmxvdy1pZA
                          description: A link to the [workflow](/docs/terms/workflow).
                        display-name:
                          type: string
                          minLength: 1
                          title: display-name
                          description: A human readable label for an entity
                        description:
                          type: string
                          title: description
                        legal-person-type:
                          title: legal-person-type
                          enum:
                          - individual
                          - corporation
                          type: string
                          description: Specifies if the legal person is an `individual` or a `corporation`.
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        disabled?:
                          type: boolean
                          title: disabled?
                          description: When a workflow is disabled, no new verifications using that workflow can be created.
                        required-claim-types:
                          type: object
                          additionalProperties:
                            type: array
                            items:
                              title: claim-type
                              type: string
                              enum:
                              - mobile-number
                              - properties-origins-of-deposits
                              - individual-identity
                              - sole-trader
                              - property-types
                              - commercial-property-industries
                              - uk-company-register
                              - individual-income
                              - business-website
                              - initial-deposit
                              - international-payments-countries
                              - company-telephone-number
                              - managed-properties
                              - business-size
                              - entity-address
                              - person-with-significant-control
                              - business-industry
                              - tax-residencies
                              - tenant-cash-payments
                              - verified-bank-account
                              - company-email-address
                              - tax-residency
                              - uk-financial-services-register
                              - non-tenant-balance
                              - business-description
                              - hmrc-register
                              - external-risk-rating
                              - nfe-classification
                              - vat-registration
                              - entity-name
                              - hmo-license
                              - business-email-address
                              - client-money-protection-scheme
                              - fca-mutuals-register
                              - individual-sources-of-funds
                              - nominal-person-with-significant-control
                              - hmo-verification
                              - commercial-property-ratio
                              - governing-body-member
                              - business-address
                              - employment
                              - annual-turnover
                              - purposes-of-account
                              - sic-codes
                              - international-operations-countries
                              - balance-sheet-size
                              - us-citizen
                              - role-titles
                              - sources-of-funds
                              - senior-manager-function-holder
                              - business-owner
                              - business-telephone-number
                              - individual-email-address
                              - tax-identification-numbers-by-country
                              - business-start-date
                              - contact-details
                              - reliance-verification
                              - ultimate-beneficial-owner
                              - aeoi-entity-classification
                              - business-name
                              - individual-purposes-of-account
                              - nationality
                              - trading-name
                              - number-of-employees
                              - social-media
                              - trading-address
                              - company-website
                              - director
                              - complex-business-structure
                              - alternative-number
                              - cash-payments
                              - fca-fs-register-firm
                              - tax-identification-number
                              - fca-fs-register-individual
                              - individual-residence
                              - business-type
                            uniqueItems: true
                          title: required-claim-types
                          description: "A mapping of workflow-appropriate legal person types\n                                 to claims that are required for each type."
                        workflow-rules:
                          type: array
                          items:
                            type: string
                            enum:
                            - allow-zero-directors
                            - allow-missing-directors
                          uniqueItems: true
                          title: workflow-rules
                          description: A list of special behaviours a workflow can possess.
                      required:
                      - workflow-url
                      - display-name
                      - description
                      - legal-person-type
                      - created-at
                      - disabled?
                      title: workflow
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                  meta:
                    type: object
                    properties:
                      page:
                        type: object
                        properties:
                          total:
                            type: integer
                            format: int64
                            minimum: 0
                            title: total
                            description: Total number of items. Present when the total number of items in the full result set is less than 10,000.
                          estimated-total:
                            type: object
                            properties:
                              at-least:
                                enum:
                                - 10000
                                type: integer
                                title: at-least
                                description: Present when the total number of items in the full result set exceeds 10,000. This indicates that the actual number of items is at least 10,000, but the exact total is not provided due to performance considerations.
                            title: estimated-total
                        title: page
                    title: meta
                required:
                - workflows
                - links
                title: organization-workflows-response
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: List organization workflows
      operationId: getV0OrganizationsByOrganizationIdWorkflows
      x-operation-id-source: derived
  /v0/workflows/{workflow-id}:
    get:
      tags:
      - Workflows
      description: Fetch the workflow.
      parameters:
      - required: true
        name: workflow-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflow-url:
                    type: string
                    title: workflow-url
                    example: /v0/workflows/wf.ICAgICB3b3JrZmxvdy1pZA
                    description: A link to the [workflow](/docs/terms/workflow).
                  display-name:
                    type: string
                    minLength: 1
                    title: display-name
                    description: A human readable label for an entity
                  description:
                    type: string
                    title: description
                  legal-person-type:
                    title: legal-person-type
                    enum:
                    - individual
                    - corporation
                    type: string
                    description: Specifies if the legal person is an `individual` or a `corporation`.
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  disabled?:
                    type: boolean
                    title: disabled?
                    description: When a workflow is disabled, no new verifications using that workflow can be created.
                  required-claim-types:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        title: claim-type
                        type: string
                        enum:
                        - mobile-number
                        - properties-origins-of-deposits
                        - individual-identity
                        - sole-trader
                        - property-types
                        - commercial-property-industries
                        - uk-company-register
                        - individual-income
                        - business-website
                        - initial-deposit
                        - international-payments-countries
                        - company-telephone-number
                        - managed-properties
                        - business-size
                        - entity-address
                        - person-with-significant-control
                        - business-industry
                        - tax-residencies
                        - tenant-cash-payments
                        - verified-bank-account
                        - company-email-address
                        - tax-residency
                        - uk-financial-services-register
                        - non-tenant-balance
                        - business-description
                        - hmrc-register
                        - external-risk-rating
                        - nfe-classification
                        - vat-registration
                        - entity-name
                        - hmo-license
                        - business-email-address
                        - client-money-protection-scheme
                        - fca-mutuals-register
                        - individual-sources-of-funds
                        - nominal-person-with-significant-control
                        - hmo-verification
                        - commercial-property-ratio
                        - governing-body-member
                        - business-address
                        - employment
                        - annual-turnover
                        - purposes-of-account
                        - sic-codes
                        - international-operations-countries
                        - balance-sheet-size
                        - us-citizen
                        - role-titles
                        - sources-of-funds
                        - senior-manager-function-holder
                        - business-owner
                        - business-telephone-number
                        - individual-email-address
                        - tax-identification-numbers-by-country
                        - business-start-date
                        - contact-details
                        - reliance-verification
                        - ultimate-beneficial-owner
                        - aeoi-entity-classification
                        - business-name
                        - individual-purposes-of-account
                        - nationality
                        - trading-name
                        - number-of-employees
                        - social-media
                        - trading-address
                        - company-website
                        - director
                        - complex-business-structure
                        - alternative-number
                        - cash-payments
                        - fca-fs-register-firm
                        - tax-identification-number
                        - fca-fs-register-individual
                        - individual-residence
                        - business-type
                      uniqueItems: true
                    title: required-claim-types
                    description: "A mapping of workflow-appropriate legal person types\n                                 to claims that are required for each type."
                  workflow-rules:
                    type: array
                    items:
                      type: string
                      enum:
                      - allow-zero-directors
                      - allow-missing-directors
                    uniqueItems: true
                    title: workflow-rules
                    description: A list of special behaviours a workflow can possess.
                required:
                - workflow-url
                - display-name
                - description
                - legal-person-type
                - created-at
                - disabled?
                title: workflow
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get workflow
      operationId: getV0WorkflowsByWorkflowId
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
