openapi: 3.2.0
info:
  title: Griffin Roles API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Roles
  description: A role represents a pre-defined set of capabilities that can be assigned to a user via their membership in an organization. By default, the first user in an organization gets assigned an administration role. Subsequent users get assigned the most limited set of capabilities.
paths:
  /v0/memberships/{membership-id}/roles:
    get:
      tags:
      - Roles
      description: Returns the roles assigned to this membership.
      parameters:
      - required: true
        name: membership-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        display-name:
                          type: string
                          minLength: 1
                          title: display-name
                          description: A human readable label for an entity
                        description:
                          type: string
                          title: description
                        role-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              role-id:
                                type: string
                                format: ''
                                title: role-id
                                required: true
                                name: role-id
                            required:
                            - role-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                role-id:
                                  type: string
                                  format: ''
                                  title: role-id
                                  required: true
                                  name: role-id
                              required:
                              - role-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                role-id:
                                  type: string
                                  format: ''
                                  title: role-id
                                  required: true
                                  name: role-id
                              required:
                              - role-id
                          title: role-url
                          example: /v0/roles/re.ICAgICAgICAgcm9sZS1pZA
                          description: Link to the [role](#tag/Roles).
                        role-category:
                          type: string
                      required:
                      - display-name
                      - description
                      - role-url
                      title: role
                    title: roles
                    description: Shows a collection of [roles](#tag/Roles).
                required:
                - roles
                title: roles-response
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
      summary: List membership roles
      operationId: getV0MembershipsByMembershipIdRoles
      x-operation-id-source: derived
    put:
      tags:
      - Roles
      description: 'Assigns roles to the membership.


        A 422 Unprocessable Entity is served if either:

        * one role url provided in the body is not in the Organisations `"available-roles"`

        * the request attempts to remove the last admin role of the organization, thus making the organisation unusable.'
      parameters:
      - required: true
        name: membership-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        display-name:
                          type: string
                          minLength: 1
                          title: display-name
                          description: A human readable label for an entity
                        description:
                          type: string
                          title: description
                        role-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              role-id:
                                type: string
                                format: ''
                                title: role-id
                                required: true
                                name: role-id
                            required:
                            - role-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                role-id:
                                  type: string
                                  format: ''
                                  title: role-id
                                  required: true
                                  name: role-id
                              required:
                              - role-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                role-id:
                                  type: string
                                  format: ''
                                  title: role-id
                                  required: true
                                  name: role-id
                              required:
                              - role-id
                          title: role-url
                          example: /v0/roles/re.ICAgICAgICAgcm9sZS1pZA
                          description: Link to the [role](#tag/Roles).
                        role-category:
                          type: string
                      required:
                      - display-name
                      - description
                      - role-url
                      title: role
                    title: roles
                    description: Shows a collection of [roles](#tag/Roles).
                required:
                - roles
                title: roles-response
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
        '422':
          description: 'Unprocessable Entity is served if either:

            * one role url provided in the body is not in the [Organisations](#tag/Organizations) `"available-roles"`

            * the request attempts to remove the last admin role of the organization, thus making the organisation unusable.'
      summary: Update role
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role-urls:
                  type: array
                  items:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        role-id:
                          type: string
                          format: ''
                          title: role-id
                          required: true
                          name: role-id
                      required:
                      - role-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          role-id:
                            type: string
                            format: ''
                            title: role-id
                            required: true
                            name: role-id
                        required:
                        - role-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          role-id:
                            type: string
                            format: ''
                            title: role-id
                            required: true
                            name: role-id
                        required:
                        - role-id
                    title: role-url
                    example: /v0/roles/re.ICAgICAgICAgcm9sZS1pZA
                    description: Link to the [role](#tag/Roles).
              required:
              - role-urls
              title: request-update-membership-roles
        required: true
      operationId: putV0MembershipsByMembershipIdRoles
      x-operation-id-source: derived
  /v0/roles:
    get:
      tags:
      - Roles
      description: Yields a list of all Role resources.
      security: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        display-name:
                          type: string
                          minLength: 1
                          title: display-name
                          description: A human readable label for an entity
                        description:
                          type: string
                          title: description
                        role-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              role-id:
                                type: string
                                format: ''
                                title: role-id
                                required: true
                                name: role-id
                            required:
                            - role-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                role-id:
                                  type: string
                                  format: ''
                                  title: role-id
                                  required: true
                                  name: role-id
                              required:
                              - role-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                role-id:
                                  type: string
                                  format: ''
                                  title: role-id
                                  required: true
                                  name: role-id
                              required:
                              - role-id
                          title: role-url
                          example: /v0/roles/re.ICAgICAgICAgcm9sZS1pZA
                          description: Link to the [role](#tag/Roles).
                        role-category:
                          type: string
                      required:
                      - display-name
                      - description
                      - role-url
                      title: role
                    title: roles
                    description: Shows a collection of [roles](#tag/Roles).
                required:
                - roles
                title: roles-response
      summary: List roles
      operationId: getV0Roles
      x-operation-id-source: derived
  /v0/roles/{role-id}:
    get:
      tags:
      - Roles
      description: Yields the Role resource.
      security: []
      parameters:
      - required: true
        name: role-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  display-name:
                    type: string
                    minLength: 1
                    title: display-name
                    description: A human readable label for an entity
                  description:
                    type: string
                    title: description
                  role-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        role-id:
                          type: string
                          format: ''
                          title: role-id
                          required: true
                          name: role-id
                      required:
                      - role-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          role-id:
                            type: string
                            format: ''
                            title: role-id
                            required: true
                            name: role-id
                        required:
                        - role-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          role-id:
                            type: string
                            format: ''
                            title: role-id
                            required: true
                            name: role-id
                        required:
                        - role-id
                    title: role-url
                    example: /v0/roles/re.ICAgICAgICAgcm9sZS1pZA
                    description: Link to the [role](#tag/Roles).
                  role-category:
                    type: string
                required:
                - display-name
                - description
                - role-url
                title: role
        '400':
          description: ''
        '404':
          description: ''
      summary: Get role
      operationId: getV0RolesByRoleId
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
