openapi: 3.2.0
info:
  title: Griffin Payments API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Payments
  description: 'A payment captures the intent to move funds from a bank account to another bank account. Outbound payments can be made from your bank account to a payee. Griffin accepts inbound payments to your bank accounts on your behalf.

    If it''s your first time using our payments API, check out our guide for sending payments'
paths:
  /v0/admissions/{admission-id}:
    get:
      tags:
      - Payments
      description: Yields an admission.
      parameters:
      - required: true
        name: admission-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  admission-status:
                    title: admission-status
                    enum:
                    - cancelled
                    - processing
                    - returned
                    - delivered
                    type: string
                    description: Specifies the progress of the inbound payment.
                  admission-scheme-information:
                    type: object
                    properties: {}
                    required:
                    - payment-scheme
                    title: admission-scheme-information
                    x-anyOf:
                    - type: object
                      properties:
                        end-to-end-identification:
                          title: end-to-end-identification
                          type: string
                          minLength: 1
                          x-allOf:
                          - title: non-empty-string
                            type: string
                            minLength: 1
                          - {}
                          description: An identifier for a payment, assigned by the originator, passed along unchanged throughout the entire end-to-end chain. Not necessarily unique.
                        payment-scheme:
                          enum:
                          - fps
                          type: string
                      required:
                      - end-to-end-identification
                      - payment-scheme
                      title: fps
                    - type: object
                      properties:
                        end-to-end-identification:
                          title: end-to-end-identification
                          type: string
                          minLength: 1
                          x-allOf:
                          - title: non-empty-string
                            type: string
                            minLength: 1
                          - {}
                          description: An identifier for a payment, assigned by the originator, passed along unchanged throughout the entire end-to-end chain. Not necessarily unique.
                        payment-scheme:
                          enum:
                          - book-transfer
                          type: string
                      required:
                      - end-to-end-identification
                      - payment-scheme
                      title: book-transfer
                    - type: object
                      properties:
                        payment-scheme:
                          enum:
                          - chaps
                          type: string
                      title: chaps
                      required:
                      - payment-scheme
                    - type: object
                      properties:
                        payment-scheme:
                          enum:
                          - bacs
                          type: string
                      title: bacs
                      required:
                      - payment-scheme
                  payment-url:
                    type: string
                    title: payment-url
                    example: /v0/payments/pm.ICAgICAgcGF5bWVudC1pZA
                    description: Link to the payment resource.
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  admission-url:
                    type: string
                    title: admission-url
                    example: /v0/admissions/pa.ICAgIGFkbWlzc2lvbi1pZA
                  unique-scheme-identifier:
                    type: string
                    title: unique-scheme-identifier
                    maxLength: 140
                    example: 'PGIT2IS7AJG77D2HK23020240212826NatWes     '
                    minLength: 1
                  account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-url
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                    description: Link to the bank account resource.
                  original-unique-scheme-identifier:
                    type: string
                    title: original-unique-scheme-identifier
                    maxLength: 140
                    example: 'PGIT2IS7AJG77D2HK23020240212826NatWes     '
                    minLength: 1
                required:
                - admission-status
                - admission-scheme-information
                - payment-url
                - created-at
                - admission-url
                - unique-scheme-identifier
                - account-url
                title: admission
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '403':
          description: ''
        '404':
          description: ''
      summary: Get payment admission
      operationId: getV0AdmissionsByAdmissionId
      x-operation-id-source: derived
  /v0/bank/accounts/{bank-account-id}/admissions:
    get:
      tags:
      - Payments
      description: Lists admissions targeting a bank account
      parameters:
      - in: query
        name: sort
        description: ''
        required: false
        schema:
          type: string
          enum:
          - -created-at
          - created-at
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: filter[created-at][lte]
        description: Return only resources with a created-at less than or equal to the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[created-at][lt]
        description: Return only resources with a created-at less than the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[created-at][gte]
        description: Return only resources with a created-at greater than or equal to the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[created-at][gt]
        description: Return only resources with a created-at greater than the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[admission-status][in][]
        description: ''
        required: false
        x-allOf:
        - {}
        - {}
        schema:
          type: array
          items:
            enum:
            - cancelled
            - processing
            - returned
            - delivered
            type: string
      - required: true
        name: bank-account-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  admissions:
                    type: array
                    items:
                      type: object
                      properties:
                        admission-status:
                          title: admission-status
                          enum:
                          - cancelled
                          - processing
                          - returned
                          - delivered
                          type: string
                          description: Specifies the progress of the inbound payment.
                        admission-scheme-information:
                          type: object
                          properties: {}
                          required:
                          - payment-scheme
                          title: admission-scheme-information
                          x-anyOf:
                          - type: object
                            properties:
                              end-to-end-identification:
                                title: end-to-end-identification
                                type: string
                                minLength: 1
                                x-allOf:
                                - title: non-empty-string
                                  type: string
                                  minLength: 1
                                - {}
                                description: An identifier for a payment, assigned by the originator, passed along unchanged throughout the entire end-to-end chain. Not necessarily unique.
                              payment-scheme:
                                enum:
                                - fps
                                type: string
                            required:
                            - end-to-end-identification
                            - payment-scheme
                            title: fps
                          - type: object
                            properties:
                              end-to-end-identification:
                                title: end-to-end-identification
                                type: string
                                minLength: 1
                                x-allOf:
                                - title: non-empty-string
                                  type: string
                                  minLength: 1
                                - {}
                                description: An identifier for a payment, assigned by the originator, passed along unchanged throughout the entire end-to-end chain. Not necessarily unique.
                              payment-scheme:
                                enum:
                                - book-transfer
                                type: string
                            required:
                            - end-to-end-identification
                            - payment-scheme
                            title: book-transfer
                          - type: object
                            properties:
                              payment-scheme:
                                enum:
                                - chaps
                                type: string
                            title: chaps
                            required:
                            - payment-scheme
                          - type: object
                            properties:
                              payment-scheme:
                                enum:
                                - bacs
                                type: string
                            title: bacs
                            required:
                            - payment-scheme
                        payment-url:
                          type: string
                          title: payment-url
                          example: /v0/payments/pm.ICAgICAgcGF5bWVudC1pZA
                          description: Link to the payment resource.
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        admission-url:
                          type: string
                          title: admission-url
                          example: /v0/admissions/pa.ICAgIGFkbWlzc2lvbi1pZA
                        unique-scheme-identifier:
                          type: string
                          title: unique-scheme-identifier
                          maxLength: 140
                          example: 'PGIT2IS7AJG77D2HK23020240212826NatWes     '
                          minLength: 1
                        account-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-id:
                                type: string
                                format: ''
                                title: bank-account-id
                                required: true
                                name: bank-account-id
                            required:
                            - bank-account-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-id:
                                  type: string
                                  format: ''
                                  title: bank-account-id
                                  required: true
                                  name: bank-account-id
                              required:
                              - bank-account-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-id:
                                  type: string
                                  format: ''
                                  title: bank-account-id
                                  required: true
                                  name: bank-account-id
                              required:
                              - bank-account-id
                          title: account-url
                          example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                          description: Link to the bank account resource.
                        original-unique-scheme-identifier:
                          type: string
                          title: original-unique-scheme-identifier
                          maxLength: 140
                          example: 'PGIT2IS7AJG77D2HK23020240212826NatWes     '
                          minLength: 1
                      required:
                      - admission-status
                      - admission-scheme-information
                      - payment-url
                      - created-at
                      - admission-url
                      - unique-scheme-identifier
                      - account-url
                      title: admission
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                required:
                - admissions
                - links
                title: admissions-paginated-response
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: List bank account admissions
      operationId: getV0BankAccountsByBankAccountIdAdmissions
      x-operation-id-source: derived
  /v0/bank/accounts/{bank-account-id}/payments:
    get:
      tags:
      - Payments
      description: Lists payments made from a bank account.
      parameters:
      - in: query
        name: sort
        description: ''
        required: false
        schema:
          type: string
          enum:
          - -created-at
          - created-at
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: include
        description: For each payment returned, include its bank account, latest submission (if one exists), rejecting user (if one exists), and/or creating user (if one exists) in the response under the `included` attribute.
        required: false
        x-allOf:
        - {}
        - {}
        schema:
          type: array
          items:
            enum:
            - bank-account
            - rejected-by
            - latest-submission.created-by
            - created-by
            - latest-submission
            type: string
      - in: query
        name: filter[rejected][eq]
        description: Specifies whether the payment has been [rejected](/docs/guides/payment-approvals).
        required: false
        schema:
          type: boolean
      - in: query
        name: filter[payment-direction][eq]
        description: Whether the payment is moving money into or out of the account.
        required: false
        schema:
          type: string
          enum:
          - inbound-payment
          - outbound-payment
      - in: query
        name: filter[latest-submission-status][in][]
        description: ''
        required: false
        x-allOf:
        - {}
        - {}
        schema:
          type: array
          items:
            enum:
            - scheduled
            - failed
            - processing
            - returned
            - delivered
            type: string
            x-anyOf:
            - title: submission-status
              enum:
              - scheduled
              - failed
              - processing
              - returned
              - delivered
              type: string
              description: Specifies the progress of the outbound payment.
            - enum:
              - 'null'
              type: string
              title: no-latest-submission-status
              description: No latest submission status
      - in: query
        name: filter[created-at][lte]
        description: Return only resources with a created-at less than or equal to the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[created-at][lt]
        description: Return only resources with a created-at less than the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[created-at][gte]
        description: Return only resources with a created-at greater than or equal to the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[created-at][gt]
        description: Return only resources with a created-at greater than the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - required: true
        name: bank-account-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  payments:
                    type: array
                    items:
                      type: object
                      properties:
                        creditor:
                          type: object
                          properties: {}
                          required:
                          - creditor-type
                          title: creditor
                          x-anyOf:
                          - type: object
                            properties:
                              account-url:
                                type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    bank-account-id:
                                      type: string
                                      format: ''
                                      title: bank-account-id
                                      required: true
                                      name: bank-account-id
                                  required:
                                  - bank-account-id
                                x-anyOf:
                                - type: string
                                  x-allOf:
                                  - type: string
                                  - {}
                                  - type: object
                                    properties:
                                      bank-account-id:
                                        type: string
                                        format: ''
                                        title: bank-account-id
                                        required: true
                                        name: bank-account-id
                                    required:
                                    - bank-account-id
                                - type: string
                                  x-allOf:
                                  - type: string
                                  - {}
                                  - type: object
                                    properties:
                                      bank-account-id:
                                        type: string
                                        format: ''
                                        title: bank-account-id
                                        required: true
                                        name: bank-account-id
                                    required:
                                    - bank-account-id
                                title: account-url
                                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                                description: Link to the bank account resource.
                              creditor-type:
                                enum:
                                - griffin-bank-account
                                type: string
                            required:
                            - account-url
                            - creditor-type
                            title: griffin-bank-account
                          - type: object
                            properties:
                              iban:
                                title: iban
                                pattern: ^[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}$
                                type: string
                                description: An International Bank Account Number.
                                maxLength: 34
                                example: GB42GFNB12345612345678
                                minLength: 5
                              uk-domestic-sort-code:
                                title: uk-domestic-sort-code
                                pattern: ^[0-9]{6}$
                                type: string
                                description: A UK sort code.
                                maxLength: 6
                                example: '123456'
                                minLength: 6
                              bic:
                                title: bic
                                pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
                                type: string
                                description: A BIC.
                                maxLength: 11
                                example: GFNBGB22
                                minLength: 8
                              account-number:
                                example: '12345678'
                                x-allOf:
                                - type: string
                                - {}
                                minLength: 8
                                maxLength: 8
                                deprecated: true
                                title: account-number
                                pattern: ^[0-9]{8}$
                                type: string
                                description: A UK account number.
                              account-holder:
                                type: string
                                minLength: 1
                                title: account-holder
                                description: The name of the [account holder](/docs/terms/account-holder).
                              bank-id-code:
                                title: bank-id-code
                                type: string
                                enum:
                                - gbdsc
                                deprecated: true
                              bank-id:
                                title: bank-id
                                pattern: ^[0-9]{6}$
                                type: string
                                description: A UK sort code.
                                maxLength: 6
                                example: '123456'
                                minLength: 6
                                deprecated: true
                              creditor-type:
                                enum:
                                - uk-domestic
                                type: string
                              bban:
                                title: bban
                                pattern: ^[a-zA-Z0-9]{1,30}$
                                type: string
                                description: A country-specific Basic Bank Account Number.
                                maxLength: 30
                                example: GFNB12345612345678
                                minLength: 1
                              account-url:
                                type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    bank-account-id:
                                      type: string
                                      format: ''
                                      title: bank-account-id
                                      required: true
                                      name: bank-account-id
                                  required:
                                  - bank-account-id
                                x-anyOf:
                                - type: string
                                  x-allOf:
                                  - type: string
                                  - {}
                                  - type: object
                                    properties:
                                      bank-account-id:
                                        type: string
                                        format: ''
                                        title: bank-account-id
                                        required: true
                                        name: bank-account-id
                                    required:
                                    - bank-account-id
                                - type: string
                                  x-allOf:
                                  - type: string
                                  - {}
                                  - type: object
                                    properties:
                                      bank-account-id:
                                        type: string
                                        format: ''
                                        title: bank-account-id
                                        required: true
                                        name: bank-account-id
                                    required:
                                    - bank-account-id
                                title: account-url
                                example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                                description: Link to the bank account resource.
                              uk-domestic-account-number:
                                type: string
                                x-allOf:
                                - type: string
                                - {}
                                title: uk-domestic-account-number
                                pattern: ^[0-9]{8}$
                                description: A UK account number.
                                maxLength: 8
                                example: '12345678'
                                minLength: 8
                              other-account-identification:
                                title: other-account-identification
                                type: string
                                description: Uncategorised account identification
                                maxLength: 64
                                example: ABC123
                                minLength: 1
                              account-number-code:
                                title: account-number-code
                                type: string
                                enum:
                                - bban
                                deprecated: true
                              other-institution-identification:
                                title: other-institution-identification
                                type: string
                                description: Uncategorised financial institution identification
                                maxLength: 64
                                example: ABC123
                                minLength: 1
                            required:
                            - creditor-type
                            title: uk-domestic
                            description: Creditor specified with bank details
                        rejected-at:
                          title: rejected-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        latest-submission-url:
                          type: string
                          example: /v0/submissions/ps.ICAgc3VibWlzc2lvbi1pZA
                          title: latest-submission-url
                          description: Most recent submission (if any made)
                        rejected-by-url:
                          type: string
                          title: rejected-by-url
                          example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                          description: Link to the user.
                        payment-direction:
                          title: payment-direction
                          enum:
                          - inbound-payment
                          - outbound-payment
                          type: string
                          description: Whether the payment is moving money into or out of the account.
                        created-by-url:
                          type: string
                          title: created-by-url
                          example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                          description: Link to the user.
                        created-via:
                          title: created-via
                          type: string
                          enum:
                          - api
                          - ui
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        payment-url:
                          type: string
                          title: payment-url
                          example: /v0/payments/pm.ICAgICAgcGF5bWVudC1pZA
                          description: Link to the payment resource.
                        payment-reference:
                          title: payment-reference
                          type: string
                          description: Free-text field to help identify and categorise payments.
                          maxLength: 35
                          example: test reference
                          minLength: 1
                        payment-amount:
                          title: payment-amount
                          required:
                          - currency
                          - value
                          properties:
                            currency:
                              enum:
                              - GBP
                              type: string
                              title: currency code
                              example: GBP
                            value:
                              type: string
                              title: value
                              description: The value as a decimal-formatted string
                              example: '1000.00'
                          type: object
                          additionalProperties: false
                          x-allOf:
                          - title: money-amount
                            required:
                            - currency
                            - value
                            properties:
                              currency:
                                enum:
                                - GBP
                                type: string
                                title: currency code
                                example: GBP
                              value:
                                type: string
                                title: value
                                description: The value as a decimal-formatted string
                                example: '1000.00'
                            type: object
                            additionalProperties: false
                          - x-allOf:
                            - x-allOf:
                              - {}
                              - {}
                            - {}
                          description: Compound value representing both the currency and amount of money being sent.
                        ultimate-debtor:
                          type: object
                          properties:
                            iban:
                              title: iban
                              pattern: ^[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}$
                              type: string
                              description: An International Bank Account Number.
                              maxLength: 34
                              example: GB42GFNB12345612345678
                              minLength: 5
                            uk-domestic-sort-code:
                              title: uk-domestic-sort-code
                              pattern: ^[0-9]{6}$
                              type: string
                              description: A UK sort code.
                              maxLength: 6
                              example: '123456'
                              minLength: 6
                            bic:
                              title: bic
                              pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
                              type: string
                              description: A BIC.
                              maxLength: 11
                              example: GFNBGB22
                              minLength: 8
                            account-number:
                              example: '12345678'
                              x-allOf:
                              - type: string
                              - {}
                              minLength: 8
                              maxLength: 8
                              deprecated: true
                              title: account-number
                              pattern: ^[0-9]{8}$
                              type: string
                              description: A UK account number.
                            account-holder:
                              type: string
                              minLength: 1
                              title: account-holder
                              description: The name of the [account holder](/docs/terms/account-holder).
                            bank-id-code:
                              title: bank-id-code
                              type: string
                              enum:
                              - gbdsc
                              deprecated: true
                            bank-id:
                              title: bank-id
                              pattern: ^[0-9]{6}$
                              type: string
                              description: A UK sort code.
                              maxLength: 6
                              example: '123456'
                              minLength: 6
                              deprecated: true
                            bban:
                              title: bban
                              pattern: ^[a-zA-Z0-9]{1,30}$
                              type: string
                              description: A country-specific Basic Bank Account Number.
                              maxLength: 30
                              example: GFNB12345612345678
                              minLength: 1
                            account-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  bank-account-id:
                                    type: string
                                    format: ''
                                    title: bank-account-id
                                    required: true
                                    name: bank-account-id
                                required:
                                - bank-account-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    bank-account-id:
                                      type: string
                                      format: ''
                                      title: bank-account-id
                                      required: true
                                      name: bank-account-id
                                  required:
                                  - bank-account-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    bank-account-id:
                                      type: string
                                      format: ''
                                      title: bank-account-id
                                      required: true
                                      name: bank-account-id
                                  required:
                                  - bank-account-id
                              title: account-url
                              example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                              description: Link to the bank account resource.
                            uk-domestic-account-number:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              title: uk-domestic-account-number
                              pattern: ^[0-9]{8}$
                              description: A UK account number.
                              maxLength: 8
                              example: '12345678'
                              minLength: 8
                            other-account-identification:
                              title: other-account-identification
                              type: string
                              description: Uncategorised account identification
                              maxLength: 64
                              example: ABC123
                              minLength: 1
                            account-number-code:
                              title: account-number-code
                              type: string
                              enum:
                              - bban
                              deprecated: true
                            other-institution-identification:
                              title: other-institution-identification
                              type: string
                              description: Uncategorised financial institution identification
                              maxLength: 64
                              example: ABC123
                              minLength: 1
                          required: []
                          title: debtor
                        payment-admissions-url:
                          type: string
                          title: payment-admissions-url
                          example: /v0/payments/pm.ICAgICAgcGF5bWVudC1pZA/admissions
                          description: Link to the endpoint for listing payment admissions.
                        payment-submissions-url:
                          type: string
                          title: payment-submissions-url
                          example: /v0/payments/pm.ICAgICAgcGF5bWVudC1pZA/submissions
                          description: Link to the endpoint for creating and listing payment submissions.
                        debtor:
                          type: object
                          properties:
                            iban:
                              title: iban
                              pattern: ^[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}$
                              type: string
                              description: An International Bank Account Number.
                              maxLength: 34
                              example: GB42GFNB12345612345678
                              minLength: 5
                            uk-domestic-sort-code:
                              title: uk-domestic-sort-code
                              pattern: ^[0-9]{6}$
                              type: string
                              description: A UK sort code.
                              maxLength: 6
                              example: '123456'
                              minLength: 6
                            bic:
                              title: bic
                              pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
                              type: string
                              description: A BIC.
                              maxLength: 11
                              example: GFNBGB22
                              minLength: 8
                            account-number:
                              example: '12345678'
                              x-allOf:
                              - type: string
                              - {}
                              minLength: 8
                              maxLength: 8
                              deprecated: true
                              title: account-number
                              pattern: ^[0-9]{8}$
                              type: string
                              description: A UK account number.
                            account-holder:
                              type: string
                              minLength: 1
                              title: account-holder
                              description: The name of the [account holder](/docs/terms/account-holder).
                            bank-id-code:
                              title: bank-id-code
                              type: string
                              enum:
                              - gbdsc
                              deprecated: true
                            bank-id:
                              title: bank-id
                              pattern: ^[0-9]{6}$
                              type: string
                              description: A UK sort code.
                              maxLength: 6
                              example: '123456'
                              minLength: 6
                              deprecated: true
                            bban:
                              title: bban
                              pattern: ^[a-zA-Z0-9]{1,30}$
                              type: string
                              description: A country-specific Basic Bank Account Number.
                              maxLength: 30
                              example: GFNB12345612345678
                              minLength: 1
                            account-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  bank-account-id:
                                    type: string
                                    format: ''
                                    title: bank-account-id
                                    required: true
                                    name: bank-account-id
                                required:
                                - bank-account-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    bank-account-id:
                                      type: string
                                      format: ''
                                      title: bank-account-id
                                      required: true
                                      name: bank-account-id
                                  required:
                                  - bank-account-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    bank-account-id:
                                      type: string
                                      format: ''
                                      title: bank-account-id
                                      required: true
                                      name: bank-account-id
                                  required:
                                  - bank-account-id
                              title: account-url
                              example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                              description: Link to the bank account resource.
                            uk-domestic-account-number:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              title: uk-domestic-account-number
                              pattern: ^[0-9]{8}$
                              description: A UK account number.
                              maxLength: 8
                              example: '12345678'
                              minLength: 8
                            other-account-identification:
                              title: other-account-identification
                              type: string
                              description: Uncategorised account identification
                              maxLength: 64
                              example: ABC123
                              minLength: 1
                            account-number-code:
                              title: account-number-code
                              type: string
                              enum:
                              - bban
                              deprecated: true
                            other-institution-identification:
                              title: other-institution-identification
                              type: string
                              description: Uncategorised financial institution identification
                              maxLength: 64
                              example: ABC123
                              minLength: 1
                          required: []
                          title: debtor
                        rejection-reason:
                          title: non-empty-string
                          type:
                          - string
                          - 'null'
                          minLength: 1
                      required:
                      - created-at
                      - payment-amount
                      - payment-url
                      - payment-direction
                      title: payment
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                required:
                - links
                - payments
                title: ''
                description: Present only when the request uses the `include` parameter.
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
      summary: List bank account payments
      operationId: getV0BankAccountsByBankAccountIdPayments
      x-operation-id-source: derived
    post:
      tags:
      - Payments
      description: Registers a new payment request for the bank account
      parameters:
      - required: true
        name: bank-account-id
        in: path
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  created-by-user:
                    type: object
                    properties:
                      user-email:
                        type: string
                        title: user-email
                        example: user@example.com
                        description: The user's email address.
                      user-url:
                        type: string
                        title: user-url
                        example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                        description: Link to the user.
                      user-username:
                        type: string
                        title: user-username
                        example: user@example.com
                        description: The username.
                      api-keys-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            user-id:
                              type: string
                              format: ''
                              title: user-id
                              required: true
                              name: user-id
                          required:
                          - user-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              user-id:
                                type: string
                                format: ''
                                title: user-id
                                required: true
                                name: user-id
                            required:
                            - user-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              user-id:
                                type: string
                                format: ''
                                title: user-id
                                required: true
                                name: user-id
                            required:
                            - user-id
                        title: api-keys-url
                        example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA/api-keys
                        description: Link to the user's [api keys](#tag/API-keys).
                      user-memberships-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            user-id:
                              type: string
                              format: ''
                              title: user-id
                              required: true
                              name: user-id
                          required:
                          - user-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              user-id:
                                type: string
                                format: ''
                                title: user-id
                                required: true
                                name: user-id
                            required:
                            - user-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              user-id:
                                type: string
                                format: ''
                                title: user-id
                                required: true
                                name: user-id
                            required:
                            - user-id
                        title: user-memberships-url
                        example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA/memberships
                        description: Link to the user's [memberships](#tag/Memberships).
                      given-name:
                        title: given-name
                        type: string
                        minLength: 1
                      surname:
                        title: surname
                        type: string
                        minLength: 1
                    required:
                    - user-email
                    - user-url
                    - user-username
                    - api-keys-url
                    - user-memberships-url
                    title: created-by-user
                    description: Shows the associated [user](#tag/Users).
                  creditor:
                    type: object
                    properties: {}
                    required:
                    - creditor-type
                    title: creditor
                    x-anyOf:
                    - type: object
                      properties:
                        account-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-id:
                                type: string
                                format: ''
                                title: bank-account-id
                                required: true
                                name: bank-account-id
                            required:
                            - bank-account-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-id:
                                  type: string
                                  format: ''
                                  title: bank-account-id
                                  required: true
                                  name: bank-account-id
                              required:
                              - bank-account-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-id:
                                  type: string
                                  format: ''
                                  title: bank-account-id
                                  required: true
                                  name: bank-account-id
                              required:
                              - bank-account-id
                          title: account-url
                          example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                          description: Link to the bank account resource.
                        creditor-type:
                          enum:
                          - griffin-bank-account
                          type: string
                      required:
                      - account-url
                      - creditor-type
                      title: griffin-bank-account
                    - type: object
                      properties:
                        iban:
                          title: iban
                          pattern: ^[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}$
                          type: string
                          description: An International Bank Account Number.
                          maxLength: 34
                          example: GB42GFNB12345612345678
                          minLength: 5
                        uk-domestic-sort-code:
                          title: uk-domestic-sort-code
                          pattern: ^[0-9]{6}$
                          type: string
                          description: A UK sort code.
                          maxLength: 6
                          example: '123456'
                          minLength: 6
                        bic:
                          title: bic
                          pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
                          type: string
                          description: A BIC.
                          maxLength: 11
                          example: GFNBGB22
                          minLength: 8
                        account-number:
                          example: '12345678'
                          x-allOf:
                          - type: string
                          - {}
                          minLength: 8
                          maxLength: 8
                          deprecated: true
                          title: account-number
                          pattern: ^[0-9]{8}$
                          type: string
                          description: A UK account number.
                        account-holder:
                          type: string
                          minLength: 1
                          title: account-holder
                          description: The name of the [account holder](/docs/terms/account-holder).
                        bank-id-code:
                          title: bank-id-code
                          type: string
                          enum:
                          - gbdsc
                          deprecated: true
                        bank-id:
                          title: bank-id
                          pattern: ^[0-9]{6}$
                          type: string
                          description: A UK sort code.
                          maxLength: 6
                          example: '123456'
                          minLength: 6
                          deprecated: true
                        creditor-type:
                          enum:
                          - uk-domestic
                          type: string
                        bban:
                          title: bban
                          pattern: ^[a-zA-Z0-9]{1,30}$
                          type: string
                          description: A country-specific Basic Bank Account Number.
                          maxLength: 30
                          example: GFNB12345612345678
                          minLength: 1
                        account-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-id:
                                type: string
                                format: ''
                                title: bank-account-id
                                required: true
                                name: bank-account-id
                            required:
                            - bank-account-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-id:
                                  type: string
                                  format: ''
                                  title: bank-account-id
                                  required: true
                                  name: bank-account-id
                              required:
                              - bank-account-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-id:
                                  type: string
                                  format: ''
                                  title: bank-account-id
                                  required: true
                                  name: bank-account-id
                              required:
                              - bank-account-id
                          title: account-url
                          example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                          description: Link to the bank account resource.
                        uk-domestic-account-number:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          title: uk-domestic-account-number
                          pattern: ^[0-9]{8}$
                          description: A UK account number.
                          maxLength: 8
                          example: '12345678'
                          minLength: 8
                        other-account-identification:
                          title: other-account-identification
                          type: string
                          description: Uncategorised account identification
                          maxLength: 64
                          example: ABC123
                          minLength: 1
                        account-number-code:
                          title: account-number-code
                          type: string
                          enum:
                          - bban
                          deprecated: true
                        other-institution-identification:
                          title: other-institution-identification
                          type: string
                          description: Uncategorised financial institution identification
                          maxLength: 64
                          example: ABC123
                          minLength: 1
                      required:
                      - creditor-type
                      title: uk-domestic
                      description: Creditor specified with bank details
                  rejected-at:
                    title: rejected-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  latest-submission-url:
                    type: string
                    example: /v0/submissions/ps.ICAgc3VibWlzc2lvbi1pZA
                    title: latest-submission-url
                    description: Most recent submission (if any made)
                  rejected-by-url:
                    type: string
                    title: rejected-by-url
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the user.
                  payment-direction:
                    title: payment-direction
                    enum:
                    - inbound-payment
                    - outbound-payment
                    type: string
                    description: Whether the payment is moving money into or out of the account.
                  created-by-url:
                    type: string
                    title: created-by-url
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the user.
                  created-via:
                    title: created-via
                    type: string
                    enum:
                    - api
                    - ui
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  payment-url:
                    type: string
                    title: payment-url
                    example: /v0/payments/pm.ICAgICAgcGF5bWVudC1pZA
                    description: Link to the payment resource.
                  payment-reference:
                    title: payment-reference
                    type: string
                    description: Free-text field to help identify and categorise payments.
                    maxLength: 35
                    example: test reference
                    minLength: 1
                  payment-amount:
                    title: payment-amount
                    required:
                    - currency
                    - value
                    properties:
                      currency:
                        enum:
                        - GBP
                        type: string
                        title: currency code
                        example: GBP
                      value:
                        type: string
                        title: value
                        description: The value as a decimal-formatted string
                        example: '1000.00'
                    type: object
                    additionalProperties: false
                    x-allOf:
                    - title: money-amount
                      required:
                      - currency
                      - value
                      properties:
                        currency:
                          enum:
                          - GBP
                          type: string
                          title: currency code
                          example: GBP
                        value:
                          type: string
                          title: value
                          description: The value as a decimal-formatted string
                          example: '1000.00'
                      type: object
                      additionalProperties: false
                    - x-allOf:
                      - x-allOf:
                        - {}
                        - {}
                      - {}
                    description: Compound value representing both the currency and amount of money being sent.
                  ultimate-debtor:
                    type: object
                    properties:
                      iban:
                        title: iban
                        pattern: ^[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}$
                        type: string
                        description: An International Bank Account Number.
                        maxLength: 34
                        example: GB42GFNB12345612345678
                        minLength: 5
                      uk-domestic-sort-code:
                        title: uk-domestic-sort-code
                        pattern: ^[0-9]{6}$
                        type: string
                        description: A UK sort code.
                        maxLength: 6
                        example: '123456'
                        minLength: 6
                      bic:
                        title: bic
                        pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
                        type: string
                        description: A BIC.
                        maxLength: 11
                        example: GFNBGB22
                        minLength: 8
                      account-number:
                        example: '12345678'
                        x-allOf:
                        - type: string
                        - {}
                        minLength: 8
                        maxLength: 8
                        deprecated: true
                        title: account-number
                        pattern: ^[0-9]{8}$
                        type: string
                        description: A UK account number.
                      account-holder:
                        type: string
                        minLength: 1
                        title: account-holder
                        description: The name of the [account holder](/docs/terms/account-holder).
                      bank-id-code:
                        title: bank-id-code
                        type: string
                        enum:
                        - gbdsc
                        deprecated: true
                      bank-id:
                        title: bank-id
                        pattern: ^[0-9]{6}$
                        type: string
                        description: A UK sort code.
                        maxLength: 6
                        example: '123456'
                        minLength: 6
                        deprecated: true
                      bban:
                        title: bban
                        pattern: ^[a-zA-Z0-9]{1,30}$
                        type: string
                        description: A country-specific Basic Bank Account Number.
                        maxLength: 30
                        example: GFNB12345612345678
                        minLength: 1
                      account-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            bank-account-id:
                              type: string
                              format: ''
                              title: bank-account-id
                              required: true
                              name: bank-account-id
                          required:
                          - bank-account-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-id:
                                type: string
                                format: ''
                                title: bank-account-id
                                required: true
                                name: bank-account-id
                            required:
                            - bank-account-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-id:
                                type: string
                                format: ''
                                title: bank-account-id
                                required: true
                                name: bank-account-id
                            required:
                            - bank-account-id
                        title: account-url
                        example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                        description: Link to the bank account resource.
                      uk-domestic-account-number:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        title: uk-domestic-account-number
                        pattern: ^[0-9]{8}$
                        description: A UK account number.
                        maxLength: 8
                        example: '12345678'
                        minLength: 8
                      other-account-identification:
                        title: other-account-identification
                        type: string
                        description: Uncategorised account identification
                        maxLength: 64
                        example: ABC123
                        minLength: 1
                      account-number-code:
                        title: account-number-code
                        type: string
                        enum:
                        - bban
                        deprecated: true
                      other-institution-identification:
                        title: other-institution-identification
                        type: string
                        description: Uncategorised financial institution identification
                        maxLength: 64
                        example: ABC123
                        minLength: 1
                    required: []
                    title: debtor
                  payment-admissions-url:
                    type: string
                    title: payment-admissions-url
                    example: /v0/payments/pm.ICAgICAgcGF5bWVudC1pZA/admissions
                    description: Link to the endpoint for listing payment admissions.
                  payment-submissions-url:
                    type: string
                    title: payment-submissions-url
                    example: /v0/payments/pm.ICAgICAgcGF5bWVudC1pZA/submissions
                    description: Link to the endpoint for creating and listing payment submissions.
                  debtor:
                    type: object
                    properties:
                      iban:
                        title: iban
                        pattern: ^[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}$
                        type: string
                        description: An International Bank Account Number.
                        maxLength: 34
                        example: GB42GFNB12345612345678
                        minLength: 5
                      uk-domestic-sort-code:
                        title: uk-domestic-sort-code
                        pattern: ^[0-9]{6}$
                        type: string
                        description: A UK sort code.
                        maxLength: 6
                        example: '123456'
                        minLength: 6
                      bic:
                        title: bic
                        pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
                        type: string
                        description: A BIC.
                        maxLength: 11
                        example: GFNBGB22
                        minLength: 8
                      account-number:
                        example: '12345678'
                        x-allOf:
                        - type: string
                        - {}
                        minLength: 8
                        maxLength: 8
                        deprecated: true
                        title: account-number
                        pattern: ^[0-9]{8}$
                        type: string
                        description: A UK account number.
                      account-holder:
                        type: string
                        minLength: 1
                        title: account-holder
                        description: The name of the [account holder](/docs/terms/account-holder).
                      bank-id-code:
                        title: bank-id-code
                        type: string
                        enum:
                        - gbdsc
                        deprecated: true
                      bank-id:
                        title: bank-id
                        pattern: ^[0-9]{6}$
                        type: string
                        description: A UK sort code.
                        maxLength: 6
                        example: '123456'
                        minLength: 6
                        deprecated: true
                      bban:
                        title: bban
                        pattern: ^[a-zA-Z0-9]{1,30}$
                        type: string
                        description: A country-specific Basic Bank Account Number.
                        maxLength: 30
                        example: GFNB12345612345678
                        minLength: 1
                      account-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            bank-account-id:
                              type: string
                              format: ''
                              title: bank-account-id
                              required: true
                              name: bank-account-id
                          required:
                          - bank-account-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-id:
                                type: string
                                format: ''
                                title: bank-account-id
                                required: true
                                name: bank-account-id
                            required:
                            - bank-account-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-id:
                                type: string
                                format: ''
                                title: bank-account-id
                                required: true
                                name: bank-account-id
                            required:
                            - bank-account-id
                        title: account-url
                        example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                        description: Link to the bank account resource.
                      uk-domestic-account-number:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        title: uk-domestic-account-number
                        pattern: ^[0-9]{8}$
                        description: A UK account number.
                        maxLength: 8
                        example: '12345678'
                        minLength: 8
                      other-account-identification:
                        title: other-account-identification
                        type: string
                        description: Uncategorised account identification
                        maxLength: 64
                        example: ABC123
                        minLength: 1
                      account-number-code:
                        title: account-number-code
                        type: string
                        enum:
                        - bban
                        deprecated: true
                      other-institution-identification:
                        title: other-institution-identification
                        type: string
                        description: Uncategorised financial institution identification
                        maxLength: 64
                        example: ABC123
                        minLength: 1
                    required: []
                    title: debtor
                  rejection-reason:
                    title: non-empty-string
                    type:
                    - string
                    - 'null'
                    minLength: 1
                  rejected-by-user:
                    type: object
                    properties:
                      user-email:
                        type: string
                        title: user-email
                        example: user@example.com
                        description: The user's email address.
                      user-url:
                        type: string
                        title: user-url
                        example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                        description: Link to the user.
                      user-username:
                        type: string
                        title: user-username
                        example: user@example.com
                        description: The username.
                      api-keys-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            user-id:
                              type: string
                              format: ''
                              title: user-id
                              required: true
                              name: user-id
                          required:
                          - user-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              user-id:
                                type: string
                                format: ''
                                title: user-id
                                required: true
                                name: user-id
                            required:
                            - user-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              user-id:
                                type: string
                                format: ''
                                title: user-id
                                required: true
                                name: user-id
                            required:
                            - user-id
                        title: api-keys-url
                        example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA/api-keys
                        description: Link to the user's [api keys](#tag/API-keys).
                      user-memberships-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            user-id:
                              type: string
                              format: ''
                              title: user-id
                              required: true
                              name: user-id
                          required:
                          - user-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              user-id:
                                type: string
                                format: ''
                                title: user-id
                                required: true
                                name: user-id
                            required:
                            - user-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              user-id:
                                type: string
                                format: ''
                                title: user-id
                                required: true
                                name: user-id
                            required:
                            - user-id
                        title: user-memberships-url
                        example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA/memberships
                        description: Link to the user's [memberships](#tag/Memberships).
                      given-name:
                        title: given-name
                        type: string
                        minLength: 1
                      surname:
                        title: surname
                        type: string
                        minLength: 1
                    required:
                    - user-email
                    - user-url
                    - user-username
                    - api-keys-url
                    - user-memberships-url
                    title: rejected-by-user
                    description: Shows the associated [user](#tag/Users).
                required:
                - created-at
                - payment-amount
                - payment-direction
                - payment-url
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
        '422':
          description: An error occurred when trying to create the payment. See [https://docs.griffin.com/docs/errors/payment](https://docs.griffin.com/docs/errors/payment) for details.
        '500':
          description: ''
      summary: Create payment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                creditor:
                  type: object
                  properties: {}
                  required:
                  - creditor-type
                  title: creditor
                  x-anyOf:
                  - type: object
                    properties:
                      payee-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            payee-id:
                              type: string
                              format: ''
                              title: payee-id
                              required: true
                              name: payee-id
                          required:
                          - payee-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              payee-id:
                                type: string
                                format: ''
                                title: payee-id
                                required: true
                                name: payee-id
                            required:
                            - payee-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              payee-id:
                                type: string
                                format: ''
                                title: payee-id
                                required: true
                                name: payee-id
                            required:
                            - payee-id
                        title: payee-url
                        example: /v0/payees/pe.ICAgICAgICBwYXllZS1pZA
                        description: Link to the [payee](#tag/Payees).
                      creditor-type:
                        enum:
                        - payee
                        type: string
                    required:
                    - payee-url
                    - creditor-type
                    title: payee
                  - type: object
                    properties:
                      account-url:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
                        - type: object
                          properties:
                            bank-account-id:
                              type: string
                              format: ''
                              title: bank-account-id
                              required: true
                              name: bank-account-id
                          required:
                          - bank-account-id
                        x-anyOf:
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-id:
                                type: string
                                format: ''
                                title: bank-account-id
                                required: true
                                name: bank-account-id
                            required:
                            - bank-account-id
                        - type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-id:
                                type: string
                                format: ''
                                title: bank-account-id
                                required: true
                                name: bank-account-id
                            required:
                            - bank-account-id
                        title: account-url
                        example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                        description: Link to the bank account resource.
                      creditor-type:
                        enum:
                        - griffin-bank-account
                        type: string
                    required:
                    - account-url
                    - creditor-type
                    title: griffin-bank-account
                  - type: object
                    properties:
                      account-number:
                        type: string
                        x-allOf:
                        - type: string
                        - {}
[...]
