openapi: 3.2.0
info:
  title: Griffin Bank account holds API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Bank account holds
paths:
  /v0/bank/accounts/{bank-account-id}/holds:
    get:
      tags:
      - Bank account holds
      description: 'Lists all holds on a bank account.

        Use `filter[status][in][]` to filter by specific statuses.

        Use `filter[updated-at][gte]` to return only holds last updated at or after a timestamp.

        Use `filter[origin-type][eq]` to filter by origin type.'
      parameters:
      - in: query
        name: filter[origin-type][eq]
        description: ''
        required: false
        schema:
          type: string
          enum:
          - card-transaction
      - in: query
        name: filter[updated-at][gte]
        description: Return only holds updated at or after the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[status][in][]
        description: ''
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - released
            - placed
      - in: query
        name: sort
        description: ''
        required: false
        schema:
          type: string
          enum:
          - -created-at
          - created-at
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - required: true
        name: bank-account-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  holds:
                    type: array
                    items:
                      type: object
                      properties:
                        expires-at:
                          title: expires-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        origin-type:
                          title: origin-type
                          type: string
                          enum:
                          - card-transaction
                        updated-at:
                          title: updated-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        origin-metadata:
                          type: object
                          additionalProperties:
                            type: string
                          title: origin-metadata
                          description: Identifiers from the system that originated the hold or transaction. Keys and values are originator-specific.
                        direction:
                          title: direction
                          type: string
                          enum:
                          - debit
                          - credit
                        status:
                          title: status
                          type: string
                          enum:
                          - released
                          - placed
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        release-reason:
                          type: string
                          title: release-reason
                          description: The final release reason (e.g. clearing, expiry, reversal
                        amount:
                          title: amount
                          required:
                          - currency
                          - value
                          properties:
                            currency:
                              enum:
                              - GBP
                              type: string
                              title: currency code
                              example: GBP
                            value:
                              type: string
                              title: value
                              description: The value as a decimal-formatted string
                              example: '1000.00'
                          type: object
                          additionalProperties: false
                        account-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-id:
                                type: string
                                format: ''
                                title: bank-account-id
                                required: true
                                name: bank-account-id
                            required:
                            - bank-account-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-id:
                                  type: string
                                  format: ''
                                  title: bank-account-id
                                  required: true
                                  name: bank-account-id
                              required:
                              - bank-account-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-id:
                                  type: string
                                  format: ''
                                  title: bank-account-id
                                  required: true
                                  name: bank-account-id
                              required:
                              - bank-account-id
                          title: account-url
                          example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                          description: Link to the bank account resource.
                        hold-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              hold-id:
                                type: string
                                format: ''
                                title: hold-id
                                required: true
                                name: hold-id
                            required:
                            - hold-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                hold-id:
                                  type: string
                                  format: ''
                                  title: hold-id
                                  required: true
                                  name: hold-id
                              required:
                              - hold-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                hold-id:
                                  type: string
                                  format: ''
                                  title: hold-id
                                  required: true
                                  name: hold-id
                              required:
                              - hold-id
                          title: hold-url
                          example: /v0/bank/holds/ho.ICAgICAgICAgaG9sZC1pZA
                          description: Link to this hold.
                        account-transactions:
                          type: array
                          items:
                            type: object
                            properties:
                              account-transaction-url:
                                type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    bank-account-transaction-id:
                                      type: string
                                      format: ''
                                      title: transaction-id
                                      required: true
                                      name: transaction-id
                                  required:
                                  - bank-account-transaction-id
                                x-anyOf:
                                - type: string
                                  x-allOf:
                                  - type: string
                                  - {}
                                  - type: object
                                    properties:
                                      bank-account-transaction-id:
                                        type: string
                                        format: ''
                                        title: transaction-id
                                        required: true
                                        name: transaction-id
                                    required:
                                    - bank-account-transaction-id
                                - type: string
                                  x-allOf:
                                  - type: string
                                  - {}
                                  - type: object
                                    properties:
                                      bank-account-transaction-id:
                                        type: string
                                        format: ''
                                        title: transaction-id
                                        required: true
                                        name: transaction-id
                                    required:
                                    - bank-account-transaction-id
                                title: account-transaction-url
                                description: Link to the transaction resource.
                              updated-hold-at:
                                format: date-time
                                type: string
                                description: When this account transaction updated the hold.
                                title: updated-hold-at
                            required:
                            - account-transaction-url
                            - updated-hold-at
                            title: account-transaction
                            description: An account transaction associated with this hold.
                          title: account-transactions
                          description: All account transactions associated with this hold.
                      required:
                      - hold-url
                      - account-url
                      - status
                      - amount
                      - direction
                      - created-at
                      - updated-at
                      - origin-type
                      title: hold
                      description: A hold on a bank account.
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                required:
                - holds
                - links
                title: holds-response
                description: All holds which have ever been placed on the bank account.
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get bank accounts by bank account id holds
      x-summary-source: derived
      operationId: getV0BankAccountsByBankAccountIdHolds
      x-operation-id-source: derived
  /v0/bank/holds/{hold-id}:
    get:
      tags:
      - Bank account holds
      description: Fetches a single hold by ID.
      parameters:
      - required: true
        name: hold-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  expires-at:
                    title: expires-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  origin-type:
                    title: origin-type
                    type: string
                    enum:
                    - card-transaction
                  updated-at:
                    title: updated-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  origin-metadata:
                    type: object
                    additionalProperties:
                      type: string
                    title: origin-metadata
                    description: Identifiers from the system that originated the hold or transaction. Keys and values are originator-specific.
                  direction:
                    title: direction
                    type: string
                    enum:
                    - debit
                    - credit
                  status:
                    title: status
                    type: string
                    enum:
                    - released
                    - placed
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  release-reason:
                    type: string
                    title: release-reason
                    description: The final release reason (e.g. clearing, expiry, reversal
                  amount:
                    title: amount
                    required:
                    - currency
                    - value
                    properties:
                      currency:
                        enum:
                        - GBP
                        type: string
                        title: currency code
                        example: GBP
                      value:
                        type: string
                        title: value
                        description: The value as a decimal-formatted string
                        example: '1000.00'
                    type: object
                    additionalProperties: false
                  account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-url
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                    description: Link to the bank account resource.
                  hold-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        hold-id:
                          type: string
                          format: ''
                          title: hold-id
                          required: true
                          name: hold-id
                      required:
                      - hold-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          hold-id:
                            type: string
                            format: ''
                            title: hold-id
                            required: true
                            name: hold-id
                        required:
                        - hold-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          hold-id:
                            type: string
                            format: ''
                            title: hold-id
                            required: true
                            name: hold-id
                        required:
                        - hold-id
                    title: hold-url
                    example: /v0/bank/holds/ho.ICAgICAgICAgaG9sZC1pZA
                    description: Link to this hold.
                  account-transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        account-transaction-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-transaction-id:
                                type: string
                                format: ''
                                title: transaction-id
                                required: true
                                name: transaction-id
                            required:
                            - bank-account-transaction-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-transaction-id:
                                  type: string
                                  format: ''
                                  title: transaction-id
                                  required: true
                                  name: transaction-id
                              required:
                              - bank-account-transaction-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-transaction-id:
                                  type: string
                                  format: ''
                                  title: transaction-id
                                  required: true
                                  name: transaction-id
                              required:
                              - bank-account-transaction-id
                          title: account-transaction-url
                          description: Link to the transaction resource.
                        updated-hold-at:
                          format: date-time
                          type: string
                          description: When this account transaction updated the hold.
                          title: updated-hold-at
                      required:
                      - account-transaction-url
                      - updated-hold-at
                      title: account-transaction
                      description: An account transaction associated with this hold.
                    title: account-transactions
                    description: All account transactions associated with this hold.
                required:
                - hold-url
                - account-url
                - status
                - amount
                - direction
                - created-at
                - updated-at
                - origin-type
                title: hold
                description: A hold on a bank account.
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get bank holds by hold id
      x-summary-source: derived
      operationId: getV0BankHoldsByHoldId
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
