openapi: 3.2.0
info:
  title: Griffin Companies House API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Companies House
paths:
  /v0/companies-house/companies/{company-number}:
    get:
      tags:
      - Companies House
      description: Lookup Companies House company by company number. Includes information about the company, its directors, and persons with significant control.
      parameters:
      - description: UK Companies House company number
        in: path
        name: company-number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  company-address:
                    type: object
                    properties:
                      building-number:
                        title: building-number
                        maxLength: 50
                      street-name:
                        title: street-name
                        minLength: 1
                        maxLength: 50
                      city:
                        title: city
                        minLength: 1
                        maxLength: 50
                      postal-code:
                        title: postal-code
                        type: string
                        maxLength: 10
                        example: NW16XE
                        minLength: 1
                      country-code:
                        title: country-code
                        description: ISO 3166-1 alpha-2 two-letter country code.
                        minLength: 2
                        maxLength: 2
                        example: GB
                    title: company-address
                  date-of-latest-accounts:
                    title: date-of-latest-accounts
                    format: date
                    type: string
                    description: ISO 8601 formatted date.
                  entity-name:
                    title: entity-name
                    type: string
                    minLength: 1
                  directors:
                    type: array
                    items:
                      type: object
                      properties:
                        display-name:
                          type: string
                          minLength: 1
                          title: display-name
                          description: A human readable label for an entity
                        companies-house-url:
                          title: companies-house-url
                          description: The URL of the entity in Companies House
                          type: string
                          example: https://api.company-information.service.gov.uk/company/00000001/appointments/AbcDEFGhI1JKLmnO2PQ3sTUv4WX
                        director-appointed-on:
                          title: director-appointed-on
                          format: date
                          type: string
                          description: ISO 8601 formatted date.
                        director-occupation:
                          type: string
                        day-of-birth:
                          type: integer
                          format: int64
                          minimum: 1
                          title: day-of-birth
                          example: '1'
                        month-of-birth:
                          type: integer
                          format: int64
                          minimum: 1
                          title: month-of-birth
                          example: '1'
                        year-of-birth:
                          type: integer
                          format: int64
                          minimum: 1
                          title: year-of-birth
                          example: '1970'
                      required:
                      - display-name
                      - companies-house-url
                      title: ch-director
                  date-of-latest-confirmation-statement:
                    title: date-of-latest-confirmation-statement
                    format: date
                    type: string
                    description: ISO 8601 formatted date.
                  corporation-type:
                    title: corporation-type
                    type: string
                    enum:
                    - private-limited-guarant-nsc-limited-exemption
                    - eeig
                    - private-limited-shares-section-30-exemption
                    - limited-partnership
                    - royal-charter
                    - private-unlimited-nsc
                    - old-public-company
                    - investment-company-with-variable-capital
                    - other-company-type
                    - converted-or-closed
                    - protected-cell-company
                    - private-limited-guarant-nsc
                    - scottish-charitable-incorporated-organisation
                    - industrial-and-provident-society
                    - registered-society-non-jurisdictional
                    - private-unlimited
                    - further-education-or-sixth-form-college-corporation
                    - limited-liability-partnership
                    - assurance-company
                    - other
                    - northern-ireland-other
                    - charitable-incorporated-organisation
                    - oversea-company
                    - icvc-securities
                    - uk-establishment
                    - unregistered-company
                    - icvc-warrant
                    - registered-overseas-entity
                    - public-limited-company
                    - private-limited-company
                    - european-public-limited-liability-company-se
                    - private-unlimted-nsc
                    - northern-ireland
                    - icvc-umbrella
                    - scottish-partnership
                  company-status:
                    title: company-status
                    type: string
                    enum:
                    - dissolved
                    - active
                    - receivership
                    - registered
                    - removed
                    - administration
                    - open
                    - closed
                    - voluntary-arrangement
                    - liquidation
                    - converted-closed
                    - insolvency-proceedings
                  accounts-overdue:
                    type: boolean
                  sic-codes:
                    type: array
                    items:
                      title: sic-code
                      pattern: ^[0-9]*$
                      type: string
                      maxLength: 5
                      example: '12345'
                      minLength: 4
                  persons-with-significant-control:
                    type: array
                    items:
                      type: object
                      properties:
                        display-name:
                          type: string
                          minLength: 1
                          title: display-name
                          description: A human readable label for an entity
                        natures-of-control:
                          type: array
                          items:
                            title: nature-of-control
                            type: string
                            enum:
                            - voting-rights-25-to-50-percent-limited-liability-partnership
                            - right-to-appoint-and-remove-members-limited-liability-partnership
                            - part-right-to-share-surplus-assets-75-to-100-percent-as-trust
                            - ownership-of-shares-more-than-25-percent-registered-overseas-entity
                            - part-right-to-share-surplus-assets-50-to-75-percent-as-trust
                            - significant-influence-or-control-as-firm-limited-liability-partnership
                            - part-right-to-share-surplus-assets-25-to-50-percent-as-firm
                            - ownership-of-shares-25-to-50-percent-as-trust
                            - ownership-of-shares-more-than-25-percent-as-firm-registered-overseas-entity
                            - voting-rights-25-to-50-percent
                            - voting-rights-25-to-50-percent-as-firm
                            - ownership-of-shares-more-than-25-percent-as-trust-registered-overseas-entity
                            - significant-influence-or-control
                            - significant-influence-or-control-registered-overseas-entity
                            - part-right-to-share-surplus-assets-50-to-75-percent-as-firm
                            - voting-rights-50-to-75-percent
                            - part-right-to-share-surplus-assets-25-to-50-percent
                            - voting-rights-50-to-75-percent-as-trust
                            - right-to-share-surplus-assets-75-to-100-percent-as-firm-limited-liability-partnership
                            - right-to-appoint-and-remove-person-as-trust
                            - ownership-of-shares-50-to-75-percent-as-firm
                            - voting-rights-50-to-75-percent-as-firm-limited-liability-partnership
                            - voting-rights-25-to-50-percent-as-trust
                            - voting-rights-50-to-75-percent-as-trust-limited-liability-partnership
                            - voting-rights-75-to-100-percent
                            - part-right-to-share-surplus-assets-75-to-100-percent-as-firm
                            - significant-influence-or-control-limited-liability-partnership
                            - right-to-share-surplus-assets-75-to-100-percent-limited-liability-partnership
                            - right-to-appoint-and-remove-directors-as-firm
                            - voting-rights-75-to-100-percent-as-trust
                            - voting-rights-25-to-50-percent-as-firm-limited-liability-partnership
                            - right-to-appoint-and-remove-directors-as-firm-registered-overseas-entity
                            - right-to-share-surplus-assets-25-to-50-percent-as-firm-limited-liability-partnership
                            - ownership-of-shares-25-to-50-percent
                            - ownership-of-shares-75-to-100-percent-as-firm
                            - significant-influence-or-control-as-firm
                            - right-to-appoint-and-remove-directors-as-trust
                            - right-to-appoint-and-remove-person
                            - significant-influence-or-control-as-trust-registered-overseas-entity
                            - voting-rights-more-than-25-percent-as-trust-registered-overseas-entity
                            - right-to-appoint-and-remove-directors-as-trust-registered-overseas-entity
                            - right-to-appoint-and-remove-members-as-firm-limited-liability-partnership
                            - part-right-to-share-surplus-assets-75-to-100-percent
                            - ownership-of-shares-25-to-50-percent-as-firm
                            - right-to-share-surplus-assets-25-to-50-percent-as-trust-limited-liability-partnership
                            - right-to-share-surplus-assets-50-to-75-percent-limited-liability-partnership
                            - voting-rights-50-to-75-percent-as-firm
                            - part-right-to-share-surplus-assets-50-to-75-percent
                            - right-to-appoint-and-remove-directors-registered-overseas-entity
                            - significant-influence-or-control-as-trust
                            - right-to-share-surplus-assets-75-to-100-percent-as-trust-limited-liability-partnership
                            - ownership-of-shares-50-to-75-percent-as-trust
                            - right-to-share-surplus-assets-50-to-75-percent-as-firm-limited-liability-partnership
                            - voting-rights-more-than-25-percent-as-firm-registered-overseas-entity
                            - significant-influence-or-control-as-firm-registered-overseas-entity
                            - ownership-of-shares-75-to-100-percent-as-trust
                            - ownership-of-shares-50-to-75-percent
                            - right-to-share-surplus-assets-50-to-75-percent-as-trust-limited-liability-partnership
                            - voting-rights-75-to-100-percent-limited-liability-partnership
                            - voting-rights-more-than-25-percent-registered-overseas-entity
                            - right-to-appoint-and-remove-members-as-trust-limited-liability-partnership
                            - ownership-of-shares-75-to-100-percent
                            - part-right-to-share-surplus-assets-25-to-50-percent-as-trust
                            - voting-rights-75-to-100-percent-as-trust-limited-liability-partnership
                            - voting-rights-50-to-75-percent-limited-liability-partnership
                            - significant-influence-or-control-as-trust-limited-liability-partnership
                            - voting-rights-75-to-100-percent-as-firm-limited-liability-partnership
                            - right-to-appoint-and-remove-person-as-firm
                            - right-to-appoint-and-remove-directors
                            - voting-rights-25-to-50-percent-as-trust-limited-liability-partnership
                            - voting-rights-75-to-100-percent-as-firm
                            - right-to-share-surplus-assets-25-to-50-percent-limited-liability-partnership
                        companies-house-url:
                          title: companies-house-url
                          description: The URL of the entity in Companies House
                          type: string
                          example: https://api.company-information.service.gov.uk/company/00000001/appointments/AbcDEFGhI1JKLmnO2PQ3sTUv4WX
                        given-name:
                          title: given-name
                          type: string
                          minLength: 1
                        surname:
                          title: surname
                          type: string
                          minLength: 1
                        day-of-birth:
                          type: integer
                          format: int64
                          minimum: 1
                          title: day-of-birth
                          example: '1'
                        month-of-birth:
                          type: integer
                          format: int64
                          minimum: 1
                          title: month-of-birth
                          example: '1'
                        year-of-birth:
                          type: integer
                          format: int64
                          minimum: 1
                          title: year-of-birth
                          example: '1970'
                      required:
                      - display-name
                      - natures-of-control
                      - companies-house-url
                      title: person-with-significant-control
                  confirmation-statement-overdue:
                    type: boolean
                  date-of-incorporation:
                    title: date-of-incorporation
                    format: date
                    type: string
                    description: ISO 8601 formatted date.
                  entity-registration-number:
                    type: string
                    minLength: 1
                    title: entity-registration-number
                    description: The entity number assigned by the local register. For UK companies that's the Companies House company number.
                required:
                - directors
                - persons-with-significant-control
                - date-of-incorporation
                - corporation-type
                - entity-registration-number
                - entity-name
                - company-status
                title: company-information-response
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
        '422':
          description: ''
        '429':
          description: ''
        '500':
          description: ''
        '502':
          description: ''
      summary: Lookup company
      operationId: getV0CompaniesHouseCompaniesByCompanyNumber
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
