openapi: 3.2.0
info:
  title: Griffin Legal person history API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Legal person history
paths:
  /v0/legal-persons/{legal-person-id}/history:
    get:
      tags:
      - Legal person history
      description: Lists history of events for the given legal person.
      parameters:
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - required: true
        name: legal-person-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  legal-person-history:
                    type: array
                    items:
                      type: object
                      properties: {}
                      required:
                      - legal-person-history-event-type
                      title: history event
                      x-anyOf:
                      - type: object
                        properties:
                          legal-person-history-event-type:
                            enum:
                            - risk-rating-registered
                            type: string
                          timestamp:
                            format: date-time
                            type: string
                            description: Date time of this event.
                            title: timestamp
                          risk-rating:
                            title: risk-rating
                            type: string
                            enum:
                            - high-risk
                            - prohibited-risk
                            - medium-risk
                            - low-risk
                          notes:
                            type: string
                            minLength: 1
                            title: notes
                            description: Rationale for overriding the risk rating.
                          manually-created-by:
                            type: object
                            properties: {}
                            required:
                            - manually-created-by-type
                            title: manually-created-by
                            description: User that triggered this event.
                            x-anyOf:
                            - type: object
                              properties:
                                manually-created-by-type:
                                  enum:
                                  - ops-user
                                  type: string
                              required:
                              - manually-created-by-type
                              - manually-created-by-type
                              title: ops-user
                          previous-risk-rating:
                            title: previous-risk-rating
                            type: string
                            enum:
                            - high-risk
                            - prohibited-risk
                            - medium-risk
                            - low-risk
                        required:
                        - legal-person-history-event-type
                        - timestamp
                        - risk-rating
                        - legal-person-history-event-type
                        title: risk-rating-registered
                      - type: object
                        properties:
                          decision-outcome:
                            title: decision-outcome
                            type: string
                            enum:
                            - accepted
                            - declined
                          decision-notes:
                            type: string
                            title: decision-notes
                            description: Free-text field to explain the reasons behind the decision.
                          verification-url:
                            type: string
                            title: verification-url
                            example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA
                            description: A link to the [verification](#tag/Verifications).
                          legal-person-history-event-type:
                            title: legal-person-history-event-type
                            type: string
                            enum:
                            - risk-rating-registered
                            - decision-created
                            - verification-created
                          timestamp:
                            format: date-time
                            type: string
                            description: Date time of this event.
                            title: timestamp
                          decision-maker:
                            title: decision-maker
                            enum:
                            - system
                            - ops-user
                            - user
                            type: string
                            description: Indicates if the decision was automated or made by a human.
                          decision-user-url:
                            type: string
                            example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                            description: Link to the [user](#tag/Users) that made the decision (if applicable).
                            title: decision-user-url
                          decision-ops-user:
                            title: decision-ops-user
                            enum:
                            - griffin-ops-user
                            type: string
                            description: Indicates that an Ops user has created the decision.
                          decision-user-username:
                            type: string
                            example: user@example.com
                            description: Username of the [user](#tag/Users) that made the decision (if applicable).
                            title: decision-user-username
                        required:
                        - legal-person-history-event-type
                        - timestamp
                        - verification-url
                        - decision-outcome
                        - decision-maker
                        - decision-notes
                        - legal-person-history-event-type
                        title: decision-created
                      - type: object
                        properties:
                          legal-person-history-event-type:
                            enum:
                            - verification-created
                            type: string
                          timestamp:
                            format: date-time
                            type: string
                            description: Date time of this event.
                            title: timestamp
                          verification-url:
                            type: string
                            title: verification-url
                            example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA
                            description: A link to the [verification](#tag/Verifications).
                          workflow-url:
                            type: string
                            title: workflow-url
                            example: /v0/workflows/wf.ICAgICB3b3JrZmxvdy1pZA
                            description: A link to the [workflow](/docs/terms/workflow).
                        required:
                        - legal-person-history-event-type
                        - timestamp
                        - verification-url
                        - workflow-url
                        - legal-person-history-event-type
                        title: verification-created
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                  meta:
                    type: object
                    properties:
                      page:
                        type: object
                        properties:
                          total:
                            type: integer
                            format: int64
                            minimum: 0
                            title: total
                            description: Total number of items. Present when the total number of items in the full result set is less than 10,000.
                          estimated-total:
                            type: object
                            properties:
                              at-least:
                                enum:
                                - 10000
                                type: integer
                                title: at-least
                                description: Present when the total number of items in the full result set exceeds 10,000. This indicates that the actual number of items is at least 10,000, but the exact total is not provided due to performance considerations.
                            title: estimated-total
                        title: page
                    title: meta
                required:
                - legal-person-history
                - links
                title: legal-person-history-response
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get legal persons by legal person id history
      x-summary-source: derived
      operationId: getV0LegalPersonsByLegalPersonIdHistory
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
