openapi: 3.2.0
info:
  title: Griffin Decisions API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Decisions
paths:
  /v0/legal-persons/{legal-person-id}/decisions:
    get:
      tags:
      - Decisions
      description: Lists all decisions for the given legal-person.
      parameters:
      - in: query
        name: sort
        description: ''
        required: false
        schema:
          type: string
          enum:
          - -created-at
          - created-at
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - required: true
        name: legal-person-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  decisions:
                    type: array
                    items:
                      type: object
                      properties:
                        decision-outcome:
                          title: decision-outcome
                          type: string
                          enum:
                          - accepted
                          - declined
                        decision-notes:
                          type: string
                          title: decision-notes
                          description: Free-text field to explain the reasons behind the decision.
                        verification-url:
                          type: string
                          title: verification-url
                          example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA
                          description: A link to the [verification](#tag/Verifications).
                        legal-person-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              legal-person-id:
                                type: string
                                format: ''
                                title: legal-person-id
                                required: true
                                name: legal-person-id
                            required:
                            - legal-person-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                legal-person-id:
                                  type: string
                                  format: ''
                                  title: legal-person-id
                                  required: true
                                  name: legal-person-id
                              required:
                              - legal-person-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                legal-person-id:
                                  type: string
                                  format: ''
                                  title: legal-person-id
                                  required: true
                                  name: legal-person-id
                              required:
                              - legal-person-id
                          title: legal-person-url
                          example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                          description: A contextual link to the [legal person](#tag/Legal-persons).
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        decision-maker:
                          title: decision-maker
                          enum:
                          - system
                          - ops-user
                          - user
                          type: string
                          description: Indicates if the decision was automated or made by a human.
                        decision-user-url:
                          type: string
                          example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                          description: Link to the [user](#tag/Users) that made the decision (if applicable).
                          title: decision-user-url
                        decision-ops-user:
                          title: decision-ops-user
                          enum:
                          - griffin-ops-user
                          type: string
                          description: Indicates that an Ops user has created the decision.
                        decision-user-username:
                          type: string
                          example: user@example.com
                          description: Username of the [user](#tag/Users) that made the decision (if applicable).
                          title: decision-user-username
                      required:
                      - legal-person-url
                      - verification-url
                      - decision-outcome
                      - decision-maker
                      - decision-notes
                      - created-at
                      title: decision
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                required:
                - decisions
                - links
                title: decisions-response
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
      summary: List decisions
      operationId: getV0LegalPersonsByLegalPersonIdDecisions
      x-operation-id-source: derived
    post:
      tags:
      - Decisions
      description: 'Creates a decision against the legal person.


        The provided verification must have a `verification-status` of `checks-complete`, otherwise a 422 is served.


        When a decision is successfully created, the legal person''s `application-status` is updated accordingly.


        Multiple decisions may be made against the same legal person.'
      parameters:
      - required: true
        name: legal-person-id
        in: path
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  decision-outcome:
                    title: decision-outcome
                    type: string
                    enum:
                    - accepted
                    - declined
                  decision-notes:
                    type: string
                    title: decision-notes
                    description: Free-text field to explain the reasons behind the decision.
                  verification-url:
                    type: string
                    title: verification-url
                    example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA
                    description: A link to the [verification](#tag/Verifications).
                  legal-person-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    title: legal-person-url
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: A contextual link to the [legal person](#tag/Legal-persons).
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  decision-maker:
                    title: decision-maker
                    enum:
                    - system
                    - ops-user
                    - user
                    type: string
                    description: Indicates if the decision was automated or made by a human.
                  decision-user-url:
                    type: string
                    example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                    description: Link to the [user](#tag/Users) that made the decision (if applicable).
                    title: decision-user-url
                  decision-ops-user:
                    title: decision-ops-user
                    enum:
                    - griffin-ops-user
                    type: string
                    description: Indicates that an Ops user has created the decision.
                  decision-user-username:
                    type: string
                    example: user@example.com
                    description: Username of the [user](#tag/Users) that made the decision (if applicable).
                    title: decision-user-username
                required:
                - legal-person-url
                - verification-url
                - decision-outcome
                - decision-maker
                - decision-notes
                - created-at
                title: decision
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '403':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
        '500':
          description: ''
        '503':
          description: ''
      summary: Create decision
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                verification-url:
                  type: string
                  title: verification-url
                  example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA
                  description: A link to the [verification](#tag/Verifications).
                decision-outcome:
                  title: decision-outcome
                  type: string
                  enum:
                  - accepted
                  - declined
                decision-notes:
                  type: string
                  title: decision-notes
                  description: Free-text field to explain the reasons behind the decision.
              required:
              - verification-url
              - decision-outcome
              - decision-notes
              title: request-create-decision
        required: true
      operationId: postV0LegalPersonsByLegalPersonIdDecisions
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
