openapi: 3.2.0
info:
  title: Griffin Organizations API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Organizations
  description: The organization resource represents your company and acts as a container for the majority of other resources, including legal persons and bank accounts.
paths:
  /v0/organizations/{organization-id}:
    get:
      tags:
      - Organizations
      description: Yields the organization details
      parameters:
      - required: true
        name: organization-id
        in: path
        schema:
          type: string
      responses:
        '200':
          headers:
            Location:
              description: The URL of the organization
              schema:
                type: string
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  own-legal-person-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    title: own-legal-person-url
                    description: Link to the [legal person](#tag/Legal-persons) that represents the [organization](#tag/Organizations); this can be an individual or a company.
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                  organization-mode:
                    title: organization-mode
                    enum:
                    - test-mode
                    - live-mode
                    type: string
                    description: The organization can either be a sandbox organization or a live one; Check out our guide for [sandbox mode vs live mode](/docs/guides/sandbox-vs-live-mode).
                  organization-memberships-url:
                    type: string
                    title: organization-memberships-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/memberships
                    description: Link to the [memberships](#tag/Memberships) for this [organization](#tag/Organizations).
                  organization-invitations-url:
                    type: string
                    title: organization-invitations-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/invitations
                    description: Link to the resource that enables you to [invite](#tag/Invites) new [users](#tag/Users) to this [organization](#tag/Organizations).
                  organization-payments-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        organization-id:
                          type: string
                          format: ''
                          title: organization-id
                          required: true
                          name: organization-id
                      required:
                      - organization-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          organization-id:
                            type: string
                            format: ''
                            title: organization-id
                            required: true
                            name: organization-id
                        required:
                        - organization-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          organization-id:
                            type: string
                            format: ''
                            title: organization-id
                            required: true
                            name: organization-id
                        required:
                        - organization-id
                    title: organization-payments-url
                    description: Link to the [payments](#tag/Payments) associated with this organization.
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/payments
                  organization-bank-account-products-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        organization-id:
                          type: string
                          format: ''
                          title: organization-id
                          required: true
                          name: organization-id
                      required:
                      - organization-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          organization-id:
                            type: string
                            format: ''
                            title: organization-id
                            required: true
                            name: organization-id
                        required:
                        - organization-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          organization-id:
                            type: string
                            format: ''
                            title: organization-id
                            required: true
                            name: organization-id
                        required:
                        - organization-id
                    title: organization-bank-account-products-url
                    description: Link to the [bank account](#tag/Bank-accounts) products owned by this [organization](#tag/Organization).
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/products
                  organization-onboarding-applications-url:
                    type: string
                    title: organization-onboarding-applications-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/onboarding/applications
                    description: Link to the [Reliance onboarding](#tag/Reliance-onboarding).
                  display-name:
                    type: string
                    minLength: 1
                    title: display-name
                    description: The mutable display name for the Organisation
                    maxLength: 64
                    example: Company Org
                  organization-bank-accounts-search-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        organization-id:
                          type: string
                          format: ''
                          title: organization-id
                          required: true
                          name: organization-id
                      required:
                      - organization-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          organization-id:
                            type: string
                            format: ''
                            title: organization-id
                            required: true
                            name: organization-id
                        required:
                        - organization-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          organization-id:
                            type: string
                            format: ''
                            title: organization-id
                            required: true
                            name: organization-id
                        required:
                        - organization-id
                    title: organization-bank-accounts-search-url
                    description: Link to search [bank accounts](#tag/Bank-accounts) associated with this [organization](#tag/Organizations).
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts/search
                  organization-api-keys-url:
                    type: string
                    title: organization-api-keys-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/api-keys
                  organization-live-access-url:
                    type: string
                    title: organization-live-access-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/live-access
                    description: Link to the resource that enables you to request live access.
                  organization-webhooks-url:
                    type: string
                    title: organization-webhooks-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/webhooks
                    description: Link to the endpoint which enables webhook creation.
                  organization-workflows-url:
                    type: string
                    title: organization-workflows-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/workflows
                    description: Link to the onboarding [workflows](#tag/Workflows) configured for this [organization](#tag/Organizations).
                  organization-bank-accounts-url:
                    type: string
                    title: organization-bank-accounts-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/bank/accounts
                    description: Link to the [bank accounts](#tag/Bank-accounts) managed by this [organization](#tag/Organizations).
                  available-roles:
                    type: array
                    items:
                      type: object
                      properties:
                        display-name:
                          type: string
                          minLength: 1
                          title: display-name
                          description: The mutable display name for the Organisation
                          maxLength: 64
                          example: Company Org
                        description:
                          type: string
                          title: description
                        role-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              role-id:
                                type: string
                                format: ''
                                title: role-id
                                required: true
                                name: role-id
                            required:
                            - role-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                role-id:
                                  type: string
                                  format: ''
                                  title: role-id
                                  required: true
                                  name: role-id
                              required:
                              - role-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                role-id:
                                  type: string
                                  format: ''
                                  title: role-id
                                  required: true
                                  name: role-id
                              required:
                              - role-id
                          title: role-url
                          description: Link to the [role](#tag/Roles).
                          example: /v0/roles/re.ICAgICAgICAgcm9sZS1pZA
                        role-category:
                          type: string
                      required:
                      - display-name
                      - description
                      - role-url
                      title: role
                    description: The subset of [roles](#tag/Roles) available to [members](#tag/Members) of this [organization](#tag/Organizations).
                    title: available-roles
                  organization-url:
                    type: string
                    title: organization-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA
                    description: Link to the [organization](#tag/Organizations).
                  organization-payments-search-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        organization-id:
                          type: string
                          format: ''
                          title: organization-id
                          required: true
                          name: organization-id
                      required:
                      - organization-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          organization-id:
                            type: string
                            format: ''
                            title: organization-id
                            required: true
                            name: organization-id
                        required:
                        - organization-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          organization-id:
                            type: string
                            format: ''
                            title: organization-id
                            required: true
                            name: organization-id
                        required:
                        - organization-id
                    title: organization-payments-search-url
                    description: Link to search [payments](#tag/Payments) associated with this organization.
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/payments/search
                  organization-individuals-url:
                    type: string
                    title: organization-individuals-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/individuals
                  organization-corporations-url:
                    type: string
                    title: organization-corporations-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/corporations
                  organization-legal-persons-url:
                    type: string
                    title: organization-legal-persons-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/legal-persons
                    description: Link to the [legal persons](#tag/Legal-persons) grouped under this [organization](#tag/Organizations).
                  organization-legal-persons-search-url:
                    type: string
                    title: organization-legal-persons-search-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/legal-persons/search
                    description: Link to search [legal persons](#tag/Legal-persons) grouped under this [organization](#tag/Organizations).
                  organization-events-url:
                    type: string
                    title: organization-events-url
                    example: /v0/organizations/og.IG9yZ2FuaXphdGlvbi1pZA/events
                    description: Link to the endpoint which lists an organization's events.
                required:
                - available-roles
                - can-decide-on-verifications?
                - display-name
                - organization-api-keys-url
                - organization-bank-accounts-url
                - organization-bank-account-products-url
                - organization-corporations-url
                - organization-events-url
                - organization-individuals-url
                - organization-invitations-url
                - organization-legal-persons-url
                - organization-live-access-url
                - organization-memberships-url
                - organization-mode
                - organization-payments-url
                - organization-url
                - organization-webhooks-url
                - organization-workflows-url
                - own-legal-person-url
                - organization-legal-persons-search-url
                - organization-bank-accounts-search-url
                - organization-payments-search-url
                title: organization
                additionalProperties: false
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get organization
      operationId: getV0OrganizationsByOrganizationId
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
