openapi: 3.2.0
info:
  title: Griffin Bank account restrictions API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Bank account restrictions
  description: Restrictions prevent payments on a bank account.
paths:
  /v0/bank/account-restrictions/{bank-account-restriction-id}:
    get:
      tags:
      - Bank account restrictions
      description: 'Fetches details of a single bank account restriction.


        The response includes the restriction''s current status (`active` or `lifted`),

        type, reason code, legal status, and who applied it.


        If the restriction was applied by Griffin using a sensitive reason code

        (`griffin-decision`, `law-enforcement`, `sanctions`, or `terrorist-financing`),

        the type, reason code, and legal status fields are omitted from the response.


        Action URLs (`update-bank-account-restriction-url`, `lift-bank-account-restriction-url`)

        are included only when you are authorised to perform those actions on the restriction.'
      parameters:
      - required: true
        name: bank-account-restriction-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  lift-bank-account-restriction-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: lift-bank-account-restriction-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/actions/lift
                    description: Link to lift a bank account restriction.
                  restriction-status:
                    type: string
                    title: restriction-status
                    x-anyOf:
                    - type: string
                      enum:
                      - lifted
                      - active
                    - type: string
                  restriction-legal-status:
                    type: string
                    title: restriction-legal-status
                    x-anyOf:
                    - type: string
                      enum:
                      - not-applicable
                      - conviction-confirmed
                      - formal-charge-filed
                      - suspected
                    - type: string
                  bank-account-restriction-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: bank-account-restriction-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw
                    description: Link to a bank account restriction.
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  update-bank-account-restriction-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: update-bank-account-restriction-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/actions/update
                    description: Link to update a bank account restriction.
                  bank-account-restriction-events-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: bank-account-restriction-events-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/events
                    description: Link to events for a bank account restriction.
                  restriction-reason-code:
                    type: string
                    title: restriction-reason-code
                    x-anyOf:
                    - type: string
                      enum:
                      - suspicious
                      - fraud-app-perpetrator
                      - customer-request
                      - dormant
                      - other
                      - terrorist-financing
                      - law-enforcement
                      - sanctions
                      - risk-appetite
                      - deceased
                      - fraud-app-victim
                      - fraud-3rd-party
                      - money-laundering
                      - fraud
                      - high-risk-pep
                      - fraud-1st-party
                    - type: string
                  restriction-type:
                    type: string
                    title: restriction-type
                    x-anyOf:
                    - type: string
                      enum:
                      - block
                      - freeze
                    - type: string
                  account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-url
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                    description: Link to the bank account resource.
                  restriction-applied-by:
                    type: object
                    properties: {}
                    required:
                    - restriction-applied-by-type
                    title: restriction-applied-by
                    x-anyOf:
                    - type: object
                      properties:
                        restriction-applied-by-type:
                          enum:
                          - ops-user
                          type: string
                      required:
                      - restriction-applied-by-type
                      - restriction-applied-by-type
                      title: ops-user
                    - type: object
                      properties:
                        restriction-applied-by-type:
                          enum:
                          - user
                          type: string
                        user-url:
                          type: string
                          title: user-url
                          example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                          description: Link to the user.
                        user-username:
                          type: string
                          title: user-username
                          example: user@example.com
                          description: The username.
                      required:
                      - restriction-applied-by-type
                      - user-url
                      - restriction-applied-by-type
                      title: user
                required:
                - bank-account-restriction-url
                - bank-account-restriction-events-url
                - restriction-status
                - restriction-applied-by
                - created-at
                - account-url
                title: bank-account-restriction-response
                description: A bank account restriction.
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get bank account restriction
      operationId: getV0BankAccountRestrictionsByBankAccountRestrictionId
      x-operation-id-source: derived
  /v0/bank/account-restrictions/{bank-account-restriction-id}/actions/lift:
    post:
      tags:
      - Bank account restrictions
      description: 'Lifts a bank account restriction.


        Marks the restriction as `lifted`, removing its effect on the account. Notes are

        required to provide context for the removal.'
      parameters:
      - required: true
        name: bank-account-restriction-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  lift-bank-account-restriction-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: lift-bank-account-restriction-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/actions/lift
                    description: Link to lift a bank account restriction.
                  restriction-status:
                    type: string
                    title: restriction-status
                    x-anyOf:
                    - type: string
                      enum:
                      - lifted
                      - active
                    - type: string
                  restriction-legal-status:
                    type: string
                    title: restriction-legal-status
                    x-anyOf:
                    - type: string
                      enum:
                      - not-applicable
                      - conviction-confirmed
                      - formal-charge-filed
                      - suspected
                    - type: string
                  bank-account-restriction-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: bank-account-restriction-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw
                    description: Link to a bank account restriction.
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  update-bank-account-restriction-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: update-bank-account-restriction-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/actions/update
                    description: Link to update a bank account restriction.
                  bank-account-restriction-events-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: bank-account-restriction-events-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/events
                    description: Link to events for a bank account restriction.
                  restriction-reason-code:
                    type: string
                    title: restriction-reason-code
                    x-anyOf:
                    - type: string
                      enum:
                      - suspicious
                      - fraud-app-perpetrator
                      - customer-request
                      - dormant
                      - other
                      - terrorist-financing
                      - law-enforcement
                      - sanctions
                      - risk-appetite
                      - deceased
                      - fraud-app-victim
                      - fraud-3rd-party
                      - money-laundering
                      - fraud
                      - high-risk-pep
                      - fraud-1st-party
                    - type: string
                  restriction-type:
                    type: string
                    title: restriction-type
                    x-anyOf:
                    - type: string
                      enum:
                      - block
                      - freeze
                    - type: string
                  account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-url
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                    description: Link to the bank account resource.
                  restriction-applied-by:
                    type: object
                    properties: {}
                    required:
                    - restriction-applied-by-type
                    title: restriction-applied-by
                    x-anyOf:
                    - type: object
                      properties:
                        restriction-applied-by-type:
                          enum:
                          - ops-user
                          type: string
                      required:
                      - restriction-applied-by-type
                      - restriction-applied-by-type
                      title: ops-user
                    - type: object
                      properties:
                        restriction-applied-by-type:
                          enum:
                          - user
                          type: string
                        user-url:
                          type: string
                          title: user-url
                          example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                          description: Link to the user.
                        user-username:
                          type: string
                          title: user-username
                          example: user@example.com
                          description: The username.
                      required:
                      - restriction-applied-by-type
                      - user-url
                      - restriction-applied-by-type
                      title: user
                required:
                - bank-account-restriction-url
                - bank-account-restriction-events-url
                - restriction-status
                - restriction-applied-by
                - created-at
                - account-url
                title: bank-account-restriction-response
                description: A bank account restriction.
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '403':
          description: ''
        '404':
          description: ''
        '422':
          description: The restriction is not active or can only be lifted by Griffin
        '500':
          description: ''
      summary: Lift bank account restriction
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  maxLength: 2000
              required:
              - notes
              title: request-lift-restriction
        required: true
      operationId: postV0BankAccountRestrictionsByBankAccountRestrictionIdActionsLift
      x-operation-id-source: derived
  /v0/bank/account-restrictions/{bank-account-restriction-id}/actions/update:
    post:
      tags:
      - Bank account restrictions
      description: 'Updates a bank account restriction.


        Allows you to change the restriction type, reason code, and/or legal status of an

        active restriction. Notes are always required to provide context for the change.


        Only the fields you include in the request body will be updated. Omitted fields

        are left unchanged.'
      parameters:
      - required: true
        name: bank-account-restriction-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  lift-bank-account-restriction-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: lift-bank-account-restriction-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/actions/lift
                    description: Link to lift a bank account restriction.
                  restriction-status:
                    type: string
                    title: restriction-status
                    x-anyOf:
                    - type: string
                      enum:
                      - lifted
                      - active
                    - type: string
                  restriction-legal-status:
                    type: string
                    title: restriction-legal-status
                    x-anyOf:
                    - type: string
                      enum:
                      - not-applicable
                      - conviction-confirmed
                      - formal-charge-filed
                      - suspected
                    - type: string
                  bank-account-restriction-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: bank-account-restriction-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw
                    description: Link to a bank account restriction.
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  update-bank-account-restriction-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: update-bank-account-restriction-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/actions/update
                    description: Link to update a bank account restriction.
                  bank-account-restriction-events-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: bank-account-restriction-events-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/events
                    description: Link to events for a bank account restriction.
                  restriction-reason-code:
                    type: string
                    title: restriction-reason-code
                    x-anyOf:
                    - type: string
                      enum:
                      - suspicious
                      - fraud-app-perpetrator
                      - customer-request
                      - dormant
                      - other
                      - terrorist-financing
                      - law-enforcement
                      - sanctions
                      - risk-appetite
                      - deceased
                      - fraud-app-victim
                      - fraud-3rd-party
                      - money-laundering
                      - fraud
                      - high-risk-pep
                      - fraud-1st-party
                    - type: string
                  restriction-type:
                    type: string
                    title: restriction-type
                    x-anyOf:
                    - type: string
                      enum:
                      - block
                      - freeze
                    - type: string
                  account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-url
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                    description: Link to the bank account resource.
                  restriction-applied-by:
                    type: object
                    properties: {}
                    required:
                    - restriction-applied-by-type
                    title: restriction-applied-by
                    x-anyOf:
                    - type: object
                      properties:
                        restriction-applied-by-type:
                          enum:
                          - ops-user
                          type: string
                      required:
                      - restriction-applied-by-type
                      - restriction-applied-by-type
                      title: ops-user
                    - type: object
                      properties:
                        restriction-applied-by-type:
                          enum:
                          - user
                          type: string
                        user-url:
                          type: string
                          title: user-url
                          example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                          description: Link to the user.
                        user-username:
                          type: string
                          title: user-username
                          example: user@example.com
                          description: The username.
                      required:
                      - restriction-applied-by-type
                      - user-url
                      - restriction-applied-by-type
                      title: user
                required:
                - bank-account-restriction-url
                - bank-account-restriction-events-url
                - restriction-status
                - restriction-applied-by
                - created-at
                - account-url
                title: bank-account-restriction-response
                description: A bank account restriction.
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '403':
          description: ''
        '404':
          description: ''
        '422':
          description: The restriction is not active or can only be updated by Griffin
        '500':
          description: ''
      summary: Update bank account restriction
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                restriction-type:
                  type: string
                  enum:
                  - block
                  - freeze
                restriction-reason-code:
                  type: string
                  enum:
                  - fraud-app-perpetrator
                  - customer-request
                  - dormant
                  - other
                  - terrorist-financing
                  - law-enforcement
                  - sanctions
                  - risk-appetite
                  - deceased
                  - fraud-app-victim
                  - fraud-3rd-party
                  - money-laundering
                  - fraud-1st-party
                restriction-legal-status:
                  type: string
                  enum:
                  - not-applicable
                  - conviction-confirmed
                  - formal-charge-filed
                  - suspected
                notes:
                  type: string
                  maxLength: 2000
              required:
              - notes
              title: request-update-restriction
        required: true
      operationId: postV0BankAccountRestrictionsByBankAccountRestrictionIdActionsUpdate
      x-operation-id-source: derived
  /v0/bank/accounts/{bank-account-id}/restrictions:
    get:
      tags:
      - Bank account restrictions
      description: 'Lists restrictions on a bank account.


        Returns all restrictions (both `active` and `lifted`) by default. Use

        `filter[restriction-status][eq]=active` to return only active restrictions.


        See get restriction

        for details on field visibility and redaction.'
      parameters:
      - in: query
        name: filter[restriction-status][eq]
        description: Return only restrictions with the given restriction-status.
        required: false
        schema:
          type: string
          enum:
          - lifted
          - active
      - in: query
        name: sort
        description: ''
        required: false
        schema:
          type: string
          enum:
          - -created-at
          - created-at
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - required: true
        name: bank-account-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  bank-account-restrictions:
                    type: array
                    items:
                      type: object
                      properties:
                        lift-bank-account-restriction-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-restriction-id:
                                type: string
                                format: ''
                                title: bank-account-restriction-id
                                required: true
                                name: bank-account-restriction-id
                            required:
                            - bank-account-restriction-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-restriction-id:
                                  type: string
                                  format: ''
                                  title: bank-account-restriction-id
                                  required: true
                                  name: bank-account-restriction-id
                              required:
                              - bank-account-restriction-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-restriction-id:
                                  type: string
                                  format: ''
                                  title: bank-account-restriction-id
                                  required: true
                                  name: bank-account-restriction-id
                              required:
                              - bank-account-restriction-id
                          title: lift-bank-account-restriction-url
                          example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/actions/lift
                          description: Link to lift a bank account restriction.
                        restriction-status:
                          type: string
                          title: restriction-status
                          x-anyOf:
                          - type: string
                            enum:
                            - lifted
                            - active
                          - type: string
                        restriction-legal-status:
                          type: string
                          title: restriction-legal-status
                          x-anyOf:
                          - type: string
                            enum:
                            - not-applicable
                            - conviction-confirmed
                            - formal-charge-filed
                            - suspected
                          - type: string
                        bank-account-restriction-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-restriction-id:
                                type: string
                                format: ''
                                title: bank-account-restriction-id
                                required: true
                                name: bank-account-restriction-id
                            required:
                            - bank-account-restriction-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-restriction-id:
                                  type: string
                                  format: ''
                                  title: bank-account-restriction-id
                                  required: true
                                  name: bank-account-restriction-id
                              required:
                              - bank-account-restriction-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-restriction-id:
                                  type: string
                                  format: ''
                                  title: bank-account-restriction-id
                                  required: true
                                  name: bank-account-restriction-id
                              required:
                              - bank-account-restriction-id
                          title: bank-account-restriction-url
                          example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw
                          description: Link to a bank account restriction.
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        update-bank-account-restriction-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-restriction-id:
                                type: string
                                format: ''
                                title: bank-account-restriction-id
                                required: true
                                name: bank-account-restriction-id
                            required:
                            - bank-account-restriction-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-restriction-id:
                                  type: string
                                  format: ''
                                  title: bank-account-restriction-id
                                  required: true
                                  name: bank-account-restriction-id
                              required:
                              - bank-account-restriction-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-restriction-id:
                                  type: string
                                  format: ''
                                  title: bank-account-restriction-id
                                  required: true
                                  name: bank-account-restriction-id
                              required:
                              - bank-account-restriction-id
                          title: update-bank-account-restriction-url
                          example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/actions/update
                          description: Link to update a bank account restriction.
                        bank-account-restriction-events-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-restriction-id:
                                type: string
                                format: ''
                                title: bank-account-restriction-id
                                required: true
                                name: bank-account-restriction-id
                            required:
                            - bank-account-restriction-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-restriction-id:
                                  type: string
                                  format: ''
                                  title: bank-account-restriction-id
                                  required: true
                                  name: bank-account-restriction-id
                              required:
                              - bank-account-restriction-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-restriction-id:
                                  type: string
                                  format: ''
                                  title: bank-account-restriction-id
                                  required: true
                                  name: bank-account-restriction-id
                              required:
                              - bank-account-restriction-id
                          title: bank-account-restriction-events-url
                          example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/events
                          description: Link to events for a bank account restriction.
                        restriction-reason-code:
                          type: string
                          title: restriction-reason-code
                          x-anyOf:
                          - type: string
                            enum:
                            - suspicious
                            - fraud-app-perpetrator
                            - customer-request
                            - dormant
                            - other
                            - terrorist-financing
                            - law-enforcement
                            - sanctions
                            - risk-appetite
                            - deceased
                            - fraud-app-victim
                            - fraud-3rd-party
                            - money-laundering
                            - fraud
                            - high-risk-pep
                            - fraud-1st-party
                          - type: string
                        restriction-type:
                          type: string
                          title: restriction-type
                          x-anyOf:
                          - type: string
                            enum:
                            - block
                            - freeze
                          - type: string
                        account-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-id:
                                type: string
                                format: ''
                                title: bank-account-id
                                required: true
                                name: bank-account-id
                            required:
                            - bank-account-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-id:
                                  type: string
                                  format: ''
                                  title: bank-account-id
                                  required: true
                                  name: bank-account-id
                              required:
                              - bank-account-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-id:
                                  type: string
                                  format: ''
                                  title: bank-account-id
                                  required: true
                                  name: bank-account-id
                              required:
                              - bank-account-id
                          title: account-url
                          example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                          description: Link to the bank account resource.
                        restriction-applied-by:
                          type: object
                          properties: {}
                          required:
                          - restriction-applied-by-type
                          title: restriction-applied-by
                          x-anyOf:
                          - type: object
                            properties:
                              restriction-applied-by-type:
                                enum:
                                - ops-user
                                type: string
                            required:
                            - restriction-applied-by-type
                            - restriction-applied-by-type
                            title: ops-user
                          - type: object
                            properties:
                              restriction-applied-by-type:
                                enum:
                                - user
                                type: string
                              user-url:
                                type: string
                                title: user-url
                                example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                                description: Link to the user.
                              user-username:
                                type: string
                                title: user-username
                                example: user@example.com
                                description: The username.
                            required:
                            - restriction-applied-by-type
                            - user-url
                            - restriction-applied-by-type
                            title: user
                      required:
                      - bank-account-restriction-url
                      - bank-account-restriction-events-url
                      - restriction-status
                      - restriction-applied-by
                      - created-at
                      - account-url
                      title: bank-account-restriction-response
                      description: A bank account restriction.
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                required:
                - bank-account-restrictions
                - links
                title: bank-account-restrictions-response
                description: A list of bank account restrictions.
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: List bank account restrictions
      operationId: getV0BankAccountsByBankAccountIdRestrictions
      x-operation-id-source: derived
    post:
      tags:
      - Bank account restrictions
      description: 'Applies a restriction to a bank account.


        ### Reason codes


        | Code | Description |

        |---|---|

        | `customer-request` | Account holder requested temporary restriction pending further instruction. |

        | `deceased` | Account holder confirmed deceased. Restricted pending estate administration. |

        | `dormant` | Account inactive for 2+ years (no customer-initiated transactions). |

        | `fraud-1st-party` | Account holder is suspected perpetrator committing fraud against Griffin or third parties. |

        | `fraud-3rd-party` | Account holder is victim of account takeover by unauthorised party. |

        | `fraud-app-perpetrator` | Account holder is perpetrator receiving fraudulent payments from victims. |

        | `fraud-app-victim` | Account holder is victim tricked into authorising payments to a fraudulent recipient. |

        | `law-enforcement` | Restricted following law enforcement request, court order, or legal obligation. |

        | `money-laundering` | Suspected money laundering detected. Restricted pending investigation. |

        | `other` | Restriction applied for reasons not covered by standard categories. |

        | `risk-appetite` | Account activity exceeds risk appetite thresholds. Restricted pending review. |

        | `sanctions` | Account holder or associated party identified on a sanctions list. Restricted pending investigation. |

        | `terrorist-financing` | Suspected terrorist financing. Restricted pending investigation. |


        ### Legal status


        | Code | Description |

        |---|---|

        | `suspected` | Restriction due to suspicion of offence. No formal charges filed. |

        | `formal-charge-filed` | Customer formally charged with an offence. Legal proceedings active. |

        | `conviction-confirmed` | Customer convicted. Deposits connected with the conviction are ineligible for FSCS compensation. |

        | `not-applicable` | Legal status not relevant (e.g. customer requests, dormant accounts). |'
      parameters:
      - required: true
        name: bank-account-id
        in: path
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  lift-bank-account-restriction-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: lift-bank-account-restriction-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/actions/lift
                    description: Link to lift a bank account restriction.
                  restriction-status:
                    type: string
                    title: restriction-status
                    x-anyOf:
                    - type: string
                      enum:
                      - lifted
                      - active
                    - type: string
                  restriction-legal-status:
                    type: string
                    title: restriction-legal-status
                    x-anyOf:
                    - type: string
                      enum:
                      - not-applicable
                      - conviction-confirmed
                      - formal-charge-filed
                      - suspected
                    - type: string
                  bank-account-restriction-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: bank-account-restriction-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw
                    description: Link to a bank account restriction.
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  update-bank-account-restriction-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: update-bank-account-restriction-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/actions/update
                    description: Link to update a bank account restriction.
                  bank-account-restriction-events-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-restriction-id:
                          type: string
                          format: ''
                          title: bank-account-restriction-id
                          required: true
                          name: bank-account-restriction-id
                      required:
                      - bank-account-restriction-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-restriction-id:
                            type: string
                            format: ''
                            title: bank-account-restriction-id
                            required: true
                            name: bank-account-restriction-id
                        required:
                        - bank-account-restriction-id
                    title: bank-account-restriction-events-url
                    example: /v0/bank/account-restrictions/ri.YmFuay1hY2NvdW50LXJlcw/events
                    description: Link to events for a bank account restriction.
                  restriction-reason-code:
                    type: string
                    title: restriction-reason-code
                    x-anyOf:
                    - type: string
                      enum:
                      - suspicious
                      - fraud-app-perpetrator
                      - customer-request
                      - dormant
                      - other
                      - terrorist-financing
                      - law-enforcement
                      - sanctions
                      - risk-appetite
                      - deceased
                      - fraud-app-victim
                      - fraud-3rd-party
                      - money-laundering
                      - fraud
                      - high-risk-pep
                      - fraud-1st-party
                    - type: string
                  restriction-type:
                    type: string
                    title: restriction-type
                    x-anyOf:
                    - type: string
                      enum:
                      - block
                      - freeze
                    - type: string
                  account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-url
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                    description: Link to the bank account resource.
                  restriction-applied-by:
                    type: object
                    properties: {}
                    required:
                    - restriction-applied-by-type
                    title: restriction-applied-by
                    x-anyOf:
                    - type: object
                      properties:
                        restriction-applied-by-type:
                          enum:
                          - ops-user
                          type: string
                      required:
                      - restriction-applied-by-type
                      - restriction-applied-by-type
                      title: ops-user
                    - type: object
                      properties:
                        restriction-applied-by-type:
                          enum:
                          - user
                          type: string
                        user-url:
                          type: string
                          title: user-url
                          example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                          description: Link to the user.
                        user-username:
                          type: string
                          title: user-username
                          example: user@example.com
                          description: The username.
                      required:
                      - restriction-applied-by-type
                      - user-url
                      - restriction-applied-by-type
                      title: user
                required:
                - bank-account-restriction-url
                - bank-account-restriction-events-url
                - restriction-status
                - restriction-applied-by
                - created-at
                - account-url
                title: bank-account-restriction-response
                description: A bank account restriction.
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '403':
          description: ''
        '404':
          description: ''
        '409':
          description: ''
        '422':
          description: ''
        '500':
          description: ''
      summary: Apply bank account restriction
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                restriction-type:
                  type: string
                  enum:
                  - block
                  - freeze
                restriction-reason-code:
                  type: string
                  enum:
                  - fraud-app-perpetrator
                  - customer-request
                  - dormant
                  - other
                  - terrorist-financing
                  - law-enforcement
                  - sanctions
                  - risk-appetite
                  - deceased
                  - fraud-app-victim
                  - fraud-3rd-party
                  - money-laundering
                  - fraud-1st-party
                restriction-legal-status:
                  type: string
                  enum:
                  - not-applicable
                  - conviction-confirmed
                  - formal-charge-filed
                  - suspected
                notes:
                  type: string
                  maxLength: 2000
              required:
              - restriction-type
              - restriction-reason-code
              - restriction-legal-status
              - notes
              title: request-apply-restriction
        required: true
      operationId: postV0BankAccountsByBankAccountIdRestrictions
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
