openapi: 3.2.0
info:
  title: Griffin Payees API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Payees
  description: 'A payee is the person or business to whom you are paying money. When you create a payee, you need to provide their name (`"account-holder"`), and their bank account number (`"account-number"`) and sort code (`"bank-id"`).


    You may also register the outcome of a Confirmation of Payee (CoP) check with your payee by supplying a `cop-request-url`.


    Read more about payees in our guides.'
paths:
  /v0/legal-persons/{legal-person-id}/bank/payees:
    get:
      tags:
      - Payees
      description: Lists payees belonging to the legal person.
      parameters:
      - in: query
        name: sort
        description: ''
        required: false
        schema:
          type: string
          enum:
          - -created-at
          - created-at
      - in: query
        name: include
        description: For each payee returned, include its Confirmation of Payee (CoP) details (if they exist) in the response under the `included` attribute.
        required: false
        x-allOf:
        - {}
        - {}
        schema:
          type: array
          items:
            enum:
            - cop-requests
            type: string
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - required: true
        name: legal-person-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  payees:
                    type: array
                    items:
                      type: object
                      properties:
                        cop-request-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              cop-request-id:
                                type: string
                                format: ''
                                title: cop-request-id
                                required: true
                                name: cop-request-id
                            required:
                            - cop-request-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                cop-request-id:
                                  type: string
                                  format: ''
                                  title: cop-request-id
                                  required: true
                                  name: cop-request-id
                              required:
                              - cop-request-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                cop-request-id:
                                  type: string
                                  format: ''
                                  title: cop-request-id
                                  required: true
                                  name: cop-request-id
                              required:
                              - cop-request-id
                          title: cop-request-url
                          example: /v0/cop-request/cp.ICBjb3AtcmVxdWVzdC1pZA
                          description: Link to a [CoP request](#tag/Confirmation-of-payee).
                        payee-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              payee-id:
                                type: string
                                format: ''
                                title: payee-id
                                required: true
                                name: payee-id
                            required:
                            - payee-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                payee-id:
                                  type: string
                                  format: ''
                                  title: payee-id
                                  required: true
                                  name: payee-id
                              required:
                              - payee-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                payee-id:
                                  type: string
                                  format: ''
                                  title: payee-id
                                  required: true
                                  name: payee-id
                              required:
                              - payee-id
                          title: payee-url
                          example: /v0/payees/pe.ICAgICAgICBwYXllZS1pZA
                          description: Link to the [payee](#tag/Payees).
                        account-number:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          title: account-number
                          pattern: ^[0-9]{8}$
                          description: A UK account number.
                          maxLength: 8
                          example: '12345678'
                          minLength: 8
                        account-holder:
                          type: string
                          minLength: 1
                          title: account-holder
                          description: The name of the [account holder](/docs/terms/account-holder).
                        legal-person-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              legal-person-id:
                                type: string
                                format: ''
                                title: legal-person-id
                                required: true
                                name: legal-person-id
                            required:
                            - legal-person-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                legal-person-id:
                                  type: string
                                  format: ''
                                  title: legal-person-id
                                  required: true
                                  name: legal-person-id
                              required:
                              - legal-person-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                legal-person-id:
                                  type: string
                                  format: ''
                                  title: legal-person-id
                                  required: true
                                  name: legal-person-id
                              required:
                              - legal-person-id
                          title: legal-person-url
                          example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                          description: A contextual link to the [legal person](#tag/Legal-persons).
                        bank-id:
                          title: bank-id
                          pattern: ^[0-9]{6}$
                          type: string
                          description: A UK sort code.
                          maxLength: 6
                          example: '123456'
                          minLength: 6
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        account-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              bank-account-id:
                                type: string
                                format: ''
                                title: bank-account-id
                                required: true
                                name: bank-account-id
                            required:
                            - bank-account-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-id:
                                  type: string
                                  format: ''
                                  title: bank-account-id
                                  required: true
                                  name: bank-account-id
                              required:
                              - bank-account-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                bank-account-id:
                                  type: string
                                  format: ''
                                  title: bank-account-id
                                  required: true
                                  name: bank-account-id
                              required:
                              - bank-account-id
                          title: account-url
                          example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                          description: Link to the bank account resource.
                        payee-status:
                          title: payee-status
                          enum:
                          - deactivated
                          - active
                          type: string
                          description: The status of the payee; you can only make payments to active payees.
                        country-code:
                          title: country-code
                          description: ISO 3166-1 alpha-2 two-letter country code.
                          minLength: 2
                          maxLength: 2
                          example: GB
                      required:
                      - account-holder
                      - account-number
                      - bank-id
                      - country-code
                      - created-at
                      - legal-person-url
                      - payee-status
                      - payee-url
                      title: payee
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                  included:
                    title: ''
                    description: Present only when the request uses the `include` parameter.
                required:
                - links
                - payees
                title: ''
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
      summary: List legal person payees
      operationId: getV0LegalPersonsByLegalPersonIdBankPayees
      x-operation-id-source: derived
    post:
      tags:
      - Payees
      description: 'Registers a new payee with a legal person.


        You may associate the outcome of a CoP request with the payee by supplying a `cop-request-url`.'
      parameters:
      - required: true
        name: legal-person-id
        in: path
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  cop-request-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        cop-request-id:
                          type: string
                          format: ''
                          title: cop-request-id
                          required: true
                          name: cop-request-id
                      required:
                      - cop-request-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          cop-request-id:
                            type: string
                            format: ''
                            title: cop-request-id
                            required: true
                            name: cop-request-id
                        required:
                        - cop-request-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          cop-request-id:
                            type: string
                            format: ''
                            title: cop-request-id
                            required: true
                            name: cop-request-id
                        required:
                        - cop-request-id
                    title: cop-request-url
                    example: /v0/cop-request/cp.ICBjb3AtcmVxdWVzdC1pZA
                    description: Link to a [CoP request](#tag/Confirmation-of-payee).
                  payee-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        payee-id:
                          type: string
                          format: ''
                          title: payee-id
                          required: true
                          name: payee-id
                      required:
                      - payee-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          payee-id:
                            type: string
                            format: ''
                            title: payee-id
                            required: true
                            name: payee-id
                        required:
                        - payee-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          payee-id:
                            type: string
                            format: ''
                            title: payee-id
                            required: true
                            name: payee-id
                        required:
                        - payee-id
                    title: payee-url
                    example: /v0/payees/pe.ICAgICAgICBwYXllZS1pZA
                    description: Link to the [payee](#tag/Payees).
                  account-number:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    title: account-number
                    pattern: ^[0-9]{8}$
                    description: A UK account number.
                    maxLength: 8
                    example: '12345678'
                    minLength: 8
                  account-holder:
                    type: string
                    minLength: 1
                    title: account-holder
                    description: The name of the [account holder](/docs/terms/account-holder).
                  legal-person-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    title: legal-person-url
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: A contextual link to the [legal person](#tag/Legal-persons).
                  bank-id:
                    title: bank-id
                    pattern: ^[0-9]{6}$
                    type: string
                    description: A UK sort code.
                    maxLength: 6
                    example: '123456'
                    minLength: 6
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-url
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                    description: Link to the bank account resource.
                  payee-status:
                    title: payee-status
                    enum:
                    - deactivated
                    - active
                    type: string
                    description: The status of the payee; you can only make payments to active payees.
                  country-code:
                    title: country-code
                    description: ISO 3166-1 alpha-2 two-letter country code.
                    minLength: 2
                    maxLength: 2
                    example: GB
                required:
                - account-holder
                - account-number
                - bank-id
                - country-code
                - created-at
                - legal-person-url
                - payee-status
                - payee-url
                title: payee
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
        '409':
          description: ''
        '422':
          description: ''
      summary: Create payee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                account-holder:
                  type: string
                  minLength: 1
                  title: account-holder
                  description: The name of the [account holder](/docs/terms/account-holder).
                account-number:
                  type: string
                  x-allOf:
                  - type: string
                  - {}
                  title: account-number
                  pattern: ^[0-9]{8}$
                  description: A UK account number.
                  maxLength: 8
                  example: '12345678'
                  minLength: 8
                bank-id:
                  title: bank-id
                  pattern: ^[0-9]{6}$
                  type: string
                  description: A UK sort code.
                  maxLength: 6
                  example: '123456'
                  minLength: 6
                cop-request-url:
                  type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      cop-request-id:
                        type: string
                        format: ''
                        title: cop-request-id
                        required: true
                        name: cop-request-id
                    required:
                    - cop-request-id
                  x-anyOf:
                  - type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        cop-request-id:
                          type: string
                          format: ''
                          title: cop-request-id
                          required: true
                          name: cop-request-id
                      required:
                      - cop-request-id
                  - type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        cop-request-id:
                          type: string
                          format: ''
                          title: cop-request-id
                          required: true
                          name: cop-request-id
                      required:
                      - cop-request-id
                  title: cop-request-url
                  example: /v0/cop-request/cp.ICBjb3AtcmVxdWVzdC1pZA
                  description: Link to a [CoP request](#tag/Confirmation-of-payee).
              required:
              - account-holder
              - account-number
              - bank-id
              title: request-create-bank-payee
        required: true
      operationId: postV0LegalPersonsByLegalPersonIdBankPayees
      x-operation-id-source: derived
  /v0/payees/{payee-id}:
    get:
      tags:
      - Payees
      description: Returns the payee details.
      parameters:
      - required: true
        name: payee-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  cop-request-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        cop-request-id:
                          type: string
                          format: ''
                          title: cop-request-id
                          required: true
                          name: cop-request-id
                      required:
                      - cop-request-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          cop-request-id:
                            type: string
                            format: ''
                            title: cop-request-id
                            required: true
                            name: cop-request-id
                        required:
                        - cop-request-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          cop-request-id:
                            type: string
                            format: ''
                            title: cop-request-id
                            required: true
                            name: cop-request-id
                        required:
                        - cop-request-id
                    title: cop-request-url
                    example: /v0/cop-request/cp.ICBjb3AtcmVxdWVzdC1pZA
                    description: Link to a [CoP request](#tag/Confirmation-of-payee).
                  payee-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        payee-id:
                          type: string
                          format: ''
                          title: payee-id
                          required: true
                          name: payee-id
                      required:
                      - payee-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          payee-id:
                            type: string
                            format: ''
                            title: payee-id
                            required: true
                            name: payee-id
                        required:
                        - payee-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          payee-id:
                            type: string
                            format: ''
                            title: payee-id
                            required: true
                            name: payee-id
                        required:
                        - payee-id
                    title: payee-url
                    example: /v0/payees/pe.ICAgICAgICBwYXllZS1pZA
                    description: Link to the [payee](#tag/Payees).
                  account-number:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    title: account-number
                    pattern: ^[0-9]{8}$
                    description: A UK account number.
                    maxLength: 8
                    example: '12345678'
                    minLength: 8
                  account-holder:
                    type: string
                    minLength: 1
                    title: account-holder
                    description: The name of the [account holder](/docs/terms/account-holder).
                  legal-person-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    title: legal-person-url
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: A contextual link to the [legal person](#tag/Legal-persons).
                  bank-id:
                    title: bank-id
                    pattern: ^[0-9]{6}$
                    type: string
                    description: A UK sort code.
                    maxLength: 6
                    example: '123456'
                    minLength: 6
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-url
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                    description: Link to the bank account resource.
                  payee-status:
                    title: payee-status
                    enum:
                    - deactivated
                    - active
                    type: string
                    description: The status of the payee; you can only make payments to active payees.
                  country-code:
                    title: country-code
                    description: ISO 3166-1 alpha-2 two-letter country code.
                    minLength: 2
                    maxLength: 2
                    example: GB
                required:
                - account-holder
                - account-number
                - bank-id
                - country-code
                - created-at
                - legal-person-url
                - payee-status
                - payee-url
                title: payee
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get payee
      operationId: getV0PayeesByPayeeId
      x-operation-id-source: derived
    patch:
      tags:
      - Payees
      description: 'Updates an existing payee.


        You can update a payee with the outcome of a CoP request by supplying a `cop-request-url`.


        A payee can be deactivated by updating the `payee-status` of an active payee to `deactivated`. Any attempt to create or submit a payment to a deactivated payee will fail.


        A 422 is served when attempting to deactivate an already-deactivated payee.'
      parameters:
      - required: true
        name: payee-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  cop-request-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        cop-request-id:
                          type: string
                          format: ''
                          title: cop-request-id
                          required: true
                          name: cop-request-id
                      required:
                      - cop-request-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          cop-request-id:
                            type: string
                            format: ''
                            title: cop-request-id
                            required: true
                            name: cop-request-id
                        required:
                        - cop-request-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          cop-request-id:
                            type: string
                            format: ''
                            title: cop-request-id
                            required: true
                            name: cop-request-id
                        required:
                        - cop-request-id
                    title: cop-request-url
                    example: /v0/cop-request/cp.ICBjb3AtcmVxdWVzdC1pZA
                    description: Link to a [CoP request](#tag/Confirmation-of-payee).
                  payee-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        payee-id:
                          type: string
                          format: ''
                          title: payee-id
                          required: true
                          name: payee-id
                      required:
                      - payee-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          payee-id:
                            type: string
                            format: ''
                            title: payee-id
                            required: true
                            name: payee-id
                        required:
                        - payee-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          payee-id:
                            type: string
                            format: ''
                            title: payee-id
                            required: true
                            name: payee-id
                        required:
                        - payee-id
                    title: payee-url
                    example: /v0/payees/pe.ICAgICAgICBwYXllZS1pZA
                    description: Link to the [payee](#tag/Payees).
                  account-number:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    title: account-number
                    pattern: ^[0-9]{8}$
                    description: A UK account number.
                    maxLength: 8
                    example: '12345678'
                    minLength: 8
                  account-holder:
                    type: string
                    minLength: 1
                    title: account-holder
                    description: The name of the [account holder](/docs/terms/account-holder).
                  legal-person-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    title: legal-person-url
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: A contextual link to the [legal person](#tag/Legal-persons).
                  bank-id:
                    title: bank-id
                    pattern: ^[0-9]{6}$
                    type: string
                    description: A UK sort code.
                    maxLength: 6
                    example: '123456'
                    minLength: 6
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-url
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                    description: Link to the bank account resource.
                  payee-status:
                    title: payee-status
                    enum:
                    - deactivated
                    - active
                    type: string
                    description: The status of the payee; you can only make payments to active payees.
                  country-code:
                    title: country-code
                    description: ISO 3166-1 alpha-2 two-letter country code.
                    minLength: 2
                    maxLength: 2
                    example: GB
                required:
                - account-holder
                - account-number
                - bank-id
                - country-code
                - created-at
                - legal-person-url
                - payee-status
                - payee-url
                title: payee
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '409':
          description: ''
        '422':
          description: ''
        '500':
          description: ''
      summary: Update payee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cop-request-url:
                  type: string
                  x-allOf:
                  - type: string
                  - {}
                  - type: object
                    properties:
                      cop-request-id:
                        type: string
                        format: ''
                        title: cop-request-id
                        required: true
                        name: cop-request-id
                    required:
                    - cop-request-id
                  x-anyOf:
                  - type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        cop-request-id:
                          type: string
                          format: ''
                          title: cop-request-id
                          required: true
                          name: cop-request-id
                      required:
                      - cop-request-id
                  - type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        cop-request-id:
                          type: string
                          format: ''
                          title: cop-request-id
                          required: true
                          name: cop-request-id
                      required:
                      - cop-request-id
                  title: cop-request-url
                  example: /v0/cop-request/cp.ICBjb3AtcmVxdWVzdC1pZA
                  description: Link to a [CoP request](#tag/Confirmation-of-payee).
                payee-status:
                  title: payee-status
                  enum:
                  - deactivated
                  type: string
                  description: The status of the payee; you can only make payments to active payees.
              title: request-update-bank-payee
        required: true
      operationId: patchV0PayeesByPayeeId
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
