openapi: 3.2.0
info:
  title: Griffin Pooled account membership API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Pooled account membership
paths:
  /v0/bank/accounts/{bank-account-id}/membership:
    get:
      tags:
      - Pooled account membership
      description: List legal persons in a pooled account membership
      parameters:
      - in: query
        name: include
        description: For each member returned, include its legal person details, latest verification (if one exists), and/or latest risk rating (if one exists) in the response under the `included` attribute.
        required: false
        x-allOf:
        - {}
        - {}
        schema:
          type: array
          items:
            enum:
            - latest-risk-rating
            - legal-person
            - latest-verification
            type: string
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - required: true
        name: bank-account-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  pool-members:
                    type: array
                    items:
                      type: object
                      properties:
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                        legal-person-url:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          - type: object
                            properties:
                              legal-person-id:
                                type: string
                                format: ''
                                title: legal-person-id
                                required: true
                                name: legal-person-id
                            required:
                            - legal-person-id
                          x-anyOf:
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                legal-person-id:
                                  type: string
                                  format: ''
                                  title: legal-person-id
                                  required: true
                                  name: legal-person-id
                              required:
                              - legal-person-id
                          - type: string
                            x-allOf:
                            - type: string
                            - {}
                            - type: object
                              properties:
                                legal-person-id:
                                  type: string
                                  format: ''
                                  title: legal-person-id
                                  required: true
                                  name: legal-person-id
                              required:
                              - legal-person-id
                          title: legal-person-url
                          description: A contextual link to the [legal person](#tag/Legal-persons).
                          example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                      required:
                      - created-at
                      - legal-person-url
                      title: pool-member
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                  meta:
                    type: object
                    properties:
                      page:
                        type: object
                        properties:
                          total:
                            type: integer
                            format: int64
                            minimum: 0
                            title: total
                            description: Total number of items. Present when the total number of items in the full result set is less than 10,000.
                          estimated-total:
                            type: object
                            properties:
                              at-least:
                                enum:
                                - 10000
                                type: integer
                                title: at-least
                                description: Present when the total number of items in the full result set exceeds 10,000. This indicates that the actual number of items is at least 10,000, but the exact total is not provided due to performance considerations.
                            title: estimated-total
                        title: page
                    title: meta
                  included:
                    type: object
                    properties:
                      verifications:
                        type: array
                        items:
                          type: object
                          properties:
                            verification-profiles-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  verification-id:
                                    type: string
                                    format: ''
                                    title: verification-id
                                    required: true
                                    name: verification-id
                                required:
                                - verification-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    verification-id:
                                      type: string
                                      format: ''
                                      title: verification-id
                                      required: true
                                      name: verification-id
                                  required:
                                  - verification-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    verification-id:
                                      type: string
                                      format: ''
                                      title: verification-id
                                      required: true
                                      name: verification-id
                                  required:
                                  - verification-id
                              title: verification-profiles-url
                              description: Get claims used in this [verification](#tag/Verifications) for all associated  [legal persons](/docs/terms/legal-person).
                              example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA/profiles
                            verification-url:
                              type: string
                              title: verification-url
                              example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA
                              description: A link to the [verification](#tag/Verifications).
                            verification-resources-url:
                              type: string
                              title: verification-resources-url
                              example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA/resources
                              description: A link to the resources of a [verification](#tag/Verifications).
                            updated-at:
                              title: updated-at
                              format: date-time
                              type: string
                              description: ISO 8601 formatted date-time.
                            legal-person-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  legal-person-id:
                                    type: string
                                    format: ''
                                    title: legal-person-id
                                    required: true
                                    name: legal-person-id
                                required:
                                - legal-person-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              title: legal-person-url
                              description: A contextual link to the [legal person](#tag/Legal-persons).
                              example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                            workflow-url:
                              type: string
                              title: workflow-url
                              example: /v0/workflows/wf.ICAgICB3b3JrZmxvdy1pZA
                              description: A link to the [workflow](/docs/terms/workflow).
                            created-at:
                              title: created-at
                              format: date-time
                              type: string
                              description: ISO 8601 formatted date-time.
                            verification-checks-url:
                              type: string
                              title: verification-checks-url
                              example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA/checks
                            risk-rating:
                              title: risk-rating
                              type: string
                              enum:
                              - high-risk
                              - prohibited-risk
                              - medium-risk
                              - low-risk
                            verification-status:
                              title: verification-status
                              type: string
                              enum:
                              - in-progress
                              - pending
                              - checks-declined
                              - checks-complete
                              - failed
                            verification-risk-assessments-url:
                              type: string
                              title: verification-risk-assessments-url
                              example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA/risk-assessments
                          required:
                          - created-at
                          - legal-person-url
                          - verification-status
                          - verification-url
                          - verification-checks-url
                          title: verification
                      risk-rating-entries:
                        type: array
                        items:
                          type: object
                          properties:
                            risk-rating-url:
                              type: string
                              title: risk-rating-url
                              example: /v0/risk-ratings/rr.ICByaXNrLXJhdGluZy1pZA
                              description: A contextual link to the risk rating.
                            risk-rating:
                              title: risk-rating
                              type: string
                              enum:
                              - high-risk
                              - prohibited-risk
                              - medium-risk
                              - low-risk
                            legal-person-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  legal-person-id:
                                    type: string
                                    format: ''
                                    title: legal-person-id
                                    required: true
                                    name: legal-person-id
                                required:
                                - legal-person-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              title: legal-person-url
                              description: A contextual link to the [legal person](#tag/Legal-persons).
                              example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                            notes:
                              type: string
                              minLength: 1
                              title: notes
                              description: Rationale for overriding the risk rating.
                            manually-created-by:
                              type: object
                              properties: {}
                              required:
                              - manually-created-by-type
                              title: manually-created-by
                              description: User that triggered this event.
                              x-anyOf:
                              - type: object
                                properties:
                                  manually-created-by-type:
                                    enum:
                                    - ops-user
                                    type: string
                                required:
                                - manually-created-by-type
                                - manually-created-by-type
                                title: ops-user
                            verification-url:
                              type: string
                              title: verification-url
                              example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA
                              description: A link to the [verification](#tag/Verifications).
                            previous-risk-rating:
                              title: previous-risk-rating
                              type: string
                              enum:
                              - high-risk
                              - prohibited-risk
                              - medium-risk
                              - low-risk
                          required:
                          - risk-rating-url
                          - risk-rating
                          - legal-person-url
                          title: risk-rating-entry
                      legal-persons:
                        type: array
                        items:
                          type: object
                          properties:
                            latest-decision:
                              type: object
                              properties:
                                decision-outcome:
                                  title: decision-outcome
                                  type: string
                                  enum:
                                  - accepted
                                  - declined
                                decision-notes:
                                  type: string
                                  title: decision-notes
                                  description: Free-text field to explain the reasons behind the decision.
                                verification-url:
                                  type: string
                                  title: verification-url
                                  example: /v0/verifications/vn.IHZlcmlmaWNhdGlvbi1pZA
                                  description: A link to the [verification](#tag/Verifications).
                                legal-person-url:
                                  type: string
                                  x-allOf:
                                  - type: string
                                  - {}
                                  - type: object
                                    properties:
                                      legal-person-id:
                                        type: string
                                        format: ''
                                        title: legal-person-id
                                        required: true
                                        name: legal-person-id
                                    required:
                                    - legal-person-id
                                  x-anyOf:
                                  - type: string
                                    x-allOf:
                                    - type: string
                                    - {}
                                    - type: object
                                      properties:
                                        legal-person-id:
                                          type: string
                                          format: ''
                                          title: legal-person-id
                                          required: true
                                          name: legal-person-id
                                      required:
                                      - legal-person-id
                                  - type: string
                                    x-allOf:
                                    - type: string
                                    - {}
                                    - type: object
                                      properties:
                                        legal-person-id:
                                          type: string
                                          format: ''
                                          title: legal-person-id
                                          required: true
                                          name: legal-person-id
                                      required:
                                      - legal-person-id
                                  title: legal-person-url
                                  description: A contextual link to the [legal person](#tag/Legal-persons).
                                  example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                                created-at:
                                  title: created-at
                                  format: date-time
                                  type: string
                                  description: ISO 8601 formatted date-time.
                                decision-maker:
                                  title: decision-maker
                                  enum:
                                  - system
                                  - ops-user
                                  - user
                                  type: string
                                  description: Indicates if the decision was automated or made by a human.
                                decision-user-url:
                                  type: string
                                  example: /v0/users/ur.ICAgICAgICAgdXNlci1pZA
                                  description: Link to the [user](#tag/Users) that made the decision (if applicable).
                                  title: decision-user-url
                                decision-ops-user:
                                  title: decision-ops-user
                                  enum:
                                  - griffin-ops-user
                                  type: string
                                  description: Indicates that an Ops user has created the decision.
                                decision-user-username:
                                  type: string
                                  example: user@example.com
                                  description: Username of the [user](#tag/Users) that made the decision (if applicable).
                                  title: decision-user-username
                              required:
                              - legal-person-url
                              - verification-url
                              - decision-outcome
                              - decision-maker
                              - decision-notes
                              - created-at
                              title: latest-decision
                              description: The most recent [decision](#tag/Decisions)
                            legal-person-type:
                              title: legal-person-type
                              enum:
                              - individual
                              - corporation
                              type: string
                              description: Specifies if the legal person is an `individual` or a `corporation`.
                            latest-risk-rating-url:
                              type: string
                              title: latest-risk-rating-url
                              example: /v0/risk-ratings/rr.ICByaXNrLXJhdGluZy1pZA
                              description: A contextual link to the risk rating.
                            display-name:
                              type: string
                              minLength: 1
                              title: display-name
                              description: A human readable label for an entity
                            application-status:
                              title: application-status
                              enum:
                              - referred
                              - errored
                              - declined
                              - submitted
                              - accepted
                              type: string
                              description: Status of the current [application](/docs/terms/application)
                            legal-person-status:
                              title: legal-person-status
                              enum:
                              - restricted
                              - onboarding-declined
                              - onboarded
                              - verified
                              - onboarding
                              type: string
                              description: Status of the [legal person](#tag/Legal-persons)
                            legal-person-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  legal-person-id:
                                    type: string
                                    format: ''
                                    title: legal-person-id
                                    required: true
                                    name: legal-person-id
                                required:
                                - legal-person-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              title: legal-person-url
                              description: A contextual link to the [legal person](#tag/Legal-persons).
                              example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                            legal-person-decisions-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  legal-person-id:
                                    type: string
                                    format: ''
                                    title: legal-person-id
                                    required: true
                                    name: legal-person-id
                                required:
                                - legal-person-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              title: legal-person-decisions-url
                              description: Link to [decisions](#tag/Decisions) for this [legal person](/docs/terms/legal-person).
                              example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/decisions
                            status-changed-at:
                              title: status-changed-at
                              format: date-time
                              type: string
                              description: ISO 8601 formatted date-time.
                            created-at:
                              title: created-at
                              format: date-time
                              type: string
                              description: ISO 8601 formatted date-time.
                            legal-person-claims-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  legal-person-id:
                                    type: string
                                    format: ''
                                    title: legal-person-id
                                    required: true
                                    name: legal-person-id
                                required:
                                - legal-person-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              title: legal-person-claims-url
                              description: Link to the [claims](#tag/Claims) for this [legal person](/docs/terms/legal-person).
                              example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/claims
                            legal-person-bank-payees-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  legal-person-id:
                                    type: string
                                    format: ''
                                    title: legal-person-id
                                    required: true
                                    name: legal-person-id
                                required:
                                - legal-person-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              title: legal-person-bank-payees-url
                              description: Link to the [payees](#tag/Payees) for this [legal person](/docs/terms/legal-person).
                              example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/bank/payees
                            legal-person-verifications-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  legal-person-id:
                                    type: string
                                    format: ''
                                    title: legal-person-id
                                    required: true
                                    name: legal-person-id
                                required:
                                - legal-person-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              title: legal-person-verifications-url
                              description: Link to all [verifications](#tag/Verifications) run against this [legal person](/docs/terms/legal-person).
                              example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/verifications
                            legal-name:
                              type: string
                              title: legal-name
                              description: A read-only, human readable label derived from claims
                            legal-person-documents-url:
                              type: string
                              x-allOf:
                              - type: string
                              - {}
                              - type: object
                                properties:
                                  legal-person-id:
                                    type: string
                                    format: ''
                                    title: legal-person-id
                                    required: true
                                    name: legal-person-id
                                required:
                                - legal-person-id
                              x-anyOf:
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              - type: string
                                x-allOf:
                                - type: string
                                - {}
                                - type: object
                                  properties:
                                    legal-person-id:
                                      type: string
                                      format: ''
                                      title: legal-person-id
                                      required: true
                                      name: legal-person-id
                                  required:
                                  - legal-person-id
                              title: legal-person-documents-url
                              description: Link to all evidence documents associated with this [legal person](/docs/terms/legal-person).
                              example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA/documents
                          required:
                          - created-at
                          - display-name
                          - legal-person-decisions-url
                          - legal-person-documents-url
                          - legal-person-type
                          - legal-person-url
                          - legal-person-verifications-url
                          title: legal-person
                    title: ''
                    description: Present only when the request uses the `include` parameter.
                required:
                - links
                - pool-members
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '403':
          description: ''
        '404':
          description: ''
      summary: List legal person in a pooled account membership
      operationId: getV0BankAccountsByBankAccountIdMembership
      x-operation-id-source: derived
  /v0/bank/accounts/{bank-account-id}/membership-updates:
    post:
      tags:
      - Pooled account membership
      description: Add and update the legal persons in a pooled account membership. Limited to 1000 legal persons per operation.
      parameters:
      - required: true
        name: bank-account-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  pooled-account-memberships-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: pooled-account-memberships-url
                    description: Link to the list of [pool members](#tag/Pooled-account-membership) associated with this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership
                required:
                - pooled-account-memberships-url
                title: update-pooled-account-memberships-response
        '400':
          description: Responds with bad-request if the body does not conform to the schema.
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '403':
          description: ''
        '404':
          description: ''
        '422':
          description: ''
      summary: Manage pooled account members
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                additions:
                  type: array
                  items:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    title: legal-person-url
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: A contextual link to the [legal person](#tag/Legal-persons).
                deletions:
                  type: array
                  items:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    title: legal-person-url
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: A contextual link to the [legal person](#tag/Legal-persons).
              required:
              - additions
              - deletions
              title: request-pooled-account-membership-updates
        required: true
      operationId: postV0BankAccountsByBankAccountIdMembershipUpdates
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
