openapi: 3.2.0
info:
  title: Griffin Invitations API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Invitations
  description: Invitations enable users to create new memberships for their organization.
paths:
  /v0/organizations/{organization-id}/invitations:
    post:
      tags:
      - Invitations
      description: '`POST` creates a new invitation to the organization.


        Sends an email invitation to join the `organization` to the specified `email-address`.'
      parameters:
      - required: true
        name: organization-id
        in: path
        schema:
          type: string
      responses:
        '201':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
        '409':
          description: ''
        '422':
          description: ''
      summary: Create invitation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email-address:
                  title: email-address
                  type: string
                  pattern: .+\@.+\..+
                  example: user@example.com
              required:
              - email-address
              title: request-create-invitation
        required: true
      operationId: postV0OrganizationsByOrganizationIdInvitations
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
