openapi: 3.2.0
info:
  title: Griffin Events API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Events
paths:
  /v0/events/{event-id}:
    get:
      tags:
      - Events
      summary: Get an event
      description: 'The event-type may be one of:


        **account-status-created**

        ```json

        {

        "event-url" : "/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw",

        "event-type" : "account-status-created",

        "event-payload" : {

        "account-url" : "/v0/bank/accounts/ba.JZjyiHUbXEOqy6YWyaR_Jw",

        "account-status" : "open"

        },

        "created-at" : "2024-01-01T13:30:00.000Z"

        }

        ```


        **account-status-updated**

        ```json

        {

        "created-at" : "2024-01-01T17:55:00.000Z",

        "event-url" : "/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw",

        "event-type" : "account-status-updated",

        "event-payload" : {

        "account-url" : "/v0/bank/accounts/ba.JZjyiHUbXEOqy6YWyaR_Jw",

        "account-status" : "closed"

        }

        }

        ```


        **admission-created**

        ```json

        {

        "event-url" : "/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw",

        "event-type" : "admission-created",

        "event-payload" : {

        "admission-status" : "processing",

        "admission-scheme-information" : {

        "payment-scheme" : "fps",

        "end-to-end-identification" : "FQ36X73Jb44ZyQE331GYuxLuWM8N85"

        },

        "payment-url" : "/v0/payments/pm.x2UcETQsU4enORzXPgL9bQ",

        "created-at" : "2024-01-01T13:20:00.123Z",

        "admission-url" : "/v0/admissions/pa.oRFnmBymXIKoknlbwroj8g",

        "unique-scheme-identifier" : "AB123456789123456N1020220426826159900 ",

        "original-unique-scheme-identifier" : "ZZ123456789123456N1020220426826159900 ",

        "account-url" : "/v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA"

        },

        "created-at" : "2024-01-01T13:30:00.000Z"

        }

        ```


        **admission-updated**

        ```json

        {

        "event-url" : "/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw",

        "event-type" : "admission-updated",

        "event-payload" : {

        "admission-status" : "delivered",

        "admission-scheme-information" : {

        "payment-scheme" : "fps",

        "end-to-end-identification" : "FQ36X73Jb44ZyQE331GYuxLuWM8N85"

        },

        "payment-url" : "/v0/payments/pm.x2UcETQsU4enORzXPgL9bQ",

        "created-at" : "2024-01-01T18:40:00.014Z",

        "admission-url" : "/v0/admissions/pa.oRFnmBymXIKoknlbwroj8g",

        "unique-scheme-identifier" : "AB123456789123456N1020220426826159900 ",

        "original-unique-scheme-identifier" : "ZZ123456789123456N1020220426826159900 ",

        "account-url" : "/v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA"

        },

        "created-at" : "2024-01-01T18:45:00.000Z"

        }

        ```


        **decision-created**

        ```json

        {

        "created-at" : "2020-01-01T00:00:00.000Z",

        "event-url" : "/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw",

        "event-type" : "decision-created",

        "event-payload" : {

        "legal-person-url" : "/v0/legal-persons/lp.7oKVYzj1V-2Y4gXEvdowYA",

        "verification-url" : "/v0/verifications/vn.yY5hFwg3URayMz6iqXQcpA",

        "decision-outcome" : "accepted",

        "decision-maker" : "system",

        "decision-notes" : "auto-accepted",

        "created-at" : "1900-01-01T00:00:00.130Z"

        }

        }

        ```


        **onboarding-application-created**

        ```json

        {

        "created-at" : "2020-01-01T00:00:00.000Z",

        "event-url" : "/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw",

        "event-type" : "onboarding-application-created",

        "event-payload" : {

        "onboarding-application-url" : "/v0/onboarding/applications/oa.frwOX_PxXnG6PDDp7n6jwQ",

        "created-at" : "1900-01-01T08:55:12.120Z",

        "workflow-url" : "/v0/workflows/wf.ESz-T8PUUfyzYDrxBIUjJg",

        "legal-person-url" : "/v0/legal-persons/lp.7oKVYzj1V-2Y4gXEvdowYA",

        "verification-url" : "/v0/verifications/vn.yY5hFwg3URayMz6iqXQcpA",

        "onboarding-application-status" : "processing"

        }

        }

        ```


        **onboarding-application-updated**

        ```json

        {

        "event-url" : "/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw",

        "event-type" : "onboarding-application-updated",

        "event-payload" : {

        "onboarding-application-url" : "/v0/onboarding/applications/oa.frwOX_PxXnG6PDDp7n6jwQ",

        "created-at" : "2024-02-03T10:00:00.000Z",

        "workflow-url" : "/v0/workflows/wf.ESz-T8PUUfyzYDrxBIUjJg",

        "legal-person-url" : "/v0/legal-persons/lp.7oKVYzj1V-2Y4gXEvdowYA",

        "verification-url" : "/v0/verifications/vn.yY5hFwg3URayMz6iqXQcpA",

        "decision-outcome" : "accepted",

        "onboarding-application-status" : "complete"

        },

        "created-at" : "2020-01-01T00:00:00.000Z"

        }

        ```


        **payment-created**

        ```json

        {

        "created-at" : "2024-01-01T15:45:00.000Z",

        "event-url" : "/v0/events/ev.d9ImQpReWO2qvCk_wMQjxw",

        "event-type" : "payment-created",

        "event-payload" : {

        "creditor" : {

        "account-url"…'
      parameters:
      - required: true
        name: event-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Fetch an event
          content:
            application/json:
              schema:
                type: object
                properties:
                  event-url:
                    type: string
                    title: event-url
                    example: /v0/events/ev.ICAgICAgICBldmVudC1pZA
                    description: Link to the [event](#tag/Events).
                  event-type:
                    title: event-type
                    enum:
                    - onboarding-application-updated
                    - decision-created
                    - payment-created
                    - transaction-created
                    - verification-updated
                    - admission-updated
                    - verification-created
                    - account-status-updated
                    - onboarding-application-created
                    - submission-created
                    - test-event
                    - admission-created
                    - verification-resource-updated
                    - account-status-created
                    - verification-resource-created
                    - submission-updated
                    type: string
                    description: The type of webhook event. Usually has the form {resource}-{operation}, e.g. payment-updated
                  event-payload:
                    type: object
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                required:
                - event-url
                - event-type
                - event-payload
                title: event
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
      operationId: getV0EventsByEventId
      x-operation-id-source: derived
  /v0/organizations/{organization-id}/events:
    get:
      tags:
      - Events
      description: List all events for an organization
      parameters:
      - in: query
        name: sort
        description: ''
        required: false
        schema:
          type: string
          enum:
          - -created-at
          - created-at
      - x-allOf:
        - type: integer
          format: int64
        - minimum: 1
          maximum: 201
        name: page[size]
        required: false
        description: ''
        in: query
        schema:
          type: integer
          format: int64
          maximum: 200
          minimum: 1
      - in: query
        name: page[before]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: page[after]
        description: A base64 encoded opaque string returned in paginated responses.
        required: false
        schema:
          type: string
          format: byte
      - in: query
        name: filter[event-type][eq]
        description: The type of webhook event. Usually has the form {resource}-{operation}, e.g. payment-updated
        required: false
        schema:
          type: string
          enum:
          - onboarding-application-updated
          - decision-created
          - payment-created
          - transaction-created
          - verification-updated
          - admission-updated
          - verification-created
          - account-status-updated
          - onboarding-application-created
          - submission-created
          - test-event
          - admission-created
          - verification-resource-updated
          - account-status-created
          - verification-resource-created
          - submission-updated
      - in: query
        name: filter[created-at][lte]
        description: Return only events with a created-at less than or equal to the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[created-at][lt]
        description: Return only events with a created-at less than the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[created-at][gte]
        description: Return only events with a created-at greater than or equal to the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[created-at][gt]
        description: Return only events with a created-at greater than the given timestamp.
        required: false
        schema:
          type: string
          format: date-time
      - required: true
        name: organization-id
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Fetch all organization events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        event-url:
                          type: string
                          title: event-url
                          example: /v0/events/ev.ICAgICAgICBldmVudC1pZA
                          description: Link to the [event](#tag/Events).
                        event-type:
                          title: event-type
                          enum:
                          - onboarding-application-updated
                          - decision-created
                          - payment-created
                          - transaction-created
                          - verification-updated
                          - admission-updated
                          - verification-created
                          - account-status-updated
                          - onboarding-application-created
                          - submission-created
                          - test-event
                          - admission-created
                          - verification-resource-updated
                          - account-status-created
                          - verification-resource-created
                          - submission-updated
                          type: string
                          description: The type of webhook event. Usually has the form {resource}-{operation}, e.g. payment-updated
                        event-payload:
                          type: object
                        created-at:
                          title: created-at
                          format: date-time
                          type: string
                          description: ISO 8601 formatted date-time.
                      required:
                      - event-url
                      - event-type
                      - event-payload
                      title: event
                  links:
                    type: object
                    properties:
                      prev:
                        type:
                        - string
                        - 'null'
                      next:
                        type:
                        - string
                        - 'null'
                    required:
                    - prev
                    - next
                    title: links
                required:
                - events
                - links
                title: organization-events-response
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
      summary: Get organizations by organization id events
      x-summary-source: derived
      operationId: getV0OrganizationsByOrganizationIdEvents
      x-operation-id-source: derived
components:
  securitySchemes:
    api-key-auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token authentication.

        It should follow the format: `GriffinAPIKey g-test-MyKey-XXXXXXX`'
x-tagGroups:
- name: Getting started
  tags:
  - API keys
  - Connectivity
  - Navigation
  - Events
  - Webhooks
  - Message Signatures
- name: Customer verifications
  tags:
  - Legal persons
  - Legal person history
  - Claims
  - Workflows
  - Verifications
  - Decisions
  - Companies House
  - Reliance onboarding
- name: Banking
  tags:
  - Bank accounts
  - Bank account events
  - Bank account restrictions
  - Bank account holds
  - Pooled account membership
  - Payments
  - Transactions
  - Payees
  - Confirmation of payee
  - Open banking
- name: Team management
  tags:
  - Organizations
  - Users
  - Roles
  - Memberships
  - Invitations
x-id:
- default
