openapi: 3.2.0
info:
  title: Griffin Bank accounts API
  version: ''
  description: '## Introduction


    The Griffin API is based on REST.'
servers:
- url: https://api.griffin.com/
security:
- api-key-auth: []
tags:
- name: Bank Accounts
  description: 'Bank accounts are used for managing funds. Every bank account is opened against a bank product, which determines the account''s behaviour (type, pooled vs dedicated, interest, notice period, etc.). Some account types are for managing your own funds and some are for managing your customers'' funds. For information, check out our guides:

    - Opening a bank account.

    - Bank products.

    - Types of bank account.'
paths:
  /v0/bank/accounts/{bank-account-id}:
    get:
      tags:
      - Bank Accounts
      description: Fetch a bank account
      parameters:
      - required: true
        name: bank-account-id
        in: path
        schema:
          type: string
      responses:
        '200':
          headers:
            Location:
              description: The URL of the bank account
              schema:
                type: string
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  account-submissions-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-submissions-url
                    description: Link to the [payment submissions](#tag/Payments) debiting from this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/submissions
                  bank-account-product-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-product-id:
                          type: string
                          format: ''
                          title: bank-product-id
                          required: true
                          name: bank-product-id
                      required:
                      - bank-product-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-product-id:
                            type: string
                            format: ''
                            title: bank-product-id
                            required: true
                            name: bank-product-id
                        required:
                        - bank-product-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-product-id:
                            type: string
                            format: ''
                            title: bank-product-id
                            required: true
                            name: bank-product-id
                        required:
                        - bank-product-id
                    title: bank-account-product-url
                    description: Link to the [bank account](#tag/Bank-accounts) product.
                    example: /v0/bank/products/bp.IGJhbmstcHJvZHVjdC1pZA
                  account-restricted:
                    type: boolean
                    title: account-restricted
                    description: Specifies whether the bank account has restrictions applied by Griffin.
                  account-payments-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-payments-url
                    description: Link to the [payments](#tag/Payments) associated with this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/payments
                  pooled-account-memberships-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: pooled-account-memberships-url
                    description: Link to the list of [pool members](#tag/Pooled-account-membership) associated with this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership
                  account-admissions-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-admissions-url
                    description: Link to the [payment admissions](#tag/Payments) crediting to this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/admissions
                  bank-product-type:
                    title: bank-product-type
                    enum:
                    - savings-account
                    - client-money-account
                    - safeguarding-account
                    - embedded-account
                    - operational-account
                    type: string
                    description: Specifies the type of bank account. (For more detail on bank account types, see our guide for [types of bank accounts](/docs/guides/types-of-bank-accounts).
                  display-name:
                    type: string
                    minLength: 1
                    title: display-name
                    description: The mutable display name for the bank account
                    maxLength: 64
                    example: Reserve a/c
                  controller-url:
                    type: string
                    title: controller-url
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: Link to the [legal person](#tag/Legal-persons) that represents the [controller](/docs/terms/controller) of the account.
                  pooled-funds:
                    type: boolean
                    title: pooled-funds
                    description: Specifies whether the bank account holds funds belonging to multiple beneficiaries.
                  accrued-interest:
                    required:
                    - currency
                    - value
                    properties:
                      currency:
                        enum:
                        - GBP
                        type: string
                        title: currency code
                        example: GBP
                      value:
                        type: string
                        title: value
                        description: The value as a decimal-formatted string
                        example: '1000.00'
                    type: object
                    additionalProperties: false
                    title: accrued-interest
                    description: Shows the [accrued interest](/docs/terms/accrued-interest).
                  account-status:
                    title: account-status
                    enum:
                    - closing
                    - open
                    - closed
                    - opening
                    type: string
                    description: Shows the status of the account. An account can be moved between statuses during its lifecycle. The status value affects the operations that you can perform. An account must be `"open"` to be fully operational.
                  client-money-type:
                    title: client-money-type
                    enum:
                    - designated-client-fund
                    - designated-client-money
                    - general-client-money
                    type: string
                    description: Specifies the type of client money account.
                  owner-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: Link to the [legal person](#tag/Legal-persons) that represents the [owner](/docs/terms/owner) of the account.
                    title: owner-url
                  closed-at:
                    title: closed-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  opened-at:
                    title: opened-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  close-account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: close-account-url
                    description: Link to the endpoint that enables account closure for this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/actions/close
                  available-balance:
                    required:
                    - currency
                    - value
                    properties:
                      currency:
                        enum:
                        - GBP
                        type: string
                        title: currency code
                        example: GBP
                      value:
                        type: string
                        title: value
                        description: The value as a decimal-formatted string
                        example: '1000.00'
                    type: object
                    additionalProperties: false
                    title: available-balance
                    description: Shows the [available balance](/docs/terms/available-balance).
                  pooled-account-membership-updates-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: pooled-account-membership-updates-url
                    description: Link to manage [pooled account membership](#tag/Pooled-account-membership)
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership-updates
                  bank-account-restrictions-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: bank-account-restrictions-url
                    description: Link to the [restrictions](#tag/Bank-account-restrictions) on this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/restrictions
                  bank-addresses:
                    type: array
                    items:
                      type: object
                      properties:
                        account-holder:
                          type: string
                          minLength: 1
                          title: account-holder
                          description: The name of the [account holder](/docs/terms/account-holder).
                        bank-id-code:
                          title: bank-id-code
                          type: string
                          enum:
                          - gbdsc
                        bank-id:
                          title: bank-id
                          pattern: ^[0-9]{6}$
                          type: string
                          description: A UK sort code.
                          maxLength: 6
                          example: '123456'
                          minLength: 6
                        account-number:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          title: account-number
                          pattern: ^[0-9]{8}$
                          description: A UK account number.
                          maxLength: 8
                          example: '12345678'
                          minLength: 8
                        account-number-code:
                          title: account-number-code
                          type: string
                          enum:
                          - bban
                      required:
                      - account-holder
                      - bank-id-code
                      - bank-id
                      - account-number
                      - account-number-code
                      title: bank-address
                    title: bank-addresses
                    description: Shows a collection of public addresses which uniquely identify the account. Any one of these can be used to pay into the account.
                  account-transactions-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-transactions-url
                    description: Link to the [transactions](#tag/Transactions) associated with this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/transactions
                  account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-url
                    description: Link to the bank account resource.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                  bank-account-events-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: bank-account-events-url
                    description: Link to the events for this bank account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/events
                  beneficiary-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: Link to the [legal person](#tag/Legal-persons) that represents the [beneficiary](/docs/terms/beneficiary) of the account.
                    title: beneficiary-url
                  primary-account:
                    type: boolean
                    title: primary-account
                    description: Specifies whether the bank account is the organization's [primary account](/docs/guides/primary-account).
                    example: false
                  account-balance:
                    required:
                    - currency
                    - value
                    properties:
                      currency:
                        enum:
                        - GBP
                        type: string
                        title: currency code
                        example: GBP
                      value:
                        type: string
                        title: value
                        description: The value as a decimal-formatted string
                        example: '1000.00'
                    type: object
                    additionalProperties: false
                    title: account-balance
                    description: Shows the [account balance](/docs/terms/account-balance).
                  savings-type:
                    title: savings-type
                    enum:
                    - easy-access
                    - bare-trust
                    type: string
                    description: Specifies the type of savings account.
                required:
                - account-balance
                - accrued-interest
                - available-balance
                - account-payments-url
                - account-admissions-url
                - account-submissions-url
                - account-transactions-url
                - account-url
                - owner-url
                - controller-url
                - display-name
                - account-restricted
                - account-status
                - bank-product-type
                - pooled-funds
                - created-at
                - primary-account
                title: bank-account
        '400':
          description: ''
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      summary: Get bank account
      operationId: getV0BankAccountsByBankAccountId
      x-operation-id-source: derived
    patch:
      tags:
      - Bank Accounts
      description: Update a bank account
      parameters:
      - required: true
        name: bank-account-id
        in: path
        schema:
          type: string
      responses:
        '200':
          headers:
            Location:
              description: The URL of the bank account
              schema:
                type: string
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  account-submissions-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-submissions-url
                    description: Link to the [payment submissions](#tag/Payments) debiting from this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/submissions
                  bank-account-product-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-product-id:
                          type: string
                          format: ''
                          title: bank-product-id
                          required: true
                          name: bank-product-id
                      required:
                      - bank-product-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-product-id:
                            type: string
                            format: ''
                            title: bank-product-id
                            required: true
                            name: bank-product-id
                        required:
                        - bank-product-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-product-id:
                            type: string
                            format: ''
                            title: bank-product-id
                            required: true
                            name: bank-product-id
                        required:
                        - bank-product-id
                    title: bank-account-product-url
                    description: Link to the [bank account](#tag/Bank-accounts) product.
                    example: /v0/bank/products/bp.IGJhbmstcHJvZHVjdC1pZA
                  account-restricted:
                    type: boolean
                    title: account-restricted
                    description: Specifies whether the bank account has restrictions applied by Griffin.
                  account-payments-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-payments-url
                    description: Link to the [payments](#tag/Payments) associated with this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/payments
                  pooled-account-memberships-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: pooled-account-memberships-url
                    description: Link to the list of [pool members](#tag/Pooled-account-membership) associated with this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership
                  account-admissions-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-admissions-url
                    description: Link to the [payment admissions](#tag/Payments) crediting to this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/admissions
                  bank-product-type:
                    title: bank-product-type
                    enum:
                    - savings-account
                    - client-money-account
                    - safeguarding-account
                    - embedded-account
                    - operational-account
                    type: string
                    description: Specifies the type of bank account. (For more detail on bank account types, see our guide for [types of bank accounts](/docs/guides/types-of-bank-accounts).
                  display-name:
                    type: string
                    minLength: 1
                    title: display-name
                    description: The mutable display name for the bank account
                    maxLength: 64
                    example: Reserve a/c
                  controller-url:
                    type: string
                    title: controller-url
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: Link to the [legal person](#tag/Legal-persons) that represents the [controller](/docs/terms/controller) of the account.
                  pooled-funds:
                    type: boolean
                    title: pooled-funds
                    description: Specifies whether the bank account holds funds belonging to multiple beneficiaries.
                  accrued-interest:
                    required:
                    - currency
                    - value
                    properties:
                      currency:
                        enum:
                        - GBP
                        type: string
                        title: currency code
                        example: GBP
                      value:
                        type: string
                        title: value
                        description: The value as a decimal-formatted string
                        example: '1000.00'
                    type: object
                    additionalProperties: false
                    title: accrued-interest
                    description: Shows the [accrued interest](/docs/terms/accrued-interest).
                  account-status:
                    title: account-status
                    enum:
                    - closing
                    - open
                    - closed
                    - opening
                    type: string
                    description: Shows the status of the account. An account can be moved between statuses during its lifecycle. The status value affects the operations that you can perform. An account must be `"open"` to be fully operational.
                  client-money-type:
                    title: client-money-type
                    enum:
                    - designated-client-fund
                    - designated-client-money
                    - general-client-money
                    type: string
                    description: Specifies the type of client money account.
                  owner-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: Link to the [legal person](#tag/Legal-persons) that represents the [owner](/docs/terms/owner) of the account.
                    title: owner-url
                  closed-at:
                    title: closed-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  opened-at:
                    title: opened-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  close-account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: close-account-url
                    description: Link to the endpoint that enables account closure for this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/actions/close
                  available-balance:
                    required:
                    - currency
                    - value
                    properties:
                      currency:
                        enum:
                        - GBP
                        type: string
                        title: currency code
                        example: GBP
                      value:
                        type: string
                        title: value
                        description: The value as a decimal-formatted string
                        example: '1000.00'
                    type: object
                    additionalProperties: false
                    title: available-balance
                    description: Shows the [available balance](/docs/terms/available-balance).
                  pooled-account-membership-updates-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: pooled-account-membership-updates-url
                    description: Link to manage [pooled account membership](#tag/Pooled-account-membership)
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership-updates
                  bank-account-restrictions-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: bank-account-restrictions-url
                    description: Link to the [restrictions](#tag/Bank-account-restrictions) on this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/restrictions
                  bank-addresses:
                    type: array
                    items:
                      type: object
                      properties:
                        account-holder:
                          type: string
                          minLength: 1
                          title: account-holder
                          description: The name of the [account holder](/docs/terms/account-holder).
                        bank-id-code:
                          title: bank-id-code
                          type: string
                          enum:
                          - gbdsc
                        bank-id:
                          title: bank-id
                          pattern: ^[0-9]{6}$
                          type: string
                          description: A UK sort code.
                          maxLength: 6
                          example: '123456'
                          minLength: 6
                        account-number:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          title: account-number
                          pattern: ^[0-9]{8}$
                          description: A UK account number.
                          maxLength: 8
                          example: '12345678'
                          minLength: 8
                        account-number-code:
                          title: account-number-code
                          type: string
                          enum:
                          - bban
                      required:
                      - account-holder
                      - bank-id-code
                      - bank-id
                      - account-number
                      - account-number-code
                      title: bank-address
                    title: bank-addresses
                    description: Shows a collection of public addresses which uniquely identify the account. Any one of these can be used to pay into the account.
                  account-transactions-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-transactions-url
                    description: Link to the [transactions](#tag/Transactions) associated with this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/transactions
                  account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-url
                    description: Link to the bank account resource.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                  bank-account-events-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: bank-account-events-url
                    description: Link to the events for this bank account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/events
                  beneficiary-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: Link to the [legal person](#tag/Legal-persons) that represents the [beneficiary](/docs/terms/beneficiary) of the account.
                    title: beneficiary-url
                  primary-account:
                    type: boolean
                    title: primary-account
                    description: Specifies whether the bank account is the organization's [primary account](/docs/guides/primary-account).
                    example: false
                  account-balance:
                    required:
                    - currency
                    - value
                    properties:
                      currency:
                        enum:
                        - GBP
                        type: string
                        title: currency code
                        example: GBP
                      value:
                        type: string
                        title: value
                        description: The value as a decimal-formatted string
                        example: '1000.00'
                    type: object
                    additionalProperties: false
                    title: account-balance
                    description: Shows the [account balance](/docs/terms/account-balance).
                  savings-type:
                    title: savings-type
                    enum:
                    - easy-access
                    - bare-trust
                    type: string
                    description: Specifies the type of savings account.
                required:
                - account-balance
                - accrued-interest
                - available-balance
                - account-payments-url
                - account-admissions-url
                - account-submissions-url
                - account-transactions-url
                - account-url
                - owner-url
                - controller-url
                - display-name
                - account-restricted
                - account-status
                - bank-product-type
                - pooled-funds
                - created-at
                - primary-account
                title: bank-account
        '400':
          description: Responds with bad-request if the body does not conform to the schema.
        '401':
          description: Requires an API key to continue
          headers:
            www-authenticate:
              description: Returns `GriffinSession` if no valid authentication is found.
              schema:
                type: string
        '404':
          description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                display-name:
                  type: string
                  minLength: 1
                  title: display-name
                  description: A human readable label for an entity
              required:
              - display-name
              title: request-update-bank-account
        required: true
      summary: Update bank accounts by bank account id
      x-summary-source: derived
      operationId: patchV0BankAccountsByBankAccountId
      x-operation-id-source: derived
  /v0/bank/accounts/{bank-account-id}/actions/close:
    post:
      tags:
      - Bank Accounts
      description: Close a bank account
      parameters:
      - required: true
        name: bank-account-id
        in: path
        schema:
          type: string
      responses:
        '200':
          headers:
            Location:
              description: The URL of the bank account
              schema:
                type: string
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  account-submissions-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-submissions-url
                    description: Link to the [payment submissions](#tag/Payments) debiting from this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/submissions
                  bank-account-product-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-product-id:
                          type: string
                          format: ''
                          title: bank-product-id
                          required: true
                          name: bank-product-id
                      required:
                      - bank-product-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-product-id:
                            type: string
                            format: ''
                            title: bank-product-id
                            required: true
                            name: bank-product-id
                        required:
                        - bank-product-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-product-id:
                            type: string
                            format: ''
                            title: bank-product-id
                            required: true
                            name: bank-product-id
                        required:
                        - bank-product-id
                    title: bank-account-product-url
                    description: Link to the [bank account](#tag/Bank-accounts) product.
                    example: /v0/bank/products/bp.IGJhbmstcHJvZHVjdC1pZA
                  account-restricted:
                    type: boolean
                    title: account-restricted
                    description: Specifies whether the bank account has restrictions applied by Griffin.
                  account-payments-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-payments-url
                    description: Link to the [payments](#tag/Payments) associated with this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/payments
                  pooled-account-memberships-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: pooled-account-memberships-url
                    description: Link to the list of [pool members](#tag/Pooled-account-membership) associated with this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership
                  account-admissions-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-admissions-url
                    description: Link to the [payment admissions](#tag/Payments) crediting to this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/admissions
                  bank-product-type:
                    title: bank-product-type
                    enum:
                    - savings-account
                    - client-money-account
                    - safeguarding-account
                    - embedded-account
                    - operational-account
                    type: string
                    description: Specifies the type of bank account. (For more detail on bank account types, see our guide for [types of bank accounts](/docs/guides/types-of-bank-accounts).
                  display-name:
                    type: string
                    minLength: 1
                    title: display-name
                    description: The mutable display name for the bank account
                    maxLength: 64
                    example: Reserve a/c
                  controller-url:
                    type: string
                    title: controller-url
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: Link to the [legal person](#tag/Legal-persons) that represents the [controller](/docs/terms/controller) of the account.
                  pooled-funds:
                    type: boolean
                    title: pooled-funds
                    description: Specifies whether the bank account holds funds belonging to multiple beneficiaries.
                  accrued-interest:
                    required:
                    - currency
                    - value
                    properties:
                      currency:
                        enum:
                        - GBP
                        type: string
                        title: currency code
                        example: GBP
                      value:
                        type: string
                        title: value
                        description: The value as a decimal-formatted string
                        example: '1000.00'
                    type: object
                    additionalProperties: false
                    title: accrued-interest
                    description: Shows the [accrued interest](/docs/terms/accrued-interest).
                  account-status:
                    title: account-status
                    enum:
                    - closing
                    - open
                    - closed
                    - opening
                    type: string
                    description: Shows the status of the account. An account can be moved between statuses during its lifecycle. The status value affects the operations that you can perform. An account must be `"open"` to be fully operational.
                  client-money-type:
                    title: client-money-type
                    enum:
                    - designated-client-fund
                    - designated-client-money
                    - general-client-money
                    type: string
                    description: Specifies the type of client money account.
                  owner-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        legal-person-id:
                          type: string
                          format: ''
                          title: legal-person-id
                          required: true
                          name: legal-person-id
                      required:
                      - legal-person-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          legal-person-id:
                            type: string
                            format: ''
                            title: legal-person-id
                            required: true
                            name: legal-person-id
                        required:
                        - legal-person-id
                    example: /v0/legal-persons/lp.IGxlZ2FsLXBlcnNvbi1pZA
                    description: Link to the [legal person](#tag/Legal-persons) that represents the [owner](/docs/terms/owner) of the account.
                    title: owner-url
                  closed-at:
                    title: closed-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  created-at:
                    title: created-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  opened-at:
                    title: opened-at
                    format: date-time
                    type: string
                    description: ISO 8601 formatted date-time.
                  close-account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: close-account-url
                    description: Link to the endpoint that enables account closure for this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/actions/close
                  available-balance:
                    required:
                    - currency
                    - value
                    properties:
                      currency:
                        enum:
                        - GBP
                        type: string
                        title: currency code
                        example: GBP
                      value:
                        type: string
                        title: value
                        description: The value as a decimal-formatted string
                        example: '1000.00'
                    type: object
                    additionalProperties: false
                    title: available-balance
                    description: Shows the [available balance](/docs/terms/available-balance).
                  pooled-account-membership-updates-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: pooled-account-membership-updates-url
                    description: Link to manage [pooled account membership](#tag/Pooled-account-membership)
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/membership-updates
                  bank-account-restrictions-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: bank-account-restrictions-url
                    description: Link to the [restrictions](#tag/Bank-account-restrictions) on this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/restrictions
                  bank-addresses:
                    type: array
                    items:
                      type: object
                      properties:
                        account-holder:
                          type: string
                          minLength: 1
                          title: account-holder
                          description: The name of the [account holder](/docs/terms/account-holder).
                        bank-id-code:
                          title: bank-id-code
                          type: string
                          enum:
                          - gbdsc
                        bank-id:
                          title: bank-id
                          pattern: ^[0-9]{6}$
                          type: string
                          description: A UK sort code.
                          maxLength: 6
                          example: '123456'
                          minLength: 6
                        account-number:
                          type: string
                          x-allOf:
                          - type: string
                          - {}
                          title: account-number
                          pattern: ^[0-9]{8}$
                          description: A UK account number.
                          maxLength: 8
                          example: '12345678'
                          minLength: 8
                        account-number-code:
                          title: account-number-code
                          type: string
                          enum:
                          - bban
                      required:
                      - account-holder
                      - bank-id-code
                      - bank-id
                      - account-number
                      - account-number-code
                      title: bank-address
                    title: bank-addresses
                    description: Shows a collection of public addresses which uniquely identify the account. Any one of these can be used to pay into the account.
                  account-transactions-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-transactions-url
                    description: Link to the [transactions](#tag/Transactions) associated with this account.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA/transactions
                  account-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    - type: string
                      x-allOf:
                      - type: string
                      - {}
                      - type: object
                        properties:
                          bank-account-id:
                            type: string
                            format: ''
                            title: bank-account-id
                            required: true
                            name: bank-account-id
                        required:
                        - bank-account-id
                    title: account-url
                    description: Link to the bank account resource.
                    example: /v0/bank/accounts/ba.IGJhbmstYWNjb3VudC1pZA
                  bank-account-events-url:
                    type: string
                    x-allOf:
                    - type: string
                    - {}
                    - type: object
                      properties:
                        bank-account-id:
                          type: string
                          format: ''
                          title: bank-account-id
                          required: true
                          name: bank-account-id
                      required:
                      - bank-account-id
                    x-anyOf:
                    - type: string
                      x-allOf:
[...]
